/*
Reset for IE
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}*/
h3 {
  word-break: break-word;
}

/*.app-bg {ƒ
    height: calc(100vh + 200px);
}*/
a.selected {
  color: #6dbcef;
  border-bottom: 1px solid #6dbcef;
}

a.disabled,
a.disabled i {
  color: grey;
  cursor: not-allowed;
}

a.disabled .caretup {
  border-bottom-color: #666;
}

.in-transit-app #main-content {
  padding-bottom: 112px;
}

.wt__panel-body {
  padding: 10px;
  background: rgb(248, 248, 248);
  border-radius: 5px;
}

.wt__box.m0 {
  margin: 0;
}

.m0 {
  margin: 0 !important;
}

.foz22 {
  font-size: 22px;
}

.foz42 {
  font-size: 42px;
}

.lh12 {
  line-height: 12px;
}

.wt__scroll-container {
  padding-bottom: 40px;
}

.btn .badge.group-btn-badge {
  position: absolute;
  right: 2px;
  top: -9px;
  padding: 3px;
  text-align: center;
}

.wt__side-nav li {
  line-height: 26px;
  list-style: none;
  margin-bottom: 3px;
}

.wt__side-nav li a {
  padding: 0px 5px;
  width: 100%;
  display: block;
}

.wt__side-nav li a.selected {
  padding: 0px 5px;
  border-radius: 3px;
}

.wt__side-nav li a:hover {
  background: #6dbcef;
  color: white;
  padding: 0px 5px;
  border-radius: 3px;
}

.wt__reports-table-wrapper {
  position: relative;
  display: block;
}

.wt__reports-table-wrapper.scroll-x .ui-grid {
  overflow-x: scroll;
}

.short-grid .cust-grid {
  /* height: 160px; */
  margin-bottom: 20px;
}

.short-grid .cust-grid .ui-grid {
  min-height: 100px;
  background: none;
}

.wt__reports-table-wrapper
  .cust-grid
  .ui-grid-pinned-container.ui-grid-pinned-container-left
  .ui-grid-cell:last-child,
.wt__reports-table-wrapper .ui-grid-header,
.wt__reports-table-wrapper .cust-grid .ui-grid-cell {
  border-bottom: none !important;
}

.wt__reports-table-wrapper .cust-grid .ui-grid {
  box-shadow: none;
}

.wt__reports-table-wrapper .single-grid .ui-grid {
  height: calc(100vh - 300px);
  min-height: 250px;
}

.wt__reports-table-wrapper
  .ui-grid-pinned-container.ui-grid-pinned-container-left {
  display: none;
}

/*
#leftNavDropdown:hover #wt__hamburger {
    background: #00AFF6;
    cursor: pointer;
}
#leftNavDropdown.btn-group.dropdown .dropdown-toggle {
    height: 50px;
    width: 50px;
    right: 0;
    top: 0;
}*/
#monitor-map {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 257px;
  z-index: 0;
  -webkit-transition: width 0.75s ease;
  -o-transition: width 0.75s ease;
  transition: width 0.75s ease;
}

.wt__custom-map .gm-style .gm-style-iw-d {
  width: 100%;
}

.wt__custom-map .tooltip-label {
  font-weight: bold;
  /* width: 25%; */
  display: inline-block;
  color: #0094d0;
}

.wt__custom-map {
  -webkit-box-shadow: -1px 0px 1.5px 0px rgba(128, 128, 128, 0.5);
  -moz-box-shadow: -1px 0px 1.5px 0px rgba(128, 128, 128, 0.5);
  box-shadow: -1px 0px 1.5px 0px rgba(128, 128, 128, 0.5);
  background: #aadaff;
}

.tooltip-inner {
  background: #eeeeee !important;
  color: #393939 !important;
  width: auto !important;
  max-width: 400px !important;
}
.tooltip.top > .tooltip-arrow {
  border-top-color: #eeeeee!important;
}
.tooltip.bottom > .tooltip-arrow {
  border-top-color: #eeeeee!important;
}
.tooltip.left > .tooltip-arrow {
  border-left-color: #eeeeee!important;
}

.tooltip.in{
  opacity: 1;
}

.main-container {
  padding: 0 0px;
  /*overflow-y: visible;*/
  /*overflow-x:hidden;*/
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.fade-in.show {
  opacity: 1;
}

.wt__footer-cta-split {
  background: #0094d0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.wt__footer-cta-split a {
  color: white;
  display: inline-block;
  padding: 4px 0px;
  width: 49.5%;
}

.wt__footer-cta-split a:hover {
  background-color: #6dbcef;
}

.wt__footer-cta-split a:first-child {
  border-right: 1px solid white;
}

.loader {
  background: none;
}

/*.wt__asset-icon {
    width: 18px;
    display: inline-block;
}*/

.large-icon,
.wt__asset-icon.large-icon {
  width: 36px;
  height: 36px;
  -webkit-background-size: 36px;
  background-size: 36px;
  display: inline-block;
}

.wt__info-card-container .wt__flex-list li span:first-child {
  flex-basis: 70%;
}

.wt__info-card-container .wt__flex-list li span:last-child {
  flex-basis: 30%;
}

#top-nav-container {
  /* z-index 99999999 puts this above modals,  */
  z-index: 99;
}

#super-admin-nav {
  position: fixed;
  width: 100%;
  max-width: 1400px;
  padding: 0;
  z-index: 99;
}

/*Monitor shipment filters*/
.wt__filter-count {
  position: absolute;
  right: 3px;
  top: 1px;
}

.shipment-listing {
  border-radius: 4px;
  padding: 2px 5px;
}

.shipment-listing:hover {
  background: #65cef7;
  color: white;
}

.shipment-listing.is-selected {
  background: #0094d0;
  color: white;
}

#shipments-filter .cl-datetimepicker .input-group .date-picker {
  max-width: 150px;
}

.intransit .wt__panel input.ship-filter {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 5;
}

.wt__panel .asset_list input {
  width: 20px;
  height: 20px;
}

/* .wt__panel .asset_list .wt__checkbox {
  padding-left: 0;
  position: relative;
  top: -4px;
} */

.shipment-counts {
  border-radius: 50%;
  background: grey;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 1px;
  /*border: 1px solid lightgrey;*/
}

.shipment-counts.ship-in-transit {
  background: gold;
}

.shipment-counts.ready-to-ship {
  background: green;
}

.shipment-counts.at-destination {
  background: #0094d0;
}

/*End Monitor shipment filters*/

.main-container.admin-mode {
  top: 157px;
}

.flex-col-10 {
  flex-basis: 10%;
}

.flex-col-20 {
  flex-basis: 20%;
}

.flex-col-25 {
  flex-basis: 25%;
}

.flex-col-30 {
  flex-basis: 30%;
}

.flex-col-35 {
  flex-basis: 35%;
}

.flex-col-40 {
  flex-basis: 40%;
}

.flex-col-50 {
  flex-basis: 50%;
}

.flex-col-60 {
  flex-basis: 60%;
}

.bb {
  border-bottom: 1px solid #ececec;
}

.bt {
  border-top: 1px solid #ececec;
}

.pr15 {
  padding-right: 15px;
}

.filter_block {
  /*width: 30%;*/
  /*float: left;*/
}

.filter_block .action-bar {
  margin-bottom: 0;
}

.filter_block .grid-page-title {
  display: none;
}

.filter_block .col-md-2.col-sm-3.col-xs-8 {
  width: 56%;
}

/*.date_filter {
    width: 23%;
    float: left;
    margin-top: 7px;
}*/
.wt__flex-row .title {
  margin: 0 5px 0 0;
  font-weight: bold;
  color: black;
  flex-basis: 45%;
}

.wt__flex-row .value {
  justify-self: flex-start;
  flex-basis: 55%;
  margin-left: auto;
}

.wt__flex-row .edt_grp_left {
  width: 15%;
  float: left;
  margin-top: 7px;
  margin-right: 25px;
}

.wt__flex-row .edt_grp_left select {
  border-radius: 4px;
}

.wt__flex-row.time_info {
  margin-top: 5px;
}

.wt__flex-row.time_info span > input {
  background: none;
  color: white;
  padding: 0;
  border: 0;
}

.scheduleRpt span > input {
  background: none;
  color: white;
  padding: 0;
  border: 0;
}

.rptBtn.btn {
  padding: 0px 8px !important;
}

.filter_block .form-control {
  height: 26px !important;
}

/*.delay_block{
    margin-top: 20px;
}*/
/*.report_days_block{
    width: 25%;
    float: left;
    margin-top: 11px;
    margin-left: 25px;
}*/
.pd5 {
  padding: 5px;
}

.report_days_block .form-group span > input {
  width: 70px;
  height: 23px;
  text-align: center;
  border-radius: 4px;
}

/*.report_search_btn{
    width: 25%;
    float: right;
    margin-top: -50px;
    margin-right: -25px;
}*/
.report_search_btn input {
  width: 70px;
  height: 28px;
  text-align: center;
  border-radius: 4px;
}

.completed_report .wt__scroll-container {
  padding-bottom: 5px;
  padding-top: 7px;
  height: calc(100vh - 300px);
  /* min-height: 200px; */
  /*max-height: 175px;*/
}

.wt__filter-table-wrapper.wt__actions-grid.sensors .cust-grid .ui-grid {
  max-height: calc(100vh - 350px) !important;
  top: -20px;
  position: relative;
}

.wt__filter-table-wrapper.wt__actions-grid.sensors .cust-grid {
  overflow: hidden;
  height: calc(100% - 75px);
}

.wt__reports-table-wrapper .shipment-filters-slider {
  left: -195px;
}

.wt__reports-table-wrapper
  .shipment-filters-slider.show-filters
  .wt__filter-panel {
  z-index: 0;
}

.wt__reports-table-wrapper .ui-grid-render-container {
  margin-left: 7px !important;
}

.wt__reports-table-wrapper .ui-grid-menu-button {
  right: -20px !important;
  height: 27px !important;
}

.wt__col-88 {
  width: 88%;
}

.wt__col-86 {
  width: 86% !important;
}
.wt__reports-table-wrapper .shipment-filters-slider {
  position: absolute !important;
}

.wt__reports-table-wrapper .shipment-filters-slider.show-filters {
  z-index: 999;
}

/*.rep_filt{
    position: relative;
    top: 20px;
}*/
/* .wt__reports-table-wrapper .shipment-filters-slider {
    position: inherit !important;
} */
/* .completereportgrid {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 87%;
    left: 15%;
} */

.completereportgrid {
  width: 82%;
  float: right;
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -ms-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
}

.completereportgrid.show-dynamic-complete-report {
  width: 100%;
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

.wt__reports-table-wrapper .ui-grid-viewport,
.wt__reports-table-wrapper .ui-grid-header-viewport {
  width: 1157.19px !important;

  /*  width: 1092.19px !important; */
}

.reports-cust-grid .ui-grid-render-container-body {
  overflow-x: scroll !important;
}

.ui-grid-top-panel {
  overflow: inherit;
}

.wt__reports-table-wrapper .ui-grid-render-container {
  min-width: 100%;
  overflow-x: scroll;
  /*  -webkit-box-shadow: inset 0 0 6px #dfdfdf;
    border-radius: 10px;
    background-color: #dfdfdf; */
}

.ui-grid-render-container::-webkit-scrollbar {
  background-color: rgba(0, 148, 208, 0.15);
  background-color: rgba(192, 192, 192, 0.5);
  outline: 1px solid lightgrey;
  border-radius: 3px;
}

.ui-grid-render-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/*.asset-path-label {
    color: red !important;
    position: absolute;
    left: 0;
}*/
.shipsum-scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  height: calc(100% - 90px);
}

.t3 {
  top: 3px;
  position: relative;
}



.mb5 {
  margin-bottom: 5px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px;
}

.mt0 {
  margin-top: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.m20 {
  margin: 20px !important;
}

.wauto {
  width: auto !important;
}

.h40 {
  height: 40px;
}

.pl20 {
  padding-left: 20px;
}

.mw-170 {
  max-width: 170px !important;
}

.wt__greyed-out {
  color: #aaa !important;
  font-weight: 200 !important;
}

.mb3 {
  margin-bottom: 3px !important;
}

.fw100 {
  font-weight: 100;
}

.lh10 {
  line-height: 10px !important;
}

.lh12 {
  line-height: 12px !important;
}

.foz10 {
  font-size: 10px !important;
  line-height: 10px;
}

.foz11 {
  font-size: 11px !important;
}

.foz12 {
  font-size: 12px !important;
}
.foz14 {
  font-size: 14px !important;
}
.foz16 {
  font-size: 16px !important;
}

.foz17 {
  font-size: 17px !important;
}

.foz18 {
  font-size: 18px !important;
}

.foz28 {
  font-size: 28px !important;
}

.flex-w270 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 270px;
}

.flex-w200 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
}

.flex-w175 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 175px;
}

.flex-w150 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 150px;
}

.m-0-5 {
  margin: 0 5px;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.lh20 {
  line-height: 20px;
}

.lh30 {
  line-height: 30px;
}

.w90 {
  width: 90% !important;
}

.form-inputs {
  overflow-y: auto;
  height: calc(100% - 200px);
}

.grid-10-90 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 10% 90%;
}

.grid-10-70-10 {
  display: grid;
  grid-gap: 10px 5px;
  grid-template-columns: 10% 70% 10%;
}

.grid-25-70 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 25% 70%;
}
.grid-30-70 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 30% 70%;
}

.grid-20-75 {
  display: grid;
  grid-gap: 5px 0px;
  grid-template-columns: 20% 75%;
  justify-items: center;
  align-items: center;
}

.grid-70-25 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 70% 25%;
}

.grid-30 {
  display: grid;
  grid-gap: 10px 5px;
  grid-template-columns: 30% 30% 30%;
}

.grid-30-40-30 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 30% 40% 30%;
}

.grid-33 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 33% 33% 33%;
}

.grid-40-60 {
  display: grid;
  grid-gap: 0px 5px;
  grid-template-columns: 40% 60%;
}

.grid-55-10 {
  display: grid;
  grid-gap: 0px 10px;
  grid-template-columns: 55% 10%;
  align-items: center;
}

.grid-1-row-50-50 {
  display: grid;
  grid-gap: 0px 0px;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

.just-left {
  justify-items: flex-start !important;
}

.m-0-20 {
  margin: 0 20px;
}

.grid-bottom-buttons {
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 10px 0 10px 20px;
  border-top: 1px solid #ddd;
}

.title {
  font-weight: bold;
  color: #0094d0;
}

.scroll-height-200 {
  height: calc(100% - 240px);
  overflow-y: auto;
}

.wt__filter-section.wt__sub-filter > i.chevron {
  display: inline-block;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.wt__filter-section.wt__sub-filter.expanded > i.chevron {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.wt__scroll-container.short-scroll {
  height: calc(100% - 1px);
}

#wt__refreshRangeSlider {
  margin-right: 15px;
}

.tooltip-container {
  display: grid;
  grid-template-columns: 35% 60%;
  grid-gap: 5%;
  font-size: 12px;
  align-content: center;
  justify-items: left;
  width: 100%;
  min-width: 130px;
  padding-top: 4px;
}

.gm-style-iw-d {
  min-height: 50px;
}

.tooltip-container.loc {
  width: 80px;
}

.address-tooltip {
  max-width: 160px;
  word-wrap: break-word;
}

.wt__filter-table-wrapper.wt__actions-grid .add-btn {
  z-index: 9;
}

.wt__filter-section > h4 > i {
  margin-right: 5px;
}
.wt__filter-section > h4 > i.position-right{
  position: absolute;
  right: 15px;
}

.wt__filter-section > h4.title-format{
  font-weight: 600;
}

.panel-bottom-buttons {
  z-index: 9;
  /* position: absolute;
  bottom: 0; */
  margin-bottom: 0;
  padding: 10px 15px 0 15px !important;
  border-top: 1px solid #ececec;
  background: white;
}

.panel-bottom-buttons .btn {
  margin: 0 !important;
}

.schedule_option {
  width: 217px;
  height: auto;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px #cac7c7;
  z-index: 9;
  position: absolute;
  background-color: #fff;
  /* position: absolute;
    right: 120px;
    top: 70px;
    overflow: auto; */
}

.schedule_cron_option {
  width: 470px;
  height: auto;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px #cac7c7;
  z-index: 9;
  position: absolute;
  background-color: #fff;
  left: -50px;
  /* position: absolute;
    right: 120px;
    top: 70px;
    overflow: auto; */
}

.schedule_cron_option > i {
  position: absolute;
  right: 0px;
  padding: 5px;
  cursor: pointer;
}

.org_drop,
.org_drop2 {
  float: left;
  position: relative;
}

.shedule_opt {
  /* padding: 10px; */
  padding: 2px 10px 10px 10px;
}

.shedule_opt .form-control {
  padding: 1px 5px !important;
  height: 28px;
}

.shedule_opt .hours,
.minutes,
.hour-types {
  width: 56px !important;
}

.shedule_opt .month-days {
  width: 125px !important;
}

.set_btn .btn-md {
  /* width: 100%; */
  width: 49%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: none;
}

.z_links ul {
  padding: 0px;
  margin: 0px;
  float: right;
}

.z_links li {
  display: inline;
  list-style-type: none;
  padding-left: 12px;
}

.z_links li a i {
  padding-right: 4px;
}

.z_links li a {
  font-weight: bold;
}

.div-block {
  display: block;
}

.dropdown-toggle {
  cursor: pointer;
}

.flex-col-33 {
  flex-basis: 33%;
  flex-grow: 0;
  flex-shrink: 0;
}

.timeline-label .wt__blue-text > a {
  color: #0094d0;
}

.pointer {
  cursor: pointer;
}

.time-editor-dropdown.open > .dropdown-menu {
  top: 18px;
}

.panel-button {
  cursor: pointer;
  display: block;
  border-radius: 8px;
}

.panel-button:hover {
  background-color: #d8ebf9;
}

.ma_subheader-container {
  display: grid;
  grid-template-columns: 8% 43% 8% 43%;
  font-size: 16px;
  margin: 15px 0 0px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.disblock {
  display: block;
}

.fa-arrow-circle-right.med {
  height: 18px;
  width: 16px;
  color: #a4a4a4;
  font-family: FontAwesome;
  font-size: 18px;
  line-height: 18px;
}

.fa-arrow-circle-right.arrow-active {
  transform: rotate(90deg);
  color: #2eb0df;
}

.fa-check-circle-o.arrow-completed.med {
  /* color: #c4b715; */
  color: #66c300;
  height: 18px;
  width: 16px;
  font-family: FontAwesome;
  font-size: 18px;
  line-height: 18px;
}

.wt__asset-grid .ui-grid-cell-contents {
  cursor: pointer;
}

.fa-circle-o.color {
  color : #c2c8d0;
}

.fa-check-circle.color {
  color: #0a8852;
}

.vert-center {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
}

.wt__info-card-container p {
  line-height: 14px;
}

.ui-grid-row:last-child .ui-grid-cell {
  border-bottom: none;
}

.ui-padding-0{
  padding: 0px !important;
}

