
.cluster-asset-count {
  background: #1860ae;
  background: #0094d0;
  position: absolute;
  top: 0;
  right: 0px;
  margin-top: -1px;
  border-radius: 50%;
  font-weight: 100;
  color: #fff;
  z-index: 3;
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
  /* text-shadow: 0 1px 0 rgba(5, 5, 5, 0.5); */
}
.cluster-asset-count.shipment {
  top: 15px;
  right: 15px;
}
.cluster-asset-count.transit {
  background: #0094d0;
  color: #fff;
  z-index: 0;
}

.cluster-asset-count.ma-zone {
  background: #7ca0af;
  color: #fff;
  z-index: 0;
}

.cluster-asset-count.zone {
  /* background: #7CA0AF; */
  background: #1860ae;
  color: #fff;
  z-index: 0;
}

.cluster-asset-count.exception {
  background: #ff2828;
  color: #fff;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  font-size: 12px;
  position: absolute;
  left: 3px;
  top: 2px;
}

.cluster-asset-count.exception:hover {
  width: 22px !important;
  height: 22px !important;
  line-height: 22px !important;
  left: 2px;
  top: 1px;
}
.alert-blob {
  position: absolute;
  z-index: 99;
}
.exception-cluster {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
}

.alert-marker:hover,
.exception-cluster:hover {
  width: 250px;
  height: 250px;
}
.alert-blob svg{
  cursor:pointer;
  display:block;
  width: 20px;
  height:20px;
}
.alert-blob:hover .cluster-tooltip,
.loc-count-shipment:hover .cluster-tooltip,
.loc-count-asset:hover .cluster-tooltip,
.single-custom-marker:hover .cluster-tooltip,
.cluster-asset-count:hover .cluster-tooltip,
.alert-marker:hover .cluster-tooltip,
.exception-cluster:hover .cluster-tooltip {
  position: absolute;
  display: block;
}

.alert-marker .cluster-tooltip {
  /* display: block; */
  top: -7px;
}

.alert-marker .cluster-tooltip body {
  font-size: 12px;
  background: #fff;
}
.cluster-tooltip {
  position: absolute;
  z-index: 21;
  top: -12px;
  left: 32px;
  min-width: 250px;
  max-width: 350px;
  display: none;
  color: #333;
  background: white;
  border-radius: 6px;
  line-height: 1.2em;
  padding: 10px 4px 15px 15px;
  text-align: left;
}
.cluster-tooltip.single-loc {
  top: -8px;
  left: 34px;
}
.cluster-tooltip.ship-excursion {
  top: -5px;
  left: -7px;
  padding-bottom: 10px;
}
.cluster-tooltip.narrow {
  min-width: 160px;
}
.cluster-tooltip:after {
  content: " ";
  position: absolute;
  left: -8px;
  top: 8px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid #fff;
}

.cluster-tooltip.shipment {
  top: -7px;
  background: white;
  color: #333;
  /* background: hsl(211, 76%, 39%); */
  min-width: 220px;

}
.cluster-tooltip.shipment h4 {
  color: hsl(211, 76%, 39%);
}
.cluster-tooltip.shipment:after {
  border-right: 10px solid #fff;
}
.cluster-tooltip.exception {
  top: -12px;
  color: #333;
  background: white;
  font-weight: 200;
}
.cluster-tooltip.exception h4 {
  color: #ff2525;
}
.cluster-tooltip.exception:after {
  border-right: 10px solid #fff;
}

.cluster-tooltip h4 {
  /* color: #; */
  font-weight: 700;
  font-size: 16px;
  border-bottom: .25px solid #ededed;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.cluster-tooltip-list {
  max-height: 160px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 16px;
}

.cluster-tooltip-list::-webkit-scrollbar {
  width: 12px;
  width: 8px;
}

/* .cluster-tooltip-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
} */

.cluster-tooltip-list::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */

  background-color: rgba(0, 148, 208, 0.15);
  background-color: rgba(192, 192, 192, 0.5);
  outline: 1px solid lightgrey;
  border-radius: 5px;
}
.cluster-title {
  position: absolute;
  width: 200px;
  top:0;
  left: 8px;
  z-index: -1;

}
.cluster-asset-count.area {
  background: #f2c16f;
  color: #fff;
}
.cluster-asset-count.exception i {
  margin-top: 2px;
}
.cluster-asset-count.combined {
  background: #4b9f46;
  color: #fff;
  /* border: 1px solid #333; */
}

.cluster-site-count {
  position: absolute;
  left: 36px;
  height: 20px;
  line-height: 19px;
  font-size: 12px;
  width: auto;
  text-transform: uppercase;
  padding: 0px 8px 0px 16px;
  z-index: 0;

  white-space: nowrap;
  text-align: left;
  width: auto;
  background-color: #f2f2f2;
  font-weight: 700;
  color: #333;
  border: 1px solid #222;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}

.cluster-site-count.transit {
  z-index: -1;
}

.cluster-area-count,
.cluster-zone-count {
  white-space: nowrap;
  position: absolute;
  width: auto;
  display: block;
  left: 58px;
  top: 20px;
  font-weight: 100;
  height: 20px;
  padding: 2px 8px 2px 8px;
  text-align: left;
  text-shadow: 2px 2px 2px #fff;
  color: #999;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  letter-spacing: 0.75em;
}

.cluster-area-count.mapping-admin,
.cluster-zone-count.mapping-admin {
  top: 16px;
  left: 58px;
}

.cluster-site-count.mapping-admin {
  padding: 2px 8px 2px 14px;
  line-height: 16px;
}

.loc-count {
  right: 12px;
  top: -9px;
  position: absolute;
  width: auto;
  padding: 0px;
  min-width: 24px;
  min-height: 24px;
  line-height: 25px;
  border: none;
  height: 24px;
  border-radius: 50%;
  /* background: #0094D0; */
  background: #1860ae !important;
  text-align: center;
}

.selected > .loc-count {
  display: none;
}

/* .single-custom-marker, */
.loc-count-shipment {
  display:block;
  cursor: pointer;
  right: 24px;
  /* left: 10px; */
  top: 14px;
  z-index: 2;
  position: absolute;
  width: auto;
  padding: 0px;
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
  height: 24px;
  border-radius: 50%;
  background: #1860ae;
  text-align: center;
}

/* .single-custom-marker, */
.loc-count-asset {
  display:block;
  cursor: pointer;
  left: 0;
  z-index: 2;
  position: absolute;
  width: auto;
  padding: 0px;
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
  height: 24px;
  border-radius: 50%;
  background: #1860ae;
  text-align: center;
}

.loc-count.zone {
  /* background: #7CA0AF !important; */
  color: #fff !important;
  right: -6px;
  top: -14px;
}

.selected > .loc-count.zone {
  color: white !important;
  background: #e9a824 !important;
  display: block;
}

/*asset monitor map styles*/
.asset-monitor-lease-marker-label{
  height: 25px;
    width: auto;
    color: #383838;
    font-family: Lato;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 13px;
    padding: 5px 10px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid #545454;
    border-radius: 4px;
    background-color: #F2F2F2;
    text-transform: uppercase;
}

.asset-monitor-assets-list-fa-icon{
  position: absolute;
  top: 5px;
  right: -100px;
  width: 100px;
  text-align: center;
  padding: 5px;
}

.shipment-monitor-assets-list-fa-icon{
  position: absolute;
  top: 5px;
  right: -67px;
  width: 100px;
  text-align: center;
  padding: 5px;
}

#shipment-monitor-summary-fa-icon{
  left: -100px;
  width: 100px;
  border-radius: 0;
  padding-left: 10px;
}

.cl-sensors .cl-monitor-filter-icon {
  position: absolute;
  top: 15px;
  left: 0px;
  z-index: 2;
  width: 70px;
  padding: 5px;
}

.asset-monitor-filter-lable{
  position: relative;
  height: 20px;
  padding-left: 5px;
}
.asset-monitor-label-icon{
  position: absolute;
  top: 5px;
  right: 5px;;
}
.monitor-filter-panel-wrapper{
  width: 175px;
}
.asset-monitor-map-control-settings{
  height: 15px;
}
/* Parent (wt_box) styles are overriding hence using  */
.asset-monitor-filter-header{
  font-size: 12px !important;
  font-weight: bold !important;
}
.asset-monitor-lease-summary-icon {
  background-repeat: no-repeat;
  -webkit-background-size: 30px;
  background-size: 30px;
  height: 30px;
  width: 30px;
  display: inline-block;
  transform: scale(1.2);
  flex-basis: 10% !important;

}
.monitor-summary-widget-icon{
  background-repeat: no-repeat;
  flex-basis: 10% !important;
}
.asset-monitor-summary-footer{
  text-align: right;
  margin-top: 15px;
  margin-right: 10px;
}