.mapping-admin.intransit .wt__detail-panel {
  width: 270px;
}

.mapping-admin .wt__panel .autoAddress-box {
  z-index: 99;
  width: 234px;
  left: -30px;
  margin-bottom: 15px;
}
.mapping-admin .wt__panel .autoAddress-box input {
  width: 99%;
}
.add-area-list-to-site{
    display: flex;
    align-items: center;
}

.add-area-list-container{
    width: 100%;
    margin-right: 10px;
}

.add-more-condtion-btn {
    background: linear-gradient(180deg, #00aff6 0%, #0094d0 100%);
    border: 0px;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .add-more-condtion-btn.is-disabled {
    background: #ebebeb;
    cursor: not-allowed;
  }

  .add-more-condtion-btn.is-disabled .fa {
    cursor: not-allowed;
  }

  .add-more-condtion-btn:focus {
    outline-width: 0px;
  }

  .add-more-condtion-btn span {
    color: white;
    font-size: 18px;
  }

  .mapping-admin-area-list-panel .wt__asset_grid .ui-grid-cell {
    height: 25px !important;
  }

  .ma-pointer-marker-type{
    font-size: 22px;
  }

  .ma_subheader-container {
    display: grid;
    grid-template-columns: 8% 43% 8% 43%;
    font-size: 16px;
    margin: 15px 0 0px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }

  .ma-site-details-container{
    height: calc(100vh - 220px);
    overflow-y: auto;
    overflow-x: hidden;
  }

#mapping-admin-area-list-for-site .wt__asset_grid .ui-grid-cell-contents:hover {
    background-color: transparent;
    color: inherit;
}

#mapping-admin-area-list-for-site .wt__asset_grid .ui-grid-cell-contents {
  position: relative;
}

#mapping-admin-area-list-for-site .wt__asset_grid .ui-grid-cell-contents .ma-area-panel-list-btn {
  position: absolute;
  top: 5px;
  right: 0;
}

