.rule-dial {
  text-align: center;
  border-radius: 12px;
  border: 1px solid #ddd;
  height: 64px;
  width: 64px;
  margin: 5px;
  padding: 5px;
  display: grid;
  grid-template-rows: 70% 30%;
  cursor: pointer;
}

.rule-dial:hover {
  -webkit-box-shadow: 1px .5px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px .5px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px .5px 1px 0px rgba(0, 0, 0, 0.5);
}

.rule-dial.isSelected {
  color: #0094d0;
  background-color: #eef6f8;
  -webkit-box-shadow: 1px .5px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px .5px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px .5px 1px 0px rgba(0, 0, 0, 0.5);
}

.rule-zone a {
  color: #444;
}

.rule-zone.isSelected a {
  font-weight: bold;
  color: #0094d0;
}

.workflow-num {
  border-radius: 50%;
  border: 1px solid #aaa;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  height: 20px;
  width: 20px;
  line-height: 18px;
}

.rule-zone.isSelected .workflow-num {
  background-color: #0094D0;
  border-color: #0094D0;
  color: white;
}

#alerts-trigger {
  width: 100%;
  height: 100%;
  position: absolute;
}

.summary-left-panel {
  position: absolute;
  width: 245px;
  height: 390px;
  right: 10px;
  /* top: 80px; */
  bottom: 0;
  z-index: 1;
  display: block;
  border: 1px solid rgba(256, 256, 256);
  background: white;
  border-right-width: 0px;
  transition: all .4s ease;
}

.summary-left-panel.open {
  border-color: #ddd;
  right: 257px;
}

.summary-bg {
  z-index: 2;
  background: #FFF;
  height: 100%;
  width: 100%;
}

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#88bfe8+0,dddddd+100 */
  background: #88bfe8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #88bfe8 0%, #dddddd 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #88bfe8 0%, #dddddd 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #88bfe8 0%, #dddddd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88bfe8', endColorstr='#dddddd', GradientType=0);
  /* IE6-9 */


  background: #d9dee0;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d9dee0 0%, #88bfe8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d9dee0 0%, #88bfe8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d9dee0 0%, hsl(206, 68%, 72%) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9dee0', endColorstr='#88bfe8', GradientType=0);
  /* IE6-9 */

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eef6f8+0,ffffff+52,e5e5e5+100 */
  background: #eef6f8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eef6f8 0%, #ffffff 52%, #f5f5f5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eef6f8 0%, #ffffff 52%, #f5f5f5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eef6f8 0%, #ffffff 52%, #f5f5f5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef6f8', endColorstr='#f5f5f5', GradientType=0);
  /* IE6-9 */


}

.map-icon-svg {
  position: absolute;
  left: -7px;
  top: -5px;
  z-index: -1;
}

.map-icon-svg.zone {
  z-index: -2;
  top: -6px;
  left: -1.5px;
  height: 32px;
  width: 24px;
}
.map-icon-svg.asset {
  left: -8px;
  top: -3px;
}
.site-icon-name {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 12px;
  min-width: 80px;
  text-transform: uppercase;
  padding: 2px 8px 2px 8px;
  z-index: 0;
  border-radius: 3px;
  white-space: nowrap;
  text-align: left;
  width: auto;
  text-shadow: 1px 1px 2px #fff;
  background: white;
  border: 1px solid #333;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.site-icon-name.asset {
  background: none;
  color: #0094d0;
  border: none;
  top: -4px;
  left: 12px;
  text-transform: capitalize;
}
.zone-icon-name {
  position: absolute;
  top: 92px;
  left: 10px;
  font-size: 10px;
  text-shadow: 1px 1px 2px #fff;
  min-width: 300px;
  width: auto;
  text-align: left;
  color: #aaa;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  letter-spacing: 1em;
}

.zone-icon-name.zone-num_1 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.zone-icon-name.zone-num_2 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}

/* .selected .zone-icon-name {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
} */
.loc-count.zone {
  color: #999;
}

.selected .loc-count.zone {
  color: white !important;
}

.wt__textarea {
  border-color: lightgrey;
  border-radius: 4px;
  width: 95%;
  padding: 5px;
}

#monitor-filters-panel-container {
  position: absolute;
  left: 10px;
  display: inline-block;
  overflow: hidden;
  width: 357px;
  z-index: 50;
  border-radius: 5px;
}

.site-cluster-icon {
  color: limegreen;
}

.zone-cluster-icon {
  color: hotpink;
}

.report-wrapper .logger-sensors-chart .nv-axislabel {
  fill: #000;
}

.report-wrapper .logger-sensors-chart .nv-y .tick line {
  display: none;
}

.anchor-disabled.wt__blue-button,
.anchor-disabled.wt__blue-button:focus,
.anchor-disabled {
  color: #a4a4a4 !important;
  cursor: not-allowed;
  background: #ebebeb !important;
  pointer-events: none;
}
