.policy-header{
  padding: 10px 10px 0px 15px;
  border-bottom: 1px solid #e7e7e7;
}
.policy-container{
  min-height: 100px;
  max-height: 400px;
}
.policy-add-condition-error{
  color: red;
  display: inline-block;
}

.policy-condtions-labels{
  font-weight: 500 !important;
}

.policy-editor.wt__detail-panel.wt__panel {
  display: block;
  height: auto;
}

.policy-editor table {
  width: 100%;
}

.policy-editor table td {
  padding: 2px 0;
  max-width: 130px;
  font-size: 12px;
}
.policies-action-list-container {
  display: flex;
  flex-wrap: wrap;
}
.policies-action-items {
  margin-right: 15px;
  margin-bottom: 10px;
}
.policies-list-loader-top{
  top: 0;
}
.policy-value-lable-container{
  padding-left: 22px;
  margin-bottom: 5px;
}
.policy-value-lable{
  font-size: 12px;
  font-weight: normal;
  word-break: break-all;
}
.policy-value-lable .policy-value-checkmark{
  width: 15px;
  height: 15px;
  top: 5px;
}
.policy-value-checkmark:after {
  left: 4px;
  top: 1px;
}
#policies-grid .wt__panel.policy-editor {
  position: absolute;
  top: 0;
  right: 0px;
  border: 1px solid #e7e7e7;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transform: translateX(100%);
}

#policies-grid .wt__panel.policy-editor.show-panel {
  transform: translateX(0);
}

#policies-grid .profiler.wt__panel.policy-editor.show-panel {
  padding-right: 10px;
}

.policy-editor {
  padding-right: 7px;
}

.policy-editor.wt__detail-panel.wt__panel {
  top: 14%;
}

.policy-editor.wt__panel.wt__detail-panel {
  width: 650px;
  height: 100%;
  color: #6b6d72;
  background: #fff;
}

.policy-condtions-labels{
  font-weight: 500 !important;
}

.policy-list-view-filter{
  border-right: 1px solid #eee;
  height: 100%;
  overflow-y: auto;
}
.role-edit-right-side-border{
  border-left: 1px solid #eee;
}

.add-more-area-btn-mapping-admin {
  background: linear-gradient(180deg, #00aff6 0%, #0094d0 100%);
  border: 0px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.add-more-area-btn-mapping-admin.is-disabled {
  background: #ebebeb;
  cursor: not-allowed;
}

.add-more-area-btn-mapping-admin.is-disabled .fa {
  cursor: not-allowed;
}

.add-more-area-btn-mapping-admin:focus {
  outline-width: 0px;
}

.add-more-area-btn-mapping-admin span {
  color: white;
  font-size: 18px;
}

.policy_flex {
  display: flex;
  align-items: center;
}
.policy_flex-space {
  justify-content: space-between;
}

#accordion-cloudleaf-managed-policies > .panel-collapse > .panel-body{
  max-height: 400px !important;
  overflow-y: auto;
}

.role-cloud-leaf-custom-polices {
  min-height: 300px;
  max-height: 400px;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.role-policies-filters-section{
  max-height: 550px;
  overflow-y: auto;
  border-right: 1px solid #eee;
}
.selected-policy-label-wrapper {
  margin-top: 10px;
  max-height: 100px;
  overflow-y: auto;
}
.selected-policy-label{
  box-shadow: 0 0 0 1px rgba(34,36,38,.15);
  padding: 2px;
  margin: 5px;
  background-color: #e8e8e8;
  background-image: none;
  border-radius: .28571429rem;
  font-size: 12px;
  display: inline-block;
}