.wt_bounds_wrapper {
    align-items: center;
    display: flex;
    margin: 12px 2px 56px 2px;
    width: 100%;
  }
  
  .wt_red_background {
    background-color: #E73F3F;
  }
  
  .wt_green_background {
    background-color: #00C500;
  }
  
  .wt_yellow_background {
    background-color: #FFEB3A;
  }
  
  .wt_bounds {
    height: 4px;
    width: 100%;
  }
  
  .wt_color_range_wrapper {
    position: relative;
  }
  
  .slider-bound {
    position: relative;
  }
  
  .bound-left:before {
    content: '';
    height: 36px;
    border: 1px solid #ccc;
    position: absolute;
    top: -2px;
    left: 0px;
  }
  
  .bound-right:before {
    content: '';
    height: 36px;
    border: 1px solid #ccc;
    position: absolute;
    top: -2px;
    right: 0px;
  }
  .bound-crit-left:before {
    content: '';
    height: 24px;
    border: 1px solid #ccc;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .bound-warning-left:before {
    content: '';
    height: 12px;
    border: 1px solid #ccc;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .bound-crit-right:before {
    content: '';
    height: 24px;
    border: 1px solid #ccc;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .bound-warning-right:before {
    content: '';
    height: 12px;
    border: 1px solid #ccc;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  
  .tick-count {
    position: absolute;
  }
  
  .left-tick-count {
    top: 34px;
    left: -2px;
  }
  
  .right-tick-count {
    top: 34px;
    right: -5px;
  }
  
  .crit-left-count {
    top: 22px;
    left: -3px;
    font-size: 12px;
  }
  .warning-left-count {
    top: 10px;
    left: -3px;
    font-size: 10px;
  }
  .crit-right-count{
    top: 22px;
    right: -5px;
    font-size: 12px;
  }
  .warning-right-count{
    top: 10px;
    right: -5px;
    font-size: 10px;
  }
  
  .wt_bounds_wrapper > .color-bar {
    flex-grow: 1;
    height: 4px;
  }

  .wt_excursion_boundary {
      width: 8px;
      height: 4px;
      background-color: #b1b1b1;
  }