.cl-shipment-report .cl-shipment-card{
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
}

.cl-shipment-report .cl-shipment-range .cl-data-picker-value .fa{
  color: #0094d0;
  font-size: 21px;
  margin-left: 5px;
}
.cl-shipment-report .cl-shipment-range .cl-data-picker-value{
  color: #7C7C7C;
  font-size: 17px;
  line-height: 21px;
  margin-left: 10px;
}
.cl-shipment-report .cl-shipment-assets .cl-shipment-asset-grid{
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
}
.cl-shipment-report .cl-shipment-assets .cl-shipment-asset-grid .cl-measure{
  height: 20px;
  width: 20px;
  position: relative;
  top: -3px;
}
.cl-shipment-report .cl-shipment-assets .cl-shipment-asset-grid .cl-measure-icon svg{
  height: 15px;
  width: 15px;
  position: relative;
  top: 3px;
}
.cl-shipment-report .cl-route-plan-center{
  top:-30px;
}

.cl-measure-icon .popover {
  z-index: 2;
}
