.shipment-detail-report .cl-logger-report {
  min-height: 400px;
}
.shipment-detail-report .center-message {
  margin-bottom: 10%;
}

.shipment-panels-container .logger-report-cont-filter {
  padding-left: 193px;
  padding-right: 28px;
}

.shipment-panels-container .logger-report-cont-nofilter {
  padding-left: 5px;
  padding-right: 26px;
}

.shipment-dashboard-shipments-widget{
  max-height: 130px;
  overflow-y: auto;
}
.shipment-dashboard-anaytics-widget{
  max-height: 250px;
  overflow-y: auto;
}

.shipment-dashboard-anaytics-widget-container {
  width: 90%;
}

.shipment-panels-container .download-btn-holder .download-btn {
  white-space: nowrap;
}

#shipment-dashboard .page-header-decor {
  margin: 0;
  position: relative;
  top: -15px;
}

#shipment-dashboard .page-title {
  margin-left: 0;
}

#shipment-dashboard .page-title.first-title {
  margin-left: 10px;
}

#shipment-dashboard .dashboard-single-col {
  padding-left: 10px;
  padding-right: 10px;
}

#shipment-dashboard .single-box-row {
  border-radius: 4px;
  background-color: white;
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  padding: 6px 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
}

#shipment-dashboard .dashboard-card {
  height: 400px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

#shipment-dashboard .dashboard-col {
  padding-left: 10px;
  padding-right: 10px;
}

#shipment-dashboard .nvd3 text {
  font-weight: 400;
}

#shipment-dashboard .nvd3 .nv-x .nv-axis line {
  display: none;
}
#shipment-dashboard .line-chart-component .nv-x .nv-axis > g > g.tick > text,
#shipment-dashboard .multibar-chart-component .nv-x .nv-axis > g > g.tick > text {
  text-anchor: middle !important;
  word-break: break-word;
}

/*#shipment-dashboard .area-chart-component .nv-area {
  fill-opacity: 0.3 !important;
  stroke-width: 1.3 !important;
}

#shipment-dashboard .area-chart-component .nvd3.nv-stackedarea path.nv-area {
  stroke-opacity: 1;
}*/
#shipment-dashboard .multibar-chart-component .nvd3 .nv-multibar .nv-groups rect,
#shipment-dashboard .line-chart-component .nv-groups .nv-point {
  cursor: pointer;
}

#shipment-dashboard .area-chart-component .nv-area {
  fill-opacity: 0.9 !important;
}

#shipment-dashboard .area-chart-component .nv-groups .nv-point {
 /* stroke-opacity: 1;
  fill-opacity: 1;*/
  display: block;
  cursor: pointer !important;
}

#shipment-dashboard .area-chart-component .nv-groups .nv-point.hover {
  stroke-width: 7px;
}

#shipment-dashboard .area-chart-component .nv-area.hover {
  fill-opacity: 0.85 !important;
}

#shipment-dashboard .snapshot-section .pie-graph .nvd3 .nv-legend text {
  font-weight: 400;
  font-size: 14px;
  fill: #666666;
}

#shipment-dashboard .snapshot-section .pie-graph .nv-pie .nv-slice {
  cursor: pointer;
}

#shipment-dashboard .graph-title {
  font-size: 18px;
  color: #7c7c7c;
  padding-top: 10px;
}

#shipment-dashboard .nvd3 .nv-y .nv-axislabel {
  font-size: 12px;
  color: #343434;
  font-weight: 600;
}

/*#shipment-dashboard .nvd3.nv-lineChart .nv-x .tick line {
  transform: rotate(180deg) !important;
}*/

#shipment-dashboard .nvd3.nv-multiBarHorizontalChart .nv-y .nv-zeroLine, #shipment-dashboard .nvd3.nv-multiBarHorizontalChart .nv-y .tick line {
  display: none;
}

.snapshot-section .shipment-risks {
  /*width: 230px;*/
}

.snapshot-section .shipment-risks .risk-box {
  padding: 5px;
  color: #777777;
}

.snapshot-section .shipment-risks .risk-count {
  font-size: 20px;
  line-height: 29px;
  color: #0071C1;
}

.snapshot-section .shipment-risks .risk-label {
  font-size: 14px;
  line-height: 15px;
}

.snapshot-section .shipment-risks .fa-level-up {
  color: #FF1313;
}

.snapshot-section .shipment-risks .fa-level-down {
  color: #66bb0a;
}

.snapshot-section .shipment-risks-footer-text {
  background-color: #fff;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.snapshot-section .shipment-risks-footer-hr {
  margin-top: -8px;
  border-top: 1px solid #828282;
}

#shipment-dashboard .no-data, .snapshot-section .no-data {
  color: #ccc;
  font-size: 18px;
  font-weight: 700;
}

#shipment-dashboard .nv-noData {
  margin-top: 30px !important;
  text-align: center !important;
}


#shipment-dashboard .dashboard-single-col .shipment-count {
  font-size: 20px;
  line-height: 24px;
  color: #777777;
  margin-right: 5px;
}

#shipment-dashboard .dashboard-single-col .data-picker-value {
  color: #7C7C7C;
  font-size: 17px;
  line-height: 21px;
  margin-left: 10px;
}

#shipment-dashboard .dashboard-single-col .fa {
  color: #0094d0;
  font-size: 21px;
  margin-left: 5px;
}

.snapshot-section .double-row {
  height: 320px;
}

.snapshot-section .double-row .double-col {
  height: 300px;
}

.snapshot-section html-bar {
  width: 100%;
}

.snapshot-section html-bar .shipment-bar-single-row{
  margin-top: 7px;
}
.snapshot-section html-bar .bar-label {
  font-size: 12px;
}
.snapshot-section html-bar .bar-number {
  font-size: 18px;
  line-height: 18px;
  color: #0071C1;
  text-align: right;
}

.snapshot-section .grid-50-50 {
  grid-row-gap: 10px;
}

.snapshot-section .progress {
  border-radius: 3px;
  margin-bottom: 0px;
}
.snapshot-section .progress-bar {
  border-radius: 3px;
}

.dashboard.snapshot-section .wt__carousel-container {
  height: 200px;
}
.lease-dashboard.dashboard.snapshot-section .wt__carousel-container {
  height: 120px;
}

.dashboard.snapshot-section .wt__carousel-container .wt__info-card{
  height: 180px;
}

.dashboard.snapshot-section .wt__carousel-container .wt__lease-card{
  height: auto;
}

.dashboard.snapshot-section .excursions-card .progress{
  height: 16px;
}
.sl__filter-container{
  overflow: hidden;
  display: block;
  position: relative;
  width: 217px;
}

.sl__filter-container.hideFilter{
  width: 20px;
}
.sl__filter-container .shipment-list-filter{
  transform: translateX(0);
  position:absolute;
  height: 100%;
  width: 217px; 
}
.sl__filter-container.hideFilter .shipment-list-filter{
  transform: translateX(-100%);
}
.cl-inventory-filter{
  transition: all 0.25s;
  box-sizing: content-box;
  height: 100%;
}
.cl-inventory-filter.cl-inventory-filter-toogle {
  padding-left: 0;
  opacity: 0;
  width: 0;
}
.cl-inventory-filter .h6 label+span{
  font-weight: normal;
}
.cl-inventory-filter + .cl-filter-icon {
  position: absolute;
  top: 15px;
  right: -18px;
  background: white;
  z-index: 2;
  padding: 5px;
  border-radius: 0 3px 3px 0;
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
}
.cl-inventory-filter .cl-filter-close-icon{
  position: relative;
  top: -20px;
  right: 15px;
}
.cl-inventory-filter .wt__scroll-container{
 padding-bottom: 0 !important;
}
.cl-shipments .action-bar{
  /* margin-left: 15px !important; */
}

.cl-shipments alert-icon svg{
  height: 15px;
  width: 15px;
}

.cl-shipments .align-grid-header-name {
  padding-left: 26px;
}
.cl-shipment-editor .cl-flight-seperator{
  border-bottom: 1px solid #efefef;
}
.cl-shipment-editor .cl-user-groups{
  overflow: auto;
  height: 400px;
}
.cl-shipment-detail-activity .line-chart-component .nvd3 .nv-axis .nv-axisMaxMin text{
  font-weight: 100;
}
.cl-shipment-detail-activity .cl-export-pdf{
  position: fixed;
  top: 0px;
  left: 0;
  z-index: -11;
  border: 0.5px solid;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  opacity: 0;
}

.cl-shipment-detail-activity .line-chart-component .nv-axisMax-y text,
.cl-shipment-detail-activity .cl-export-pdf .line-chart-component .nv-axisMax-y text{
  transform: translateY(8px) !important;
}

#cl-shipment-report .asset_list h5 {
  z-index: 1;
}
.cl-shipment-profiles{
  position: relative;
}
.cl-shipment-profile .cust-grid .ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
  border-right: 0 !important;
}
.cl-shipment-profiles .cl-inline-action-btns {
  display:flex;
  position: relative;
}
.first-col-select-grid .ui-grid-cell-contents.info-selected a.selected {
  border-bottom: 0 !important;
}
.cl-shipment-profiles .cl-inline-action-btns .fa {
  font-size: 18px;
  line-height: 18px;
}
.cl-shipment-profiles .cl-shipment-profile{
  position: absolute;
  right: -50vw;
  top: 40px;
  border-radius: 5px;
  width: 45vw;
  z-index: 9;
  height: calc(100vh - 180px);
  transition: right 1s;
  opacity: 0;
}
.cl-shipment-profiles .cl-shipment-editor-opened .cl-shipment-profile{
  right: 15px;
  opacity: 1;
}
.cl-shipment-profiles .cl-shipment-profile .route-plan,
.no-progress-bar .route-plan {
  width: 100%;
}
.cl-shipment-profiles .cl-shipment-profile .route-plan .timeline-centered,
.no-progress-bar .route-plan .timeline-centered {
  margin: 10px 0 25px;
}
.cl-shipment-profiles .cl-shipment-profile .route-plan .timeline-centered .timeline-entry .timeline-entry-inner,
.no-progress-bar .route-plan .timeline-centered .timeline-entry .timeline-entry-inner,
#route-panel-for-report .route-plan .timeline-centered .timeline-entry .timeline-entry-inner {
  min-height: 30px;
}
.cl-shipment-profiles .cl-shipment-profile .route-plan .timeline-label,
.no-progress-bar .route-plan .timeline-label {
  margin-top: 5px !important;
}
.cl-ddl-placeHolder{
  font-size: 9px;
  font-weight: normal;
  padding-left: 2px;
  color:#808080;
  letter-spacing: 0.1px;
  margin-bottom: 0px;
  position: absolute;
  top: 54px;
  z-index: -9;
}

.cl-shipperList-ddl{
  border: 1px solid #cccccc;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 5px;
  padding: 5px 0;
  top: 46px !important;
  width: 95%;
}

.cl-shipperList-item{
  line-height: 25px;
  color: black;
  background-color: #fff;
  padding: 0px 5px;
  width: 100%;
}

.cl-shipperList-item:hover, .cl-shipperList-item:active {
  background: rgba(0, 162, 228, 1);
  color: white;
}


.shipment-summary-panel-name{
  font-weight: bold;
  font-size: 14px;
  color: #868686;
}
.shipment-summary-panel-key{
  font-weight: bold;
  font-size: 14px;
}
.shipment-summary-panel-value{
  font-size: 14px;
}
#search-continer-shipment-monitor{
  position: relative;
}

#search-continer-shipment-monitor button{
  padding: 0;
  height: 31px;
  position: absolute;
  top: -1px;
}

.shipment-dashboard-filter-list-container{
  display: flex;
  align-items: center;
}

.shipment-dashboard-filter-list-sort{
  height: 30px;
}

.shipment-dashboard-filter-list-sort .sort-btn {
  padding: 3px 9px;
  margin-left: 3px;
  margin-top: 2px;

}

.shipment-dashboard-filter-list-sort .dropdown-menu {
  top: 55px !important;
}
.shipment-dashboard-filter-list-sort .sort-carrier-drop-down{
  right: 50px;
  left: auto;
  top: auto !important;
  z-index: 9;
}

.shipment-dashboard-filter-list-sort .dropdown-menu .sort-text{
  padding: 3px 22px;
  font-weight: bolder;
  color: black;
}

#search-continer-shipment-monitor .cross-icon{
  padding: 0;
  height: 31px;
  position: absolute;
  top: -1px;
}
#shipment-monitor-map-control-settings{
  align-items: center;
  height: 20px;
}
.shipment-dashboard-active-shipment-widget{
  max-height: 145px;
  overflow-y: auto;
}

.shipment-dashboard-active-shipment-widget html-bar{
  margin-bottom: 3px;
  display: inline-block;
}

#search-continer-shipment-monitor .cl-ps-ui-select.ui-select-container .ui-select-no-choice.dropdown-menu{
  height: 25px !important;
  padding-top: 0;
  text-align: center;
}

.cl-tracking-details {
  color: #555555;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.14px;
  line-height: 22px;
}

.cl-text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.shipment-details-header-section{
  display: flex;
  align-items: center;
}

.shipment-details-header-section .shipment-details-header{
  max-width: 300px;
}

.shipment-details-header-section .shipment-details-header h4{
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.shipment-list-action-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.shipment-list-action-bar .action-bars{
  width: calc(100% - 200px);
}

.shipment-tags-section{
  border-left: 0.5px solid #7C7C7C;
}
#showRuleSet .ui-select-choices{
  height: 120px;
}

.shipment-dashboard-taglit-items{
  max-height: 40px;
  overflow-y: auto;
}

.displaySelectedTextSpan{
  width: 60%;
  text-align: center;
  margin-top: -10px;
}

.displaySelectedText{
  z-index: 2;
  padding: 5px 20px 5px 20px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 2px 2px #d8d8d8;
  border-radius: 2px;
}

.error-modal .modal-dialog{
  width: 500px;
}

.displayErrorCount{
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

.displayErrorHeight{
  max-height: 250px !important;
  min-height: 50px !important;
}

.displayErrorGrid{
  display: grid;
  height: 2.5em;
  grid-gap: 0px 10px;
  line-height: 1em;
  font-size: 12px;
  align-items: center;
  grid-template-columns: minmax(110px, 25%) minmax(110px, 75%);
}
.errorBody:nth-child(odd) {  
  background:#f4f4f4;  
}  

.fw-bold {
  font-weight: bold;
}
