.cl-shipment-editor .cl-shipment-editor-container{
  height: calc(100vh - 344px);
  padding-top: 10px;
}
.cl-shipment-editor .cl-overflow-y{
  overflow-y: auto;
}
.cl-shipment-editor .cl-categories{
  min-height: 50px;
  max-height: 150px;
}
.cl-shipment-editor .cl-text-strike:hover span.cl-selected-asset{
  text-decoration: line-through;
  cursor: pointer;
}
.cl-shipment-editor .cl-text-strike span.cl-asset-remove{
  visibility: hidden;
}
.cl-shipment-editor .cl-text-strike:hover span.cl-asset-remove{
  visibility: visible;
}
.cl-shipment-editor .cl-route-section{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.cl-shipment-editor .cl-shipment-editor-container .ui-select-container ul.ui-select-choices{
  opacity: 1 !important;
}

.cl-shipment-editor .cl-parcel-shipment-editor .cl-shipment-editor-container .cl-asset-selected{
  /* background-color: rgb(223, 237, 249); TODO Need to check in themes
  border-color: rgb(153, 231, 227); */
  border-width: 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: solid;
}

.cl-shipment-editor .cl-parcel-shipment-editor .cl-shipment-editor-container .cl-auto-complete div.angucomplete-holder input{
  height: 20px !important;
  font-size: 12px;
}

.cl-shipment-editor .cl-parcel-shipment-editor .cl-shipment-editor-container .cl-ps-ui-select.ui-select-container .ui-select-no-choice.dropdown-menu{
  height: 25px !important;
  padding-top: 0;
  text-align: center;
}
.cl-shipment-editor .cl-parcel-shipment-editor .cl-shipment-editor-container .cl-shipment-parcel-assets tr td{
  border-top: 0 !important;
  padding-top: 0px !important;
}
.cl-shipment-editor .cl-parcel-shipment-editor .cl-shipment-editor-container .cl-shipment-parcel-assets tr td:first-child{
  width: 10px !important;
}
