ul.step-progress {
  list-style: none;
}
ul.step-progress li.step {
  height: 50px;
  position: relative;
}
ul.step-progress li.step:before {
  position: absolute;
  content: " ";
  width: 1px;
  border: 1px solid #979797;
  height: 50px;
  z-index: 0;
  box-sizing: border-box;
}
.dashed:before {
  border-style: dashed !important;
}
div ul.step-progress li.step:last-child:before {
  height: 0 !important;
}
ul.step-progress li.step .step-status {
  position: relative;
  left: -7px;
  top: -2px;
  z-index: 1;
  background-color: transparent;
}
ul.step-progress li.step .step-content {
  position: relative;
  top: -22px;
  z-index: 1;
  padding-left: 20px;
}
ul.step-progress li.step .step-content div {
  line-height: 16px;
}
.cl-grey-Oval {
  box-sizing: border-box;
  height: 21px;
  width: 21px;
  border: 3px solid #b7b7b7;
  background-color: #eaeaea;
  content: " ";
  border-radius: 50%;
  margin-left: -2px;
}
.cl-yellow-Oval {
  box-sizing: border-box;
  height: 21px;
  width: 21px;
  border: 3px solid #bddbf3;
  background-color: #f5a623;
  content: " ";
  border-radius: 50%;
  margin-left: -2px;
}
.step-orange:before {
  background-color: orange !important;
}
.step-green:before {
  background-color: green !important;
}
.step-red:before {
  background-color: red !important;
}
.color-violation {
  color: #ff4400;
}
.text-bold {
  font-weight: bold;
}
.mt-12 {
  margin-top: -12px;
}
.opacity05 {
  opacity: 0.5;
}
.cl-completed-circle {
  background: white;
  border: 2px solid #bbc92f;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  margin-left: -2px;
}
.cl-completed-circle i {
  vertical-align: super;
  font-size: 15px;
  margin: 1px 0px 0 2px;
  color: #bbc92f;
}

.cl-current-circle {
  background: white;
  border: 3px solid #bddbf3;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-left: -3.5px;
}
.cl-current-circle i {
  vertical-align: super;
  font-size: 18px;
  margin: 0 0 0 1px;
  color: #ff4400;
}
.cl-tracking-panel-div {
  height: 270px;
  overflow-y: auto;
  margin-top: 10px;
  padding-bottom: 0px !important;
}
.cl-tracking-panel-div ul {
  margin-left: 10px;
  margin-top: 15px !important;
}
.cl-tracking-text {
  font-size: 16px;
  height: 28px;
  line-height: 28px;
  color: #555555;
}
.cl-tracking-icon-div {
  width: 40px;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 15px;
}
.cl-tracking-icon-div i {
  font-size: 22px;
  margin: 7px 9px;
  color: #0099dd;
}

.cl-tracking-icon-div .expand-details{
  font-size: 16px;
  margin: 7px 9px 0px 12px;
  color: #0099dd;
}

.cl-tracking-list-icon-div {
  width: 25px;
  height: 25px;
  margin-left: 24px;
  margin-top: 25px;
}

.cl-tracking-icon-div-expand-text{
  height: 12px;
  color: #0071C1;
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 0.12px;
  line-height: 14px;
  text-align: center;
  display: table-cell;
  padding-left: 2px;
}

.cl-tracking-list-icon-div i {
  font-size: 12px;
  margin: 6px 5px;
  color: #0099dd;
}

.cl-expand-details {
  color: #0071c1;
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 0.12px;
  line-height: 11px;
}
.cl-tracking-status {
  color: #444444;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
}
.cl-tracking-date {
  color: #595959;
  font-family: Lato;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}

.cl-tacking-heading {
  height: 24px;
  width: 76px;
  color: #555555;
  font-family: Lato;
  font-size: 20px;
  letter-spacing: 0.21px;
  line-height: 24px;
}

.cl-tracking-refresh {
  position: absolute;
  top: -25px;
  right: 30px;
}

.cl-tracking-location-div {
  width: auto;
  max-width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 3px;
}

.cl-cube-panel-div {
  width: 12%;
}

.cl-tracking-div {
  width: 88%;
}

.cl-Asset-ddl {
  width: 50%;
}

.wt_div-90 {
  width: 90%;
}

@media (min-width: 980px) {
  .cl-tracking-loader {
    left: 25%;
  }
}

.wt__detail-panel-content .cl-tracking-text {
  font-size: 15px;
}

.wt__detail-panel-content .cl-tracking-panel-div {
  height: auto;
  margin-top: 10px;
  padding-bottom: 0px !important;
}

.wt__detail-panel-content .cl-cube-panel-div {
  width: 20%;
}

.wt__detail-panel-content .cl-tracking-div {
  width: 80%;
}

.cl-For-Asset {
  color: #555555;
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 0.12px;
  line-height: 13px;
  text-align: right;
  margin-right: 5px;
  width: 62px;
  margin-top: 2px;
}
