.displayForTablet {
  display: block !important;
}

#cl-shipment-route .timeline-centered {
  margin: auto !important;
  width: 25px !important;
  top: 5px !important;
  bottom: 10px !important;
  left: -2% !important;
}

#cl-shipment-route .timeline-centered .timeline-entry.begin {
  min-height: 40px;
}

#cl-shipment-route .timeline-centered .timeline-entry .timeline-entry-inner {
  height: 100% !important;
  min-height: 40px;
}

#cl-shipment-route .loc-icon {
  height: 100% !important;
}

#cl-shipment-route .loc-icon:before {
  left: 10px !important;
  top: 9px !important;
  width: 1px !important;
  height: calc(100% - 1px) !important;
}

#cl-shipment-route .loc-icon.past-leg:before {
  height: 100% !important;
  top: 21px !important;
}

#cl-shipment-route .timeline-entry {
  width: auto !important;
  /* height: 270px !important; */
  max-height: 300px !important;
}

#cl-shipment-route .route-address.center {
  left: 15px !important;
  width: 90% !important;
}

#cl-shipment-route .routeTransport.route-progress i {
  padding: 3.5px 5px !important;
  left: -2px !important;
}

#cl-shipment-route .timeline-label {
  position: absolute !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  left: -140px !important;
  text-align: right !important;
}

#cl-shipment-route .timeline-label .route-address {
  text-align: right !important;
  left: 180px !important;
}

#cl-shipment-route .route-address.end {
  right: auto !important;
}

#cl-shipment-route .route-address {
  width: 130% !important;
  top: 0px !important;
}
#cl-shipment-route .timeline-entry.last-wp {
  height: auto !important;
  margin-bottom: 0px !important;
}

#cl-shipment-route .current-progress-line {
  height: auto;
  top: 8px !important;
  left: 9px !important;
  width: 2px;
  transition: height 2s ease !important;
}

#cl-shipment-route .current-progress-line:after {
  transform: rotate(90deg) !important;
  right: -7px !important;
  top: auto !important;
  bottom: 5px !important;
}

#cl-shipment-route .address-scroll {
  height: 30px !important;
  padding-right: 10px !important;
  display: block !important;
  text-align: left !important;
  width: 100% !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

#cl-shipment-route .route-title {
  color: #555 !important;
  font-size: 12px !important;
  text-align: left !important;
}

#cl-shipment-route .distance-display {
  display: block !important;
  position: absolute !important;
  font-size: 12px !important;
  width: 200px !important;
  text-align: center !important;
  margin-left: -210px !important;
  top: 0px !important;
}
#cl-shipment-route .routeTransport.travel-mode-indicator .icon {
  left: 0px !important;
}

#cl-shipment-route .routeTransport {
  margin-left: -1px !important;
  height: auto !important;
}

.cl-route-div {
  height: 300px;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 0px;
}
.cl-For-Asset {
  color: #555555;
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 0.12px;
  line-height: 13px;
  text-align: right;
  margin-right: 5px;
  width: 62px;
  margin-top: 2px;
}
.wt__detail-panel-content .cl-tracking-text {
  font-size: 15px;
}

.wt__detail-panel-content .cl-route-div {
  height: auto;
  overflow: inherit;
  margin-top: 10px;
  padding-bottom: 0px !important;
}

.wt__detail-panel-content .cl-Asset-ddl {
  width: 65%;
}
.cl-Asset-ddl {
  width: 50%;
}

.wt__detail-panel-content .timeline-label {
  left: 25px !important;
}

.wt__detail-panel-content #cl-shipment-route .timeline-centered {
  left: -20% !important;
}

.wt__detail-panel-content #cl-shipment-route .distance-display {
  width: 85px !important;
  margin-left: -100px !important;
  margin-top: -15px;
}
.wt__detail-panel-content #cl-shipment-route .route-address {
  width: 100% !important;
}
.route_Text{
  width: 75%;
  margin-top: 6px;
  text-align: right;
}

@media (min-width: 980px) {
  .cl-tracking-loader {
    left: 25%;
  }
}

@media (max-width: 980px) {
  .cl-route-div {
    height: 290px;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  #cl-shipment-route .route-address {
    width: 100% !important;
  }
}
