
.wt__super-header {
  width: 100%;
}

.wt__popout-group {
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  /*z-index: 10;*/
}

.wt__popout-group .wt__highlight-link {
  min-width: 100px
}

.wt__popout-component {
  border-radius: 4px;
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-sizing: border-box;

  position: absolute;
  z-index: 99;

  top: -500px;
  left: 200px;

  padding: 0;
  display: block;
  width: 360px;
  margin: -20px 10px 20px 40px;

}

.wt__popout-container.status {
  width: 220px;
}

.wt__popout-list {
  display: block;
  padding: 10px 20px;
  margin: 0;
  top: 0;
  z-index: 11;
  position: relative;
  max-height: 0px;
  opacity: 0;
  width: 360px;
  overflow-y: auto;
  overflow-x: visible;
  -webkit-transition: all .45s ease;
  -moz-transition: all .45s ease;
  -ms-transition: all .45s ease;
  -o-transition: all .45s ease;
  transition: all .45s ease;
}

.wt__popout-list.show-popout {
  min-height: 180px;
  max-height: 280px;
  opacity: 1;
}

.wt__popout-container:before {
  position: absolute;
  margin-left: -19px;
  /*left: 0;*/
  top: 10px;
  display: block;
  z-index: 13;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #888 transparent transparent;
}

.wt__popout-container:after {
  position: absolute;
  z-index: 14;
  margin-left: -19px;
  /*left: 0;*/
  top: 10px;
  display: block;

  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #fff transparent transparent;
}


.wt__popout-list ul {
  list-style: none;
}

.wt__popout-list li {
  clear: both;
  height: 36px;
  margin-bottom: 15px;
}

.cl-actions-container{
  position: absolute;
  top: -50px;
  width: 112px;
}

.cl-property-actions{
  position: absolute;
  right: -50px;
  top : -50px
}

.cl-property-body{
  height : calc(100vh - 230px);
  overflow-y: auto;
  overflow-x: hidden;
}
