/*For Edge browser*/

@supports (-ms-ime-align: auto) {

  /* Microsoft EdgeV13&14 CSS styles go here */
  .wt__box.wt__map {
    margin-bottom: 50px;
  }

  label.wt__checkbox {
    font-weight: 500;
    display: inline-block;
  }

  .wt__scroll-container h4 i {
    margin-right: 1em;
  }

  .cust-grid .ui-grid-selection-row-header-buttons {
    /*border: 1px solid #000000;*/
    border-radius: 2px;
  }

  .cust-grid .ui-grid-row-selected.ui-grid-selection-row-header-buttons,
  .cust-grid .ui-grid-all-selected.ui-grid-selection-row-header-buttons {
    border: 1px solid #c7c7c7;
  }

  .wt__checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
  }

  .wt__checkbox input:checked ~ .checkmark {
    border: 1px solid #c7c7c7;
  }

  .wt__statusbar-slider-container {
    position: relative;
    top: 0px;
  }

  .wt__scroll-filter-container {
    -ms-overflow-y: auto;
  }

  .wt__thermometer-bar {
    left: 56px;
    border-radius: 2px;
    bottom: 25px;
  }

  .wt__thermometer-drop {
    height: 11px;
    left: 52px;
    border-radius: 50%;
    bottom: 17px;
  }


  .wt__filter-section.expanded > .wt__list-wrapper {
    display: inline;
  }
}


/* For IE11 */

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  input[type=range] {
    padding: 0;
    height: 10px;
  }

  .wt__location-graph {
    flex-basis: 48.5%;
  }

  .cust-grid .ui-grid-selection-row-header-buttons {
    /*background-color: #000000;*/
    /*border: 1px solid #000000;*/
    border-radius: 2px;
  }

  .cust-grid .ui-grid-row-selected.ui-grid-selection-row-header-buttons,
  .cust-grid .ui-grid-all-selected.ui-grid-selection-row-header-buttons {
    border: 1px solid #c7c7c7;
  }

  .wt__checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
  }

  .wt__checkbox input:checked ~ .checkmark {
    border: 1px solid #c7c7c7;
  }

  .wt__statusbar-slider-container {
    position: relative;
    top: 0px;
  }

  .asset-details-card .wt__statusbar-slider-container {
    position: relative !important;
    top: 0px;
  }

  .wt__scroll-filter-container {
    -ms-overflow-y: auto;
  }

  .wt__flex-row .h6 {
    margin-left: 7px;
  }

  .wt__thermometer-bar {
    width: 3px;
    left: 56px;
  }

  .wt__thermometer-drop {
    width: 11px;
    height: 11px;
    left: 52px;
  }

  .wt__filter-section.expanded > .wt__list-wrapper {
    display: inline;
  }

  .wt__slide-panel.wt__col-33 {
    flex-basis: 32.33%;
  }
}

/* Chrome 29+ only */

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {

  .ui-grid-canvas {
    padding-top: 0px;
  }
}

@supports (-moz-appearance:none) {

  /*Firefox*/
  #search-content,
  #main-content {
    padding-bottom: 10px;
  }

  .ui-grid {
    min-height: 300px;
  }

  .wt__panel.wt__filter-panel h4 {
    padding-right: 7px;
  }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  /* IE10+ CSS styles go here */
  #search-content,
  #main-content {
    padding-bottom: 10px;
  }

  .ui-grid {
    min-height: 300px;
  }

  .wt__panel.wt__filter-panel h4 {
    padding-right: 7px;
  }
}

@supports (-ms-accelerator:true) and (-ms-ime-align: auto) {

  /* IE Edge 12+ CSS styles go here */
  #search-content,
  #main-content {
    padding-bottom: 10px;
  }

  .ui-grid {
    min-height: 300px;
  }

  .wt__panel.wt__filter-panel h4 {
    padding-right: 7px;
  }

  .wt__scroll-container h4 i {
    margin-right: .5em;
  }
}

/*For Edge browser*/

@supports (-ms-ime-align: auto) {

  /* Microsoft EdgeV13&14 CSS styles go here */
  label.wt__checkbox {
    font-weight: 500;
    display: inline-block;
  }

  .cust-grid .ui-grid-selection-row-header-buttons {
    /*background-color: #000000;*/
    /*border: 1px solid #000000;*/
    border-radius: 2px;
  }

  .cust-grid .ui-grid-row-selected.ui-grid-selection-row-header-buttons,
  .cust-grid .ui-grid-all-selected.ui-grid-selection-row-header-buttons {
    border: 1px solid #c7c7c7;
  }

  .wt__checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
  }

  .wt__checkbox input:checked ~ .checkmark {
    border: 1px solid #c7c7c7;
  }

  .wt__statusbar-slider-container {
    position: relative;
    top: 0px;
  }

  .wt__scroll-filter-container {
    -ms-overflow-y: auto;
  }

  .wt__thermometer-bar {
    position: absolute;
    z-index: 3;
    width: 3px;
    left: 56px;
    border-radius: 2px;
    bottom: 15px;
    transition: height .5s ease;
  }

  .wt__thermometer-drop {
    position: absolute;
    z-index: 3;
    width: 11px;
    height: 11px;
    left: 52px;
    border-radius: 50%;
    bottom: 10px;
  }


  .wt__filter-section.expanded > .wt__list-wrapper {
    display: inline;
  }
}


