
body {
  padding-top: 55px;
}

.breadcrumb {
  padding: 0px 14px;
  margin: 6px;
  font-size: 12px;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #eeeeee;
  color: #000000;
}

tr.clickableRow {
  cursor: pointer;
}

.list-inline li {
  padding-left: 30px;
  padding-right: 30px;
}

.marker_badge {
  border-width: 2px;
  border-style: solid;
  border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
  box-shadow: 1px 1px 1px black;
  color: white;
  height: 26px;
  padding: 4px 3px 0 3px;
  text-align: center;
  min-width: 24px;
}

.secondary-nav .navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.secondary-nav .navbar .navbar-collapse {
  text-align: center;
  max-height: 40px;
}

.secondary-nav .navbar {
  margin-bottom: 0;
}

/* Today datas */

.today-datas {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.today-datas li {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 1.5em 1em;
  background-color: #f8f8f8;
  background: #f8f8f8;
  border: 1px solid #ccc;
  max-width: 100%;
  text-align: center;
}

.today-datas li .spark {
  margin-right: 10px;
}

.today-datas li .datas-text {
  font-size: 13px;
  padding: 7px 0 0 0;
  font-weight: normal;
}

.today-datas li .datas-text span {
  display: block;
  font-size: 24px;
  margin-bottom: 5px;
}

.today-datas li i {
  font-size: 50px;
  margin-right: 10px;
}

.today-datas li .dial {
  margin-right: 10px !important;
}

/* Background colors */


.blightblue {
  border: 0 !important;
}

.bblue {
  border: 0 !important;
}

.bgreen {
  border: 0 !important;
}

.borange {
  border: 0 !important;
}

.blightblue h2, .blightblue h3, .blightblue h3, .blightblue h4, .blightblue h5, .blightblue h6,
.bblue h2, .bblue h3, .bblue h3, .bblue h4, .bblue h5, .bblue h6,
.bgreen h2, .bgreen h3, .bgreen h3, .bgreen h4, .bgreen h5, .bgreen h6,
.bred h2, .bred h3, .bred h3, .bred h4, .bred h5, .bred h6,
.bviolet h2, .bviolet h3, .bviolet h3, .bviolet h4, .bviolet h5, .bviolet h6,
.borange h2, .borange h3, .borange h3, .borange h4, .borange h5, .borange h6 {
  color: #fff !important;
}

.blightblue a,
.bblue a,
.bgreen a,
.bred a,
.borange a,
.bviolet a {
  color: #eee !important;
}

.blightblue a:hover,
.bblue a:hover,
.bgreen a:hover,
.bred a:hover,
.borange a:hover,
.bviolet a:hover {
  color: #ddd !important;
}

/* Text colors */

.check-margin10 {
  margin-left: 10px;
}

.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.nav-tabs-m > li {
  height: 90px;
}

.nav-tabs-m > li > a, .nav-tabs-m > li > a > div {
  height: 100%;
  display: table;
}

.nav-tabs-m > li > a span {
  display: table-cell;
  vertical-align: middle;
}

.vgap {
  margin: 10px;
}

p.capitalize {
  text-transform: capitalize;
}

.nv-point {
  fill-opacity: 1 !important;
}

.form-group.required .control-label:after {
  content: " *";
  color: red;
}


