@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);


h1 {
  font-size: 96px;
  margin-top: .3em;
  margin-bottom: 0;
}

h1 + h2 {
  margin-top: 0;
}

h2 {
  font-weight: 400;
  font-size: 28px;
}

h1, h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}


#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.source {
  display: inline-block;
  height: 40px;
  width: 400px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.menu {
  display: inline-block;
  height: 30px;
  width: 360px;
  margin-bottom: 20px;
  margin-left: -40px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#hour-chart {
  width: 270px;
}

#delay-chart {
  width: 270px;
}

#distance-chart {
  width: 270px;
}

#date-chart {
  width: 810px;
}

#trip-list {
  min-height: 1024px;
}

#trip-list .date,
#trip-list .day {
  margin-bottom: .4em;
}

#trip-list .trip {
  line-height: 1.5em;
  background: #eee;
  width: 640px;
  margin-bottom: 1px;
}

#trip-list .time {
  color: #999;
}

#trip-list .trip div {
  display: inline-block;
  width: 100px;
}

#trip-list div.distance,
#trip-list div.delay {
  width: 160px;
  padding-right: 10px;
  text-align: right;
}

#trip-list .early {
  color: green;
}

aside {
  position: absolute;
  left: 740px;
  font-size: smaller;
  width: 220px;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}
