body {
  background-color: #f8f8f8;
}

.form-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
.clLogin {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tablet {
  position: absolute;
  top: 61px;
  left: 2px;
  width: 584px;
  height: 404px;
  background: #f8f8f8 url(../images/newbrandshot-ipad-07.png) no-repeat right top;
  background-size: cover;
  z-index: -1;
}

.header {
  height: 70px;
  background-color: #4b4e52;
  border-bottom: 1px solid #000000;
  margin-bottom: 60px;
}

#logo_container {
  margin-bottom: 20px;
  margin-left: 26px;
  margin-top: 51px;
}

#logo_container img {
  width: 100%;
  max-width: 450.75px;
}

.login-logo {
  text-align: center;
}

.slogan {
  font-size: 28px;
  color: #4b4e52;
  margin-top: 61px;
}

#loginForm {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 5vw;
  overflow: hidden;
  min-width: 400px;
}

#loginForm.show-full-page {
  margin-top: 24px;
}

#loginForm .alert {
  margin-top: 20px;
}

#form-container {
  padding: 0 35px;
}

.control-label {
  color: #383838;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
}

/* .form-control {
    background-color: #ffffff;
    border: 1px solid #8c8c92;
    border-radius: 4px;
    height: 38px;
    line-height: 38px;
} */
.login-button {
  height: 50px;
  text-align: center;
  padding: 0;
}

#login,
#setPass {
  padding: 6px 21px;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25); */
  border-radius: 3px;
  background: linear-gradient(180deg, #00aff6 0%, #0094d0 100%);
  border: none;
}

.forget-password {
  color: #0094d0;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  padding-top: 5px;
}

.forget-password:hover {
  color: #0094d0;
  text-decoration: none;
}

.input-group-addon {
  background: #fff;
}

.find-out-more-btn {
  border-color: #4b4e52;
  font-size: 20px;
  font-weight: bold;
  padding: 9px 10px;
  background-color: #ffffff;
  margin-left: 50px;
}

.find-out-more-btn,
.find-out-more-btn:link,
.find-out-more-btn:hover,
.find-out-more-btn:active,
.find-out-more-btn:visited {
  color: #4e7694;
  text-decoration: none;
}

#footer-container {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
  margin: 10px -15px auto;
  color: #4c7695;
  font-size: 18px;
  font-weight: normal;
}

.login-form-footer {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
  margin: 10px -15px auto;
  color: #4c7695;
  font-size: 18px;
  font-weight: normal;
  clear: both;
}

.login-form-footer:before {
  content: "";
  display: block;
  height: 1px;
  background-color: #a8b3b8;
  box-shadow: 0 1px 0 0 #ffffff;
  position: relative;
  top: -22px;
}

.sign-up-btn {
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  background: linear-gradient(180deg, #f1ebeb 0%, #e4e4e4 100%);
  color: #0094d0;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}

.sign-up-btn:hover {
  color: #0094d0;
}

#footer-container:before {
  content: "";
  display: block;
  height: 1px;
  background-color: #a8b3b8;
  box-shadow: 0 1px 0 0 #ffffff;
  position: relative;
  top: -17px;
}

.tablet-image {
  padding-top: 51px;
}

.tablet-image img,
.tablet-xs-img img {
  width: 100%;
  height: 100%;
}

.login-form-continer {
  position: absolute;
  right: 10%;
  top: 45px;
  width: 40%;
  min-width: 450px;
  z-index: 1;
  padding: 0px;
}
.login-form-continer.show-full-page {
    position: absolute;
    right: 0;
    left: 0;
    top: 0px;
    width: 40%;
    min-width: 450px;
    z-index: 1;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.login-title {
  font-size: 20px;
  font-weight: bold;
  font-family: Lato;
}

.toggle-password {
  margin-left: -29px;
  margin-top: 10px;
  position: relative;
  z-index: 2;
  color: #a4a4a4;
  font-size: 18px;
  cursor: pointer;
}

.sign-up-txt {
  color: #555555;
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
}

.reset-pass-page .form-control,
#formLogin .form-control {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  font-family: Lato;
}

.emailMessageInfo {
  padding-bottom: 35px;
}

.tablet-logo {
  min-height: 100px;
}

.p0 {
  padding: 0 !important;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-24 {
  font-size: 24px;
}
.fw-bold {
  font-weight: bold;
}
.bullet-list > span {
  display: block;
  position: relative;
  padding-left: 15px;
}
.bullet-list>span:before {
  position: absolute;
  content: '';
  left: 0;
  top: 8px;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
  border: 1px solid #000;
}
.login-carousel {
  height: 400px;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.clLogin .carousel-indicators li {
  border: 1px solid #ccc;
}
.grid-40-60 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 40% 60%;
}
.grid-60-40 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 60% 40%;
}
.grid-70-25 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 70% 25%;
}
.ml-40 {
  margin-left:40px;
}
.h100p {
  height: 100%;
}
.carousel-inner img {
  display: block;
  width: 100%;
  height: 100%;
}
.align-center {
  justify-content: center;
}
.login-header-wrapper {
  width: 100%;
  margin: 0 auto;
  height: 80px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.login-header-bar {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}
.login-logo {
  width: 400px;
}
.login-logo img {
  height: 40px;
}
.info-cards {
  width: 80%;
  margin: 0 auto;
}
.info-cards > div {
  flex-basis: 30%;
}
.info-cards img {
  width: 100%;
  height: 150px;
}
/* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
