/* fix horizontal scrollbar */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

#main-content > .top-panel {
  overflow-x: hidden;
  /*min-height: 100vh;*/
}

.top-panel {
  border: 0;
}

.upload-hint {
  font-size: 12px;
}

.table > tbody > tr > td.action,
.table > tbody > tr > th.action,
.table > tfoot > tr > td.action,
.table > tfoot > tr > th.action,
.table > thead > tr > td.action,
.table > thead > tr > th.action {
  text-align: center;
}

.table > tbody > tr > td.action,
.table > tfoot > tr > td.action,
.table > thead > tr > td.action {
  width: 40px;
}

.table > tbody > tr > td.action.clear-width,
.table > tfoot > tr > td.action.clear-width,
.table > thead > tr > td.action.clear-width {
  width: auto;
}

.table > tbody > tr > td.action.disabled i {
  color: lightgray;
}

.table tr > th.checkbox-cell,
.table tr > td.checkbox-cell {
  text-align: center;
  align: center;
  width: 50px;
}

div.panel.panel-extra {
  border: 2px;
}

div.panel-heading div.container-selection {
  float: left;
  padding-top: 6px;
  border: none;
}

h4.chart-title {
  padding-top: 7.5px;
  padding-right: 20px;
}
.chart-title.panel-title {
  margin-left: 8px;
  margin-top: 2px;
}

i.datetime {
  font-size: 12px;
}

div.button-container {
  float: right;
}

div.row-count {
  margin-bottom: 10px;
}

div.row-count div.total {
  font-size: 30px;
}

#search_bar .advancedSearchBox > div {
  position: relative;
  height: 100%;
  margin-right: 20px;
}

#search_bar .advancedSearchBox > div > input {
  position: absolute;
  left: 0px;
  /*width: auto !important;*/
  padding: 0px;
  right: 30px;
  min-width: 100px;
}

div.modal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.modal-backdrop {
  height: 100%;
  opacity: 0.3 !important;
}

.action-bar-list {
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
  margin-right: 0px;
}

.action-bar-list-anchor:focus {
  outline: none !important;
}

.action-bar-list-anchor {
  user-select: none !important;
}

.action-bar-list > .action-bar-list-li {
  list-style: none;
  float: left;
}

.action-bar-list > .action-bar-list-li:hover {
  cursor: pointer;
}

.action-bar-list > .action-bar-list-li:last-child {
  border-right: none;
}

.action-bar-list > .action-bar-list-li:last-child > div {
  font-size: 16px;
  margin: 0px 10px;
  vertical-align: top;
}

ul.action-bar-list > .action-bar-list-li > .action-bar-list-anchor {
  font-size: 16px;
  margin: 8px 10px;
}

@media (max-width: 767px) {
  ul.action-bar-list > .action-bar-list-li > .action-bar-list-anchor {
    font-size: 16px;
    margin: 0px;
  }

  /*.action-bar-list{
	    float: left !important;
	    padding:0px;
	}*/
}

.loader {
  position: absolute;
  top: 101px;
  bottom: 0px;
  width: 100%;
  left: 0px;
  z-index: 2;
}

.mini > .spinner {
  margin: 5% auto;
}

.mini {
  top: 280px;
}

.shock > .spinner {
  margin: 5% auto;
}

.shock {
  top: 32px;
}

.rounded-badge {
  display: inline-block;
  min-width: 5px;
  padding: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 6px;
}

/* TODO:: Check with Siva if this block has been removed, as it is in develop branch, but not in this branch */
.legends > ul {
  padding: 0px;
  list-style: none;
  float: right;
}

.legends > ul > li {
  float: left;
  padding-left: 8px;
  font-size: 12px;
  padding-right: 8px;
  border-right: 1px dashed #e4e4e4;
  color: #656565;
  line-height: 14px;
  vertical-align: middle;
}

.legends > ul > li:last-child {
  border-right: none;
}

/* Till Here */
/*password strength*/

input.ng-pristine + ul#strength {
  display: none;
}

ul#strength {
  display: inline;
  list-style: none;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  vertical-align: 2px;
}

.point:last {
  margin: 0 !important;
}

.point {
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  width: 50px;
  transition: 0.2s ease-in;
}

#footer {
  position: fixed;
  bottom: 0px;
}

.passwordText {
  font-size: 12px;
}

.invalid {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(249, 35, 25, 0.6);
}

.password-control:focus {
  box-shadow: none;
  border-color: #8c8c92;
  outline: none;
}

.opensright.show-calendar {
  position: fixed;
  top: 10% !important;
  z-index: 4;
  margin-left: -200px;
  left: 47% !important;
  box-shadow: 0px 0px 2px 1px #b4b4b4;
}

.opensright.single {
  margin-left: 0;
}

.opensright.cover-show-calender {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
}

.date-picker-cover {
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 3;
}

.disabled {
  cursor: not-allowed;
}

.nvtooltip {
  z-index: 1;
}

.master-detail-tab-handler {
  cursor: pointer;
}

.down-150 {
  margin: 150px auto;
}

.tableScroll tbody {
  display: block;
  overflow: auto;
  width: 100%;
  border: 1px solid #ddd;
  overflow-y: auto;
  width: 100%;
}

.tableScroll > .isNotTouchDevice {
  width: calc(100% - 1.2em) !important;
}

.tableScroll thead th {
  border-bottom: none !important;
}

.tableScroll thead th:last-child {
  border-right: none;
}

.tableScroll thead,
.tableScroll tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.menu_button:hover {
  color: #0c70b5;
}

.pR35 {
  position: relative;
  left: 35px;
}

#notification_bell {
  cursor: pointer;
}

/* #notification-wrapper .dropdown-menu {
    max-height: 300px;

} */

.notification_block ul {
  width: 100%;
  max-height: 320px;
  overflow: auto;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.cust-badge {
  right: -12px;
  top: -5px;
  pointer-events: none;
  cursor: pointer;
  font-size: 10px;
  z-index: 3;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  padding: 3px 4px;
  border-radius: 8px;
  height: 18px;
  width: auto;
  min-width: 16px;
}

.cust-badge-with-left-position {
  left: -12px;
  top: -5px;
  right: auto;
}

.message-body {
  position: relative;
}

.message-body .time-stamp {
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: bold;
}

.message-body .message-text {
  font-size: 15px;
}

.notifications-heading {
  text-align: center;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.messages-notify > li {
  padding-left: 20px;
  padding-top: 10px;
}

.grid {
  width: 100%;
}

.ui-grid-header-viewport,
.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
  background-color: white;
}

.ui-grid-invisible {
  display: none;
}

.reports-grid {
  width: 97%;
  margin-left: 15px;
  margin-bottom: 30px;
}

.rows-count {
  font-size: 14px;
}

.rows-count .count {
  font-weight: 700;
  margin: 0 3px;
}

.cl-card {
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  height: 520px;
  overflow: hidden;
  padding: 10px 15px 10px 15px;
}

.cl-card-auto {
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  padding: 10px 15px 10px 15px;
  overflow: hidden;
}

.cl-card h4 {
  font-size: 20px;
  font-weight: 400;
}

.asset-flex-box {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.asset-flex-card {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 496px;
  margin: 0px 15px 20px 0px;
}

.asset-flex-card:first-of-type {
  margin-left: 15px;
}

.page-title {
  font-size: 20px;
  font-weight: 500;
  margin-left: 15px;
}

.cl-card > .graph .nv-axis .tick text {
  fill: #4d96c8 !important;
  height: 265px;
}

.sensor-fabric-dashboard-graph .nv-y.nv-axis .nv-zeroLine {
  display: none;
}

.sensor-fabric-dashboard-graph .nv-x.nv-axis .tick line {
  opacity: 0 !important;
}

.cl-card > .graph .nv-axis .zero {
  display: block !important;
  height: 265px;
}

.cl-card {
  margin-bottom: 20px;
}

.cl-card > hr {
  border-top-width: 2px;
  border-top-style: solid;
  margin-top: 0;
}

.cl-card-legends > ul {
  list-style: none;
}

.cl-card-legends > ul > li > .message > p {
  font-size: 12px;
  margin-bottom: 1px;
}

.graph .footer {
  margin-right: 20px;
  margin-left: 120px;
  border-top: 1px solid #eee;
  padding-top: 3px;
}

.message {
  width: 90%;
  margin-left: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 4px;
}

.flex {
  display: flex;
  display: -ms-flex;
}

.low {
  background-color: #38b1dd;
}

.veryLow {
  background-color: #86cce6;
}

.high {
  background-color: #1795ce;
}

.custom-dropdown {
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  height: 29px;
  font-size: 15px !important;
  padding-left: 10px;
  padding-right: 10px;
}

.level {
  font-size: 15px;
  font-weight: bold;
  padding-right: 9px;
}

.svg:not(:root) {
  overflow: visible !important;
}

.cust-grid {
  padding-right: 25px;
}

.ui-grid-header-cell .ui-grid-cell-contents {
  min-width: 120px;
}

/*customizing UI grid*/

.cust-grid .ui-grid-header-viewport,
.cust-grid .ui-grid-row,
.cust-grid .ui-grid-row:nth-child(odd) .ui-grid-cell,
.cust-grid .ui-grid-row:nth-child(even) .ui-grid-cell,
.cust-grid .ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
  background-color: white;
}

.cust-grid .ui-grid-cell,
.cust-grid .ui-grid-row .ui-grid-cell.ui-grid-row-header-cell,
.cust-grid .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child,
.cust-grid .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
  border: 0px;
}

.cust-grid .ui-grid-header-cell {
  border: 0px;
  /* border-bottom: none; */
  height: 28px;
}

.cust-grid .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
  border-bottom: none !important;
}

.cust-grid .ui-grid {
  border: 0px;
  padding: 15px 5px;
  background-color: white;
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
}

.cust-grid .ui-grid-hyperlink,
.activity .metrics {
  font-weight: bold;
  color: #337ab7;
}

.cust-grid .ui-grid-cell {
  font-size: 12px;
  color: #434343;
}

.cust-grid .ui-grid-header-cell {
  color: #7c7c7c;
}

.cust-grid .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
  overflow: auto;
  border: 1px solid #dddddd;
  border-radius: 8px;
  max-height: 250px;
}

.cust-grid .ui-grid-menu .ui-grid-menu-inner {
  background: #ffffff;
  border: none;
  padding-left: 10px;
  padding-right: 20px;
}

.cust-grid .ui-grid-menu .ui-grid-menu-inner ul li:not(:last-child) > button {
  border: none;
  padding: 3px 5px;
  font-size: 14px !important;
}

.cust-grid .ui-grid-menu .ui-grid-menu-inner ul li > button {
  padding: 3px 5px 3px 5px;
  font-size: 14px !important;
}

.cust-grid .ui-grid-menu .ui-grid-menu-inner ul li:nth-child(2) > button {
  border-bottom: 1px solid #d3d3d3;
}

.cust-grid .ui-grid-menu .ui-grid-menu-inner ul li button:focus,
.cust-grid .ui-grid-menu .ui-grid-menu-inner ul li button:hover {
  box-shadow: none;
  outline: none;
}

/* .cust-grid .ui-grid-icon-ok:before, .cust-grid .ui-grid-icon-cancel:before{
    content: '\25CF';
    font-size: 20px;
    color: rgb(216, 216, 216);
    margin-top: -4px;
    margin-left: -3px;
}

.cust-grid .ui-grid-selection-row-header-buttons.ui-grid-row-selected.ui-grid-icon-ok:before{
    color: #0094D0;
}

.cust-grid .ui-grid-selection-row-header-buttons.ui-grid-all-selected.ui-grid-icon-ok:before{
    color: #0094D0;
}

.cust-grid .ui-grid-menu-item .ui-grid-icon-ok:before,.cust-grid .ui-grid-menu-item .ui-grid-icon-cancel:before{
    width: 10px;
    padding-left: 2px;
    background: rgb(216, 216, 216);
    padding-right: 16px;
    line-height: 19px;
    font-size: 24px;
    border-radius: 4px;
}

.cust-grid .ui-grid-menu-item .ui-grid-icon-ok:before{
    color: #0094D0;
}


.cust-grid .ui-grid-selection-row-header-buttons {
    cursor: pointer;
    opacity: 1;
    background: rgb(216, 216, 216);
    height: 15px;
    width: 15px;
    border-radius: 3px;
} */

.cust-grid .ui-grid-selection-row-header-buttons.ui-grid-row-selected,
.cust-grid .ui-grid-selection-row-header-buttons.ui-grid-all-selected {
  color: white;
  opacity: unset;
  background-color: #e9a824;
}

.ui-grid-menu-item {
  overflow: initial;
}

.cust-grid .ui-grid-selection-row-header-buttons {
  cursor: pointer;
  color: rgba(256, 256, 256, 0);
  background-color: white;
  width: 15px;
  height: 15px;
  font-size: 10px;
  opacity: unset;
  border: 1px solid #979797;
  margin-top: 2px;
  margin-bottom: 3px;
}

/* .cust-grid .ui-grid-header-cell .ui-grid-selection-row-header-buttons{
    width: 20px;
} */

.grid-page-title,
.grid-page-title .select-category button {
  font-size: 20px;
  line-height: 24px;
}

.add-btn {
  /*background-color: #4D96C8;*/
  border: 0px;
  padding: 5px 9px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.add-btn.is-disabled {
  cursor: not-allowed;
}

.add-btn.is-disabled .fa {
  cursor: not-allowed;
}

.add-btn:focus {
  outline-width: 0px;
}

.add-btn span {
  font-size: 22px;
}

.action-btn {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  /*background-color: #4D96C8;*/
  float: left;
  list-style: none;
  margin-right: 10px;
  padding: 4px 10px;
  cursor: pointer;
}

.action-btn.disabled {
  cursor: not-allowed;
}

.more_action .insideOptions {
  float: left;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 12px 3px;
}

.more_action {
  border-radius: 5px;
  width: 222px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.more_action .insideOptions span {
  padding: 0;
  word-break: break-all;
}

.more_action .insideOptions i {
  font-size: 21px;
}

.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute !important;
}
.angucomplete-title {
  word-wrap: break-word;
}

.angucomplete-title {
  word-wrap: break-word;
}

.angucomplete-title {
  word-wrap: break-word;
}

.angucomplete-title {
  word-wrap: break-word;
}

.daterangepicker .ranges ul li:hover,
.daterangepicker .ranges ul li {
  line-height: 14px !important;
}

.radio-inline > div {
  display: inline-block;
  margin-top: 3px;
}

.cl-form-radio-container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline;
  margin-right: 20px;
  top: 2px;
}
.sensor-intransit-filter .cl-form-radio-container {
  top: -4px;
}

/* Hide the browser's default radio button */
.cl-form-radio-container input[type="radio"].cl-form-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.cl-form-radio-container .cl-form-radio-selection {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border-width: 2px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease;
}

/* On mouse-over, add a grey background color */
.cl-form-radio-container:hover input[type="radio"].cl-form-radio ~ .cl-form-radio-selection {
  background-color: #e9a824;
}

/* When the radio button is checked, add a blue background */
.cl-form-radio-container input[type="radio"].cl-form-radio:checked ~ .cl-form-radio-selection {
  background-color: #e9a824;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.cl-form-radio-container .cl-form-radio-selection:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.cl-form-radio-container input[type="radio"].cl-form-radio:checked ~ .cl-form-radio-selection:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.cl-form-radio-container .cl-form-radio-selection:after {
  top: 4px;
  left: 4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: white;
}

.cl-form-radio-container:hover input[type="radio"].cl-form-radio ~ .cl-form-radio-selection:after {
  top: 4px;
  left: 4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: block;
  background: white;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
  -moz-transition: background 0.25s linear;
  -ms-transition: background 0.25s linear;
}
.cl-form-radio-container input[type='radio'].cl-form-radio:disabled{
  pointer-events: none;
  cursor: not-allowed;
}
.cl-form-radio-container:hover input[type='radio'].cl-form-radio:disabled ~ .cl-form-radio-selection:after {
  display: none;
}
.cl-form-radio-container input[type='radio'].cl-form-radio:disabled ~ .cl-form-radio-selection {
  background-color: #efefef;
  pointer-events: none;
  cursor: not-allowed;
}

/* The cl-form-checkbox-container */
.cl-form-checkbox-container {
  display: inline;
  position: relative;
  padding-left: 20px;
  font-size: 13px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cl-form-checkbox-container input[type="checkbox"].cl-form-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.cl-form-checkbox-container .cl-form-checkbox-selection {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
}

.cl-form-checkbox-container[disabled="disabled"] .cl-form-checkbox-selection {
  cursor: not-allowed;
  background: #e0e0e0;
  opacity: 0.5;
}

/* On mouse-over, add a grey background color */
.cl-form-checkbox-container:hover input[type="checkbox"].cl-form-checkbox ~ .cl-form-checkbox-selection {
  background-color: #eee;
  border-radius: 2px;
}

/* Create the cl-form-checkbox-selection/indicator (hidden when not checked) */
.cl-form-checkbox-container .cl-form-checkbox-selection:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the cl-form-checkbox-selection when checked */
.cl-form-checkbox-container input[type="checkbox"].cl-form-checkbox:checked ~ .cl-form-checkbox-selection:after {
  display: block;
}

/* Style the cl-form-checkbox-selection/indicator */
.cl-form-checkbox-container .cl-form-checkbox-selection:after {
  height: 8px;
  width: 5px;
  left: 5px;
  top: 2px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nv-axisMin-y {
  display: block !important;
}

.wt_col-flex {
  display: flex !important;
  flex-direction: column;
}

.wt_flex-align-start {
  align-items: flex-start !important;
}
.wt_flex-align-end {
  align-self: flex-end;
}

.ad-capabilities-wrapper {
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}

.ad-capabilities-wrapper.vertical-window{
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
}

.asset-summary-wrapper .ad-capabilities-wrapper {
  height: auto;
  margin-bottom: 10px;
}

.ad-1-cap > div {
  flex-basis: 100%;
  justify-content: center;
  padding: 8px;
}

.ad-2-cap > div {
  flex-basis: 50%;
  justify-content: center;
  padding: 8px;
}

.ad-3-cap > div {
  flex-basis: 33%;
  padding: 8px;
}
.asset-summary-wrapper .ad-3-cap > div {
  flex-basis: 50%;
  min-width: 50%;
  box-sizing: border-box;
}

.ad-1-cap .cap-icon-wrapper img {
  width: 80px;
  height: 80px;
  margin-right: 8px;
}

.cap-icon-wrapper .cls-1 {
  fill: #929da5 !important;
}

.ad-2-cap .cap-icon-wrapper img {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}
.ad-3-cap .cap-icon-wrapper img {
  width: 42px;
  height: 42px;
  margin-right: 4px;
}

.ad-capabilities-wrapper .cap-value {
  letter-spacing: 0;
  line-height: 25px;
}

.ad-1-cap .cap-value {
  font-size: 28px;
  margin-bottom: 8px;
}
.ad-2-cap .cap-value {
  font-size: 24px;
  margin-bottom: 4px;
}

.ad-3-cap .cap-value {
  font-size: 20px;
  margin-bottom: 2px;
}

.ad-1-cap .cap-title {
  font-size: 16px;
}
.ad-2-cap .cap-title {
  font-size: 13px;
}
.ad-3-cap .cap-title {
  font-size: 12px;
}

.ad-capabilities-wrapper .cap-title {
  letter-spacing: 0.7px;
  line-height: 12px;
  text-transform: capitalize;
}

.asset-summary-wrapper .ad-2-cap .cap-title,
.asset-summary-wrapper .ad-3-cap .cap-title {
  font-size: 10px;
}

.asset-summary-wrapper .ad-2-cap .cap-value,
.asset-summary-wrapper .ad-3-cap .cap-value {
  font-size: 16px;
  margin-bottom: 2px;
}

.asset-summary-wrapper .ad-2-cap .cap-icon-wrapper img,
.asset-summary-wrapper .ad-3-cap .cap-icon-wrapper img {
  width: 28px;
  height: 28px;
  margin-right: 2px;
}

.panel-search-box {
  padding: 4px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
}
.alert-action-bar {
  flex-basis: 20%;
  margin: 0 !important;
}
.alert-datepicker .wt__datepicker.cl-datetimepicker .input-group .date-picker {
  width: 320px !important;
}
.alert-modal .modal-dialog {
  width: 340px !important;
}

.tags-modal .modal-dialog {
  width: 270px !important;
}
.red-dot-wrapper {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-top: 4px;
}

.red-dot {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.snapshot-sparkline {
  position: absolute;
  top: -15px;
  left: 0;
  float: left;
  width: 100%;
  height: 60px;
}

.snapshot-sparkline path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.alerts-wrapper {
  height: 348px;
  overflow: auto;
}
.alerts-footer {
  margin-top: 4px;
  border-top-color: #d3d3d3;
  border-top-width: 1px;
  border-top-style: solid;
}

.container1 {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 8px;
  cursor: pointer;
  /*font-size: 14px;
    font-weight: normal;*/
  font-size: 14px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container1 .form-text {
  display: inline-block;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.dropListAction {
  width: 217px;
  height: auto;
  margin-left: -93px;
  margin-top: 10px;
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px #cac7c7;
  z-index: 9;
  position: absolute;
  background-color: #fff;
  padding: 7px 7px 7px 0px;
}

.dropListAction hr {
  margin-bottom: 10px !important;
}

.checklabelContainer {
  display: block;
  position: relative;
  padding-left: 23px;
  margin: 12px;
  cursor: pointer;
  /* font-size: 14px;
    font-weight: 500;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checklabelContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmarkInput {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #f5fbff;
  border-radius: 3px;
  border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.checklabelContainer:hover input ~ .checkmarkInput {
  background-color: #e9a824;
}

/* When the checkbox is checked, add a blue background */
.checklabelContainer input:checked ~ .checkmarkInput {
  background-color: #e9a824;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkInput:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checklabelContainer input:checked ~ .checkmarkInput:after {
  display: block;
}

/* Style the checkmark/indicator */
.checklabelContainer .checkmarkInput:after {
  /*left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;*/
  left: 4px;
  /* top: 1px; */
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f5fbff;
  border-radius: 3px;
  border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #e9a824;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #e9a824;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

.container1 .checkmark {
  width: 18px;
  height: 18px;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.profile-block {
  border-top: 1px solid #e7e7e7;
  padding: 12px 0px;
}

.lease-block .cl-form-radio-container,
.cl-shipment-profile .cl-form-radio-container {
  top: 2px;
}
.wt_flex-space {
  justify-content: space-between;
}
.text-transform-none {
  text-transform: none !important;
}

.cap-icon-inTransit {
  width: 25px;
  height: 25px;
}

.display-inline{
  display:inline;
}
.role-checkbox {
  margin: 0px 4px !important;
}
.asset-monitor-filter-header{
  padding: 5px 0px 5px 5px;
  margin-right: 10px;
}
.gm-style-pbt {
  font-size: 22px !important;
  color: white !important;
}
.height-20 {
  height:20px;
}
.mr-10{
  margin-top: -10px;
}
.cl-zindex1{
  z-index: 1;
}
.mt165{
  margin-top: 165px;
}
.cl-alert-icon{
    margin-left: -32px;
    margin-right: 10px;
}
.cl-asset-details-exceptions-icon{
  margin-left: -24px;
}

[uib-typeahead-popup].dropdown-menu {
  width: 273px;
}
[uib-typeahead-popup].dropdown-menu > li{
  width: 205px !important;
}

.cl-small-add-btn{
  width: 25px !important;
  height: 23px !important;
  top: 1px !important;
  left: 5px;
}
.cl-small-add-btn > .plus-icon{
  font-size: 15px !important;
  display: block;
}
.cl-inline-row{
  display: inline-flex!important;
  justify-content: space-between!important;
}

.cl-sensor-view-panel{
  right: 15px !important;
  height: 90% !important;
  top: 39px !important;
  width: 470px !important;
}

.cl-div-cap-value{
  margin: auto;
  padding-bottom: 10px;
}
.cl-role-policies-div {
  white-space: nowrap;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cl-role-summary-panel {
  right: 0px !important;
  height: 100% !important;
  top: 0px !important;
  width: 470px !important;
}
.cl-close-role-summary-panel{
  position: unset !important
}


.wt__mapping_grid{
  height : 100%;
  border: none !important;
 }
.wt__mapping_grid  .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child{
  border-right: 0px !important;
  border-width: 0px !important;
}
.wt__mapping_grid  .ui-grid-row .ui-grid-cell.ui-grid-row-header-cell{
  border-bottom: 0px !important;
}
.wt__mapping_grid .ui-grid-render-container-left .ui-grid-canvas{
   width: 30px;
}
.wt__mapping_grid .ui-grid-render-container-left .ui-grid-canvas{
  width: 30px;
}
.wt__mapping_grid .ui-grid-render-container-body .ui-grid-viewport{
  margin-left:-10px;
  overflow: auto !important;
}
.wt__mapping_grid .ui-grid-header{
  display: none;
}
.ui-grid-render-container-body .ui-grid-viewport {
  width: 178px;
  height: 405px;
}
.selectedRow, .grid-column-data:hover, .grid-column-data:active {
  background-color: #0094d0 !important;
  color: white !important;
  border-radius: 2px;
}
.fontWeightNormal{
  font-weight: normal !important;
}
.lineHeight27{
  line-height: 27px;
}
.user-confirm .link-expired {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-confirm .link-expired > span {
  font-size: 24px;
}

.toggle-password {
  right: 1px;
  top: 25px;
  position: absolute;
  z-index: 2;
  color: #a4a4a4;
  font-size: 18px;
  cursor: pointer;
}

@import "form-slider.css" screen;
