.cl-form-slider-container {
  transform:scale(0.5);
}
.scale4.cl-form-slider-container {
  transform:scale(0.3);
  margin: 0px;
}

.cl-form-slider-container:not(th) {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
  margin: 5px 0px;
}
.cl-form-slider-container input.cl-form-slider-checkbox{
  display: none;
}
.cl-form-slider-container .cl-form-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cl-form-slider-container .cl-form-slider:before {
  position: absolute;
  content: '';
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
}
.cl-form-slider-container:hover .cl-form-slider,
.cl-form-slider-container:active .cl-form-slider{
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cl-form-slider-container:hover .cl-form-slider:before,
.cl-form-slider-container:active .cl-form-slider:before{
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cl-form-slider-container input.cl-form-slider-checkbox:checked + .cl-form-slider {
  background-color: #32cd32;
}

.cl-form-slider-container input.cl-form-slider-checkbox:focus + .cl-form-slider {
  box-shadow: 0 0 1px #32cd32;
}

.cl-form-slider-container input.cl-form-slider-checkbox:checked + .cl-form-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.cl-form-slider-container .cl-form-slider.cl-form-slider-round {
  border-radius: 27px;
}

.cl-form-slider-container .cl-form-slider.cl-form-slider-round:before {
  border-radius: 50%;
}
.cl-form-slider-container input.cl-form-slider-checkbox:disabled + .cl-form-slider{
  cursor: not-allowed;
}
