/*Helpers*/
a.underline-hovered:hover {
  text-decoration: underline !important;
}
.to-upper {
  text-transform: uppercase;
}
.m2 {
  margin: 2px !important;
}

.m5 {
  margin: 5px !important;
}

.m-neg5 {
  margin: -5px !important;
}

.m10 {
  margin: 10px !important;
}
.m10-0 {
  margin: 10px 0 !important;
}
.m1020 {
  margin: 10px 20px !important;
}

.border-0 {
  border: 0;
}

.bt0{
  border-top:none !important;
}
.bb0{
  border-bottom: none !important;
}
.bbw1{
  border-bottom-width: 1px !important;
}

h5.mt0,
.mt0.h2,
.mt0 {
  margin-top: 0;
}

.m010 {
  margin: 0 10px !important;
}

.mt2 {
  margin-top: 2px;
}

.mt3 {
  margin-top: 3px;
}

.mt4 {
  margin-top: 4px;
}
.mt5 {
  margin-top: 5px !important;
}

.mt6 {
  margin-top: 6px !important;
}

.mt7 {
  margin-top: 7px;
}

.mt8 {
  margin-top: 8px !important;
}

.mt10 {
  margin-top: 10px !important;
}
.mt9 {
  margin-top: 9px;
}

.mt12 {
  margin-top: 12px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px;
}

.mt100 {
  margin-top: 100px;
}

.mt114 {
  margin-top: 114px;
}

.mt150 {
  margin-top: 150px;
}

.mt200 {
  margin-top: 200px;
}

.mtNeg20{
  margin-top: -20px;
}

.ml-auto {
  margin-left: auto;
}

.ml-0 {
  margin-left: 0px;
}
.ml2 {
  margin-left: 2px;
}
.ml3 {
  margin-left: 3px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px;
}

.ml50 {
  margin-left: 50px;
}

.ml60 {
  margin-left: 60px;
}

.ml-neg15 {
  margin-left: -15px;
}
.ml-neg25 {
  margin-left: -25px;
}

.mr0 {
  margin-right: 0px !important;
}
.mr3 {
  margin-right: 3px !important;
}

.mr5 {
  margin-right: 5px;
}

.mr8 {
  margin-right: 8px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}

.m20-40 {
  margin: 20px 40px;
}

.m0 {
  margin: 0;
}

.m40 {
  margin: 40px;
}

.m010 {
  margin: 0 10px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px;
}

.m20-mb10 {
  margin: 20px 20px 0 20px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb50 {
  margin-bottom: 50px;
}

.my-auto-mx5 {
  margin: auto 5px;
}

.wt__mp0 {
  margin: 0;
  padding: 0;
}

.p0 {
  padding: 0 !important;
}
.p3{
  padding: 3px;
}

.p5 {
  padding: 5px;
}

.p5-10 {
  padding: 5px 10px;
}
.p4-20 {
  padding: 5px 20px;
}

.p10-5 {
  padding: 10px 5px;
}
.p10-0 {
  padding: 10px 0px;
}
.p10 {
  padding: 10px;
}

.p05 {
  padding: 0 5px !important;
}

.p20 {
  padding: 20px;
}

.wt__p10-20 {
  padding: 10px 20px;
}

.pt2 {
  padding-top: 2px;
}
.pt3 {
  padding-top: 3px;
}
.pt0 {
  padding-top: 0px;
}

.pt5 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px;
}
.pt13 {
  padding-top: 13px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt24 {
  padding-top: 24px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px !important;
}

.pb50 {
  padding-bottom: 50px;
}

.pl0 {
  padding-left: 0 !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pr0 {
  padding-right: 0px !important;
}
.pr2 {
  padding-right: 2px;
}

.pr5 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.p15 {
  padding: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pr40 {
  padding-right: 40px;
}

.pr45 {
  padding-right: 45px;
}

.p010 {
  padding: 0 10px;
}

.p020 {
  padding: 0 20px;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px;
}

.pl30 {
  padding-left: 30px;
}

.pt15 {
  padding-top: 15px;
}
.pt50 {
  padding-top: 50px;
}
.posr {
  position: relative;
  display: block;
}

.float-right {
  float: right;
}

.oh {
  overflow: hidden;
}
.overflowy-auto{
  overflow-y: auto;
}
.just-right {
  justify-content: flex-end;
  margin-left: auto;
  text-align: right;
}

.just-center {
  justify-content: center;
}

.right-0 {
  position: absolute !important;
  right: 0;
}
.mh230{
  min-height: 230px;
}
.mh300{
  min-height: 300px !important;
}
.mh600 {
  min-height: 600px !important;
}

.br {
  -webkit-box-shadow: 1px 0px 0px 0px rgba(179, 179, 179, 0.3);
  -moz-box-shadow: 1px 0px 0px 0px rgba(179, 179, 179, 0.3);
  box-shadow: 1px 0px 0px 0px rgba(179, 179, 179, 0.3);
  border-right-width: 1px;
  border-right-style: solid;
}

.b-r3 {
  border-radius: 3px;
}
.b-r25{
  border-radius: 25px !important;
}
.blr-4 {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.brr-4 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.flex-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  align-content: center;
}

.flex-col-15 {
  flex-basis: 15%;
}

.flex-col-20 {
  flex-basis: 20%;
}

.flex-col-30 {
  flex-basis: 30%;
}

.flex-col-33 {
  flex-basis: 33%;
  flex-grow: 0;
  flex-shrink: 0;
}

.collapsed:after {
  /* overide this garbage: symbol for "collapsed" panels */
  content: '' !important;
}

.no-pointer {
  pointer-events: none;
}

.inherit-pointer {
  pointer-events: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-disabled {
  cursor: not-allowed;
}

.width-1400 {
  padding: 0;
}
.max-h-100{
  max-height: 100px;
}
.max-h-150 {
  max-height: 150px;
}
.max-h-200 {
  max-height: 200px;
}
.min-h1 {
  min-height: 1px;
}
.min-h-50{
  min-height: 50px;
}
.min-h-200 {
  min-height: 200px !important;
}

.h20 {
  height: 20px !important
}
.h25 {
  height: 25px !important;
}
.h-100,
.h100 {
  height: 100%;
}
.h-100px {
  height: 100px !important;
}
.h120 {
  height: 120px !important;
}
.h150 {
  height: 150px !important;
}
.h190 {
  height: 190px !important;
}
.h200 {
  height: 200px !important;
}
.h230 {
  height: 230px !important;
}

.h250 {
  height: 250px !important;
}

.h270 {
  height: 270px !important;
}
.h400 {
  height: 400px !important;
}
.h440 {
  height: 440px !important;
}
.h450 {
  height: 450px !important;
}
.h500 {
  height: 500px !important;
}

.mh280 {
  max-height: 280px;
}

.hauto {
  height: auto !important;
}

.foz13 {
  font-size: 13px !important;
}

.r0 {
  right: 0px;
}
.r5 {
  right: 5px;
}
.r42 {
  right: 42px !important;
}

.l0 {
  left: 0px;
}

.t0 {
  top: 0;
}

.t3 {
  position: relative;
  top: 3px;
}

.t10 {
  top: 10px;
}

.t100 {
  top: 100px;
}

.t200 {
  top: 200px;
}

.b50 {
  bottom: 50px;
}

.b0 {
  bottom: 0px;
}

.dib {
  display: inline-block !important;
}

.ls_circ {
  list-style: disc inside !important;
}
.w150 {
  width: 150px;
}
.w200 {
  width: 200px;
}
.w245 {
  width: 245px;
}
.w220 {
  width: 220px;
}

.b0 {
  bottom: 0px;
  position: absolute;
}

.b15 {
  bottom: 15px;
  position: absolute;
}

.h250 {
  height: 250 !important;
}

.h270 {
  height: 270px;
}

.wt__h-340 {
  height: 340px;
}

.shadow-top {
  -webkit-box-shadow: 0px -1px 2px 0px rgba(200, 200, 200, 1);
  -moz-box-shadow: 0px -1px 2px 0px rgba(200, 200, 200, 1);
  box-shadow: 0px -1px 2px 0px rgba(200, 200, 200, 1);
}

.wt__h-400 {
  height: 400px;
}

.wt__col-align-right {
  margin-right: 0px;
  margin-left: auto;
  text-align: right;
}

.wt__fw-medium {
  font-weight: 400;
}
.wt__fw-600 {
  font-weight: 600;
}

.wt__pin-left {
  position: absolute;
  left: 10px;
}

.wt__fw-light {
  font-weight: 100;
}

.fw100 {
  font-weight: 100 !important;
}
.fw200 {
  font-weight: 200 !important;
}
.fw400 {
  font-weight: 400 !important;
}
.fw500 {
  font-weight: 500;
}

.fw700 {
  font-weight: 700 !important;
}
.small-text {
  font-size: 11px !important;
}
.nowrap {
  white-space: nowrap;
}

.wt__center {
  width: 100%;
  text-align: center;
}

.wt__ta-center {
  text-align: center;
}

.wt__flex-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.wt__flex-end {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.flex-align {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.wt-flex {
  display: flex;
}

.wt-flex-align-center {
  align-items: center;
}

.wt-flex-justify-center {
  justify-content: center;
}

.wt-flex-grow {
  flex-grow: 1;
}

.wt-justify-end {
  justify-self: flex-end;
  margin-left: auto;
}

/* .self-centered {
  just
} */
.wt__col-spacing .wt-justify-start {
  justify-self: flex-start;
  margin-right: auto;
}

.wt__col-15 {
  width: 15%;
}

.wt__col-20 {
  width: 20%;
}

.wt__col-88 {
  width: 88%;
}

.wt__bottom-10 {
  bottom: 10px;
  position: absolute;
}

.wt__top-50 {
  margin-top: 50px;
  position: relative;
  display: block;
}

.mw100,
.wt__mw-100 {
  min-width: 100px !important;
}

.w60 {
  width: 60px;
  display: inline-block;
  text-align: start;
}
.w55 {
  width: 55%;
}
.w75 {
  width: 75% !important;
}
.w95 {
  width: 95% !important;
}
.w50{
  width: 50% !important;
}
.w100 {
  width: 100%;
}
.w100p {
  width: 100px;
}

.w140 {
  width: 140px;
}

.w160 {
  width: 160px;
}

.wt__mw-160 {
  min-width: 160px;
}

.mw140 {
  min-width: 140px !important;
}

.mw180,
.wt__mw-180 {
  min-width: 180px !important;
}

.mw220,
.wt__mw-220 {
  min-width: 220px !important;
}

.wt__mw-260 {
  min-width: 260px;
}

.wt__mw-320 {
  min-width: 320px;
}

.wt__mw-360 {
  min-width: 360px;
}

.wt__space-buttons button {
  margin-right: 10px;
}

.wt__posr {
  position: relative;
}

.wt__posf {
  position: fixed;
}

.wt__posa {
  position: absolute;
}

.mh-600 {
  max-height: 600px;
}

.h-50 {
  height: 50%;
}

.h-60 {
  height: 60%;
}

.h-70 {
  height: 70%;
}
.h160 {
  height: 160px !important;
}
.w-93 {
  width: 93%;
}
.w-98 {
  width: 98% !important;
}
.w-100 {
  width: 100%;
}

.w-1400 {
  width: 1400px;
}

.wt__align-end {
  align-self: flex-end;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.wt__ov {
  overflow: visible;
}

.wt__y-scroll {
  overflow-y: auto;
  display: block;
}

.scroll-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 1px);
  padding-right: 10px;
}

.wt__no-shrink {
  flex-shrink: 0;
}

.wt__bring-to-front {
  position: relative;
  z-index: 2;
}

.load-fade-anim {
  transition: opacity 0.5s ease;
}

.z5000 {
  z-index: 5000;
}
.z5 {
  z-index: 5;
}

.no-click {
  pointer-events: none;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px !important;
}
.fs18 {
  font-size: 18px !important;
}
.fs20 {
  font-size: 20px;
}
.fs25 {
  font-size: 25px;
}

.fs30 {
  font-size: 30px;
}

.fs35 {
  font-size: 35px;
}

.wt__small-text {
  font-size: 9px;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.wt__bold {
  font-weight: 700 !important;
}

.fr,
.wt__float-right {
  float: right;
}

.wt__float-left {
  float: left;
}

.wt__align-left {
  text-align: left;
}

.wt__align-right {
  text-align: right;
}

.wt__center-text {
  text-align: center;
  width: 100%;
}
.wt__center-div {
  margin: 0 auto;
  float: none;
}
.wt__capitalize {
  text-transform: capitalize;
}

.spacer-48 {
  height: 48px;
  display: block;
  position: relative;
}

.border-right {
  border-right-width: 1px;
  border-right-style: solid;
  padding-right: 5px;
}

.border-top {
  border-top-width: 1px;
  border-top-style: solid;
}

.wt__clear {
  clear: both;
}

.wt__ft_italic{
  font-style: italic;
}

.capitalize {
  text-transform: capitalize !important;
}

.zblock3 {
  z-index: 3;
  width: 95%;
  height: 100%;
  background: white;
  display: block;
  position: absolute;
}

.calcH-50 {
  height: calc(100% - 50px) !important;
}

.t3 {
  top: 3px;
  position: relative;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb7 {
  margin-bottom: 7px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px;
}
.mb50 {
  margin-bottom: 50px;
}
.mt-Neg5 {
  margin-top: -5px;
}

.mt-Neg10 {
  margin-top: -10px;
}

.mtNeg25 {
  margin-top: -25px !important;
}

.mt0 {
  margin-top: 0 !important;
}

.t1 {
  top: 1px !important;
  position: relative;
}
.mt13 {
  margin-top: 13px !important;
}
.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.m20 {
  margin: 20px !important;
}

.wauto {
  width: auto !important;
}

.h40 {
  height: 40px;
}
.h240 {
  height: 240px !important;
}
.p-10-5 {
  padding: 10px 5px;
}
.pl20 {
  padding-left: 20px;
}
.pl24 {
  padding-left: 24px !important;
}

.mw-170 {
  max-width: 170px !important;
}

.wt__greyed-out {
  font-weight: 200 !important;
}

.mb3 {
  margin-bottom: 3px !important;
}

.lh2 {
  line-height: 2em !important;
}

.lh10 {
  line-height: 10px !important;
}

.lh12 {
  line-height: 12px !important;
}
.lh15 {
  line-height: 15px;
}
.lh17 {
  line-height: 17px;
}
.lh18 {
  line-height: 18px !important;
}
.lh19 {
  line-height: 19px;
}
.lh24 {
  line-height: 24px;
}
.lh30 {
  line-height: 30px !important;
}

.foz10 {
  font-size: 10px !important;
  line-height: 10px;
}

.foz11 {
  font-size: 11px !important;
}

.foz12 {
  font-size: 12px !important;
}
.foz16 {
  font-size: 16px !important;
}
.foz17 {
  font-size: 17px !important;
}

.foz18 {
  font-size: 18px !important;
}

.foz28 {
  font-size: 28px !important;
}

.flex-w200 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
}

.flex-w175 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 175px;
}

.flex-w150 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 150px;
}

.w80 {
  width: 80px;
}

.m-0-5 {
  margin: 0 5px;
}

.m-5-0 {
  margin: 5px 0;
}

.pb5 {
  padding-bottom: 5px !important;
}
.pb16 {
  padding-bottom: 16px;
}
.pb20 {
  padding-bottom: 20px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.lh20 {
  line-height: 20px;
}

.lh30 {
  line-height: 30px;
}

.w90 {
  width: 90% !important;
}

.w30 {
  width: 30% !important;
}

.w93 {
  width: 93% !important;
}
.scroll-x-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.mw-640 {
  min-width: 640px;
}

.mw-800 {
  min-width: 800px;
}

.mw-900 {
  min-width: 900px;
}

.mw-1000 {
  min-width: 1000px;
}

.mw-145{
  min-width: 145px;
}
.grid-10-10-80{
  display: grid;
  grid-gap: 5px 0px;
  grid-template-columns: 10% 10% 80%;
}
.grid-25-5-70 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 25% 5% 70%;
}

.grid-35-5-60 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 35% 5% 60%;
}

.grid-5-95 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 5% 95%;
}

.grid-10-90 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 10% 90%;
}

.grid-85-15 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 85% 15%;
}
.grid-90-10 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 90% 10%;
  align-items: center;
  justify-items: flex-start;
}
.grid-10-70-10 {
  display: grid;
  grid-gap: 10px 5px;
  grid-template-columns: 10% 70% 10%;
}
.grid-10-50-40 {
  display: grid;
  grid-gap: 5px 0px;
  grid-template-columns: 10% 50% 40%;
}

.grid-25-70 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 25% 70%;
}
.gap-10 {
  grid-gap: 10px !important;
}
.align-items-center {
  align-items: center;
}

.grid-20-75 {
  display: grid;
  grid-gap: 5px 0px;
  grid-template-columns: 20% 75%;
  justify-items: center;
  align-items: center;
}
.grid-20-30 {
  display: grid;
  grid-gap: 0px 0px;
  grid-template-columns: 20% 30%;
  justify-items: center;
  align-items: center;
}

.grid-70-25 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 70% 25%;
}

.grid-50-12-28-10 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 50% 12% 28% 10%;
}
.grid-60-25-15 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 60% 25% 15%;
}

.grid-30 {
  display: grid;
  grid-gap: 10px 5px;
  grid-template-columns: 30% 30% 30%;
}

.grid-30-40-30 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 30% 40% 30%;
}
.grid-25-10-10 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 25% 10% 10%;
}
.grid-25-10-10-10 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 25% 10% 10% 10%;
}

.grid-25 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid-33 {
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 33% 33% 33%;
}

.summary-grid {
  display: grid;
  height: 2em;
  grid-gap: 0px 10px;
  line-height: 1em;
  font-size: 12px;
  align-items: center;
  grid-template-columns: minmax(110px, 110px) minmax(110px, 71%) minmax(145px, 25%);
}
.summary-grid-2{
  grid-template-columns: minmax(110px, 110px) minmax(110px, 71%) !important;
}
.grid-alert-list {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 40% minmax(110px, 40%) 15%;
  align-items: flex-start;
  justify-items: flex-start;
  margin-bottom: 4px;
}
.asset-list-alert-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: minmax(10px, 7%) minmax(50px, 80%) minmax(20px, 11%);
  align-items: center;
  align-content: center;
  justify-items: flex-start;
  margin-right: 10px;
}

@media (max-width: 420px) {
  .summary-grid {
    display: grid;
    height: 2em;
    grid-gap: 0px 5px;
    margin-bottom: 3px;
    line-height: 1em;
    font-size: 11px;
    align-items: center;
    grid-template-columns: minmax(80px, 130px) minmax(80px, 68%) minmax(120px, 25%);
  }
  .summary-grid-2 {
    grid-template-columns: minmax(80px, 130px) minmax(80px, 68%) !important;
  }
}
.grid-35-60 {
  display: grid;
  grid-template-columns: 35% 60%;
}
.grid-35-65 {
  display: grid;
  grid-template-columns: 35% 65%;
}
.grid-40-60 {
  display: grid;
  grid-gap: 0px 5px;
  grid-template-columns: 40% 60%;
}

.grid-55-10 {
  display: grid;
  grid-gap: 0px 10px;
  grid-template-columns: 55% 10%;
  align-items: center;
}

.grid-50-50 {
  display: grid;
  grid-gap: 0px 0px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-items: center;
}

.grid-1-50-50 {
  display: grid;
  grid-gap: 0px 0px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
}
.gap-2 {
  grid-gap: 2px 2px;
}
.gap-5 {
  grid-gap: 5px 5px;
}

.just-left {
  justify-items: flex-start !important;
}
.just-self-center {
  justify-self: center;
}
.grid-rows-20-80 {
  display: grid;
  grid-template-rows: 20% 80%;
}
.tNeg1 {
  position: relative;
  top: -1px;
}

.m-0-20 {
  margin: 0 20px;
}

.flex-col-10 {
  flex-basis: 10%;
}

.flex-col-20 {
  flex-basis: 20%;
}

.flex-col-25 {
  flex-basis: 25%;
}

.flex-col-30 {
  flex-basis: 30%;
}

.flex-col-35 {
  flex-basis: 35%;
}

.flex-col-40 {
  flex-basis: 40%;
}

.flex-col-50 {
  flex-basis: 50%;
}

.flex-col-60 {
  flex-basis: 60%;
}

.flex-col-80 {
  flex-basis: 80%;
}
.flex-col-100 {
  flex-basis: 100%;
}

.bb {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.bb-none {
  border-bottom: none !important;
}
.bt {
  border-top-width: 1px;
  border-top-style: solid;
}

.pr15 {
  padding-right: 15px;
}

.foz20 {
  font-size: 20px;
}

.foz22 {
  font-size: 22px;
}

.foz42 {
  font-size: 42px;
}

.rotate-neg-45 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cl-no-padding {
  padding: 0;
}

.cl-no-top-padding {
  padding-top: 0;
}

.cl-no-right-padding {
  padding-right: 0;
}

.cl-no-bottom-padding {
  padding-bottom: 0;
}

.cl-no-left-padding {
  padding-left: 0;
}

.cl-no-margin {
  margin: 0;
}

.cl-no-top-margin {
  margin-top: 0;
}

.cl-no-right-margin {
  margin-right: 0;
}

.cl-no-bottom-margin {
  margin-bottom: 0;
}

.cl-no-left-margin {
  margin-left: 0;
}

.tneg7 {
  top: -7px;
}
.cl-text-bold {
  font-weight: bold;
}
.cl-text-size-4 {
  font-weight: bold;
  font-size: 18px !important;
}
.cl-text-size-5 {
  font-weight: normal;
  font-size: 11px !important;
}
.cl-text-size-6 {
  font-weight: normal;
  font-size: 12px !important;
}
.cl-text-size-7{
  font-size: 14px !important;
  font-weight: 700;
}
.cl-transition {
  transition: transform 0.5s ease;
}
.cl-transform-right {
  transform: rotate(-90deg);
}

.visible-hide {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

.wt-flex label {
  float: none;
}
.display-none {
  display: none !important;
}
.display-block {
  display: block !important;
}

.wt-wrap {
  flex-wrap: wrap;
}

.bottom-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.border-1px {
  border-width: 1px;
  border-style: solid;
}
.cl-bg-white {
  background-color: #fff;
}
.cl-bs-1 {
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
}
.cl-bg-1 {
  background: linear-gradient(180deg, #00aff6 0%, #0094d0 100%);
}

.ls-point16 {
  letter-spacing: 0.16px;
}
.cl-columns-2 {
  column-count: 2;
}

.flex-center-align {
  display: flex;
  align-items: center;
}
.wb{
  word-break: break-all;
}

.cl-editor{
  position: absolute;
  right: -50vw;
  top: 40px;
  border-radius: 5px;
  width: 45vw;
  z-index: 9;
  height: calc(100vh - 180px);
  transition: right 1s ease-out;
  opacity: 0;
}
.cl-editor.cl-editor-opened{
  opacity: 1;
  right: 15px;
}
.z-index-1{
  z-index: 1 !important;
}

.z-index-9{
  z-index: 9 !important;
}

.disabled-link {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}
.no-box-shadow{
  box-shadow: none !important;
}

.lh25{
  line-height: 25px;
}

.max-w-99 {
  max-width: 99%;
}

.html-bar-number-text{
  padding-left: 6px;
  margin-right: 5px;
  min-width: 70px;
}
.filtered-shipments-pannel-text{
  padding: 0 0 7px 0;
  padding-top: 3px;
}
