.modal-dialog .modal-body:after {
  content: "";
  display: block;
  font-size: 1px;
  clear: both;
}

table.ActionGroup {
  margin-left: -1px;
}

table.ActionGroup td {
  width: 20px;
  padding: 8px;
}

table.ActionGroup td {
  border-left: 1px solid #ddd;
}

table > tbody > tr > td.ActionGroupContainer {
  padding: 0px;
}

.vert-group:after {
  content: "";
  display: block;
  font-size: 1px;
  clear: both;
}

.vert-group {
  margin-bottom: 15px;
}

.responsive-container .col-lg-1,
.responsive-container .col-lg-10,
.responsive-container .col-lg-11,
.responsive-container .col-lg-12,
.responsive-container .col-lg-2,
.responsive-container .col-lg-3,
.responsive-container .col-lg-4,
.responsive-container .col-lg-5,
.responsive-container .col-lg-6,
.responsive-container .col-lg-7,
.responsive-container .col-lg-8,
.responsive-container .col-lg-9,
.responsive-container .col-md-1,
.responsive-container .col-md-10,
.responsive-container .col-md-11,
.responsive-container .col-md-12,
.responsive-container .col-md-2,
.responsive-container .col-md-3,
.responsive-container .col-md-4,
.responsive-container .col-md-5,
.responsive-container .col-md-6,
.responsive-container .col-md-7,
.responsive-container .col-md-8,
.responsive-container .col-md-9,
.responsive-container .col-sm-1,
.responsive-container .col-sm-10,
.responsive-container .col-sm-11,
.responsive-container .col-sm-12,
.responsive-container .col-sm-2,
.responsive-container .col-sm-3,
.responsive-container .col-sm-4,
.responsive-container .col-sm-5,
.responsive-container .col-sm-6,
.responsive-container .col-sm-7,
.responsive-container .col-sm-8,
.responsive-container .col-sm-9,
.responsive-container .col-xs-1,
.responsive-container .col-xs-10,
.responsive-container .col-xs-11,
.responsive-container .col-xs-12,
.responsive-container .col-xs-2,
.responsive-container .col-xs-3,
.responsive-container .col-xs-4,
.responsive-container .col-xs-5,
.responsive-container .col-xs-6,
.responsive-container .col-xs-7,
.responsive-container .col-xs-8,
.responsive-container .col-xs-9 {
  padding: 0px;
}

.responsive-container .form-group {
  margin: 0px;
}

.responsive-container label {
  margin-bottom: 0px;
}

@media (max-width: 543px) {
  .xs-gutter-0 > [class*="col-xs"] {
    padding-left: 0;
    padding-right: 0;
  }

  .xs-gutter-5 *[class*="col-xs"] {
    padding-left: 5px;
    padding-right: 5px;
  }

  .slogan {
    margin-top: 15px;
    font-size: 20px;
  }

  .header {
    margin-bottom: 20px;
    height: 60px;
  }

  #logo_container {
    padding: 0px;
  }

  .login-button {
    /* height: 120px; */
    margin-top: 2px !important;
    margin-bottom: 2px !important;
  }

  /*daterangepicker*/
  .daterangepicker .calendar-time {
    padding: 0px !important;
  }

  .daterangepicker .calendar-time div {
    margin-left: 10px;
  }

  .daterangepicker .ranges .dropdown {
    display: inline-block;
    float: left;
  }

  .daterangepicker .ranges ul {
    width: auto !important;
  }

  select.ampmselect {
    width: 60px !important;
  }

  select.minuteselect {
    width: 60px !important;
  }

  select.hourselect {
    width: 60px !important;
  }

  .master-section .time_since_container {
    top: 13px;
    z-index: 1011;
  }

  .find-out-more-btn {
    margin-left: 0;
    width: 100%;
    margin-top: 15px;
  }

  #form-container {
    padding: 0px;
  }

  #form-container .form-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .tablet {
    left: -20px;
    top: auto;
    bottom: -85px;
  }

  .hidden-xs-down {
    display: none;
  }

  .form-control {
    height: 34px;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
  }

  #header #user_name {
    padding-left: 0px;
    padding-right: 0px;
  }

  #loggedin_info {
    padding-left: 0px;
  }

  .responsive_nav {
    position: relative;
    margin-left: -15px;
  }

  .responsive_nav .navbar_item_container {
    display: none;
    position: absolute;
    right: 0px;
    top: 80%;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5em;
    box-shadow: 0px 0px 0.3em rgba(0, 0, 0, 0.4);
    padding: 1em;
    z-index: 99999;
    height: auto;
  }

  .responsive_nav.selecting .navbar_item_container {
    display: block;
  }

  #secondarynav .responsive_nav .navbar_item_container .navbar-button {
    display: block;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0em 1em;
    text-align: left;
  }

  #secondarynav .responsive_nav .navbar_item_container .navbar-button a {
    line-height: inherit;
  }

  html #navbar_button_container_deploy .navbar-button a {
    font-size: 1em !important;
  }

  #secondarynav .responsive_nav .navbar_item_container .navbar-button.active {
    border: none !important;
    font-weight: bold;
  }

  #secondarynav .navbar_current_display {
    height: 100%;
    box-sizing: border-box;
    line-height: 48px;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  #secondarynav .navbar_current_display > * {
    display: inline-block;
    padding-right: 5px;
  }

  #secondarynav .navbar_current_display:hover > * {
    color: rgb(77, 117, 147);
  }

  #secondarynav {
    height: 48px;
  }

  #breadcrumb_title {
    line-height: 48px;
  }

  #breadcrumb_title span.ng-binding > * {
    display: none;
  }

  #breadcrumb_title span.ng-binding a:last-of-type {
    display: inline-block;
  }

  #breadcrumb_title span.ng-binding div.right_arrow {
    display: inline-block;
  }

  /* FOOTER */
  #footer {
    font-size: 0.9em;
    line-height: 2.5em;
    z-index: 1001;
  }

  #footer.closed {
    height: 32px;
  }

  #footer:not(.closed) {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15);
  }

  #footer .row {
    margin: 0px;
  }

  #footer > .logs_list {
    padding: 0em 0em 0em 0.5em;
  }

  #footer > .logs_list > .row > div {
    padding: 0em 0.5em 0em 0em;
    text-align: left;
  }

  #footer > .logs_list > .row > div:first-child {
    width: 35%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #footer > .logs_list > .row > div + div {
    padding: 0em 0em 0em 0.5em;
    width: 65%;
  }

  #footer > .log_arrow_up,
  #footer > .log_arrow_down {
    padding: 0em 0.2em;
    background-size: 12px 12px;
    height: 2.5em;
  }

  /* dialog */
  .modal-dialog .modal-header > * {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .modal-dialog .panel-extra {
    padding-left: 10px;
    padding-right: 10px;
  }

  .modal-dialog .panel-extra > div.panel-heading,
  .modal-dialog .panel-extra > div.panel-body {
    padding: 10px 0px 10px 0px;
  }

  .modal-dialog .panel-extra > div.panel-heading > * {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  /* table */
  table.data-list {
    border: none;
  }

  table.data-list > tbody > tr + tr {
    border-top: 2px solid #dddddd;
  }

  table.data-list > thead > tr > th,
  table.data-list tr > th,
  table.data-list > tbody > tr > td {
    border: none;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  table.data-list > thead > tr > th:first-child,
  table.data-list tr > th:first-child {
    border-top-left-radius: 6px;
  }

  table.data-list > thead > tr > th:last-child,
  table.data-list tr > th:last-child {
    border-top-right-radius: 6px;
  }

  table.data-list tr > th.checkbox-cell,
  table.data-list tr > td.checkbox-cell {
    width: 11%;
  }

  table.data-list > tbody > tr > td.action,
  table.data-list > tbody > tr > td.action.clear-width {
    width: 11%;
    vertical-align: middle;
  }

  table.data-list > tbody > tr > td > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  table.data-list > tbody > tr > td.collapsed-xs-down {
    width: 0px;
    visibility: hidden;
  }

  table.data-list > tbody > tr.withActions > td.collapsed-xs-down {
    visibility: inherit;
  }

  table.data-list > tbody > tr.withActions > td.ActionGroupContainer {
    overflow: visible;
    position: relative;
  }

  table.data-list
  > tbody
  > tr.withActions
  > td.collapsed-xs-down
  > table.ActionGroup {
    position: absolute;
    bottom: 100%;
    right: -40px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  }

  table.area-list > tbody > tr > td.name,
  table.area-list > tbody > tr > td.receiver {
    width: 30%;
  }

  table.receiver-list > tbody > tr > td.type {
    width: 22%;
  }

  table.tag-list tr .tag-cell {
    width: 40%;
  }

  /*search container*/
  #search-container .search-row-icon {
    height: 36px;
    background-position: left;
    background-position-x: 90px;
  }

  .search-item-row.vcenter {
    display: block;
  }

  .search-item-row {
    height: auto;
    text-align: left;
    margin-bottom: 10px;
  }

  .search-item-row > div {
    padding-top: 5px;
    padding-bottom: 0px;
    white-space: nowrap;
  }

  .receiver-summary div:before {
    content: attr(data-column-header);
    width: 90px;
    float: left;
    color: grey;
  }

  .tagged-asset-summary div:before {
    content: attr(data-column-header);
    width: 90px;
    float: left;
    color: grey;
  }

  .sensor-tag-summary div:before {
    content: attr(data-column-header);
    width: 90px;
    float: left;
    color: grey;
  }

  .search-item-legend-highlight {
    visibility: visible;
  }

  /*categories*/
  .categories_list .category {
    font-size: 18px;
  }

  /*map*/
  .map-dashboard {
    padding-top: 40px;
  }

  #panel-categories-map {
    height: auto;
    margin-top: -30px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .master-section-map {
    padding: 0px;
    height: calc(100% - 10px);
  }

  #main-content {
    height: calc(100% - 140px);
  }

  #main-content .panel-title .btn-link .fa span {
    font-size: 0.9em;
  }

  .responsive-container .horz-xs-down > * + *,
  .responsive-container .horz > * + * {
    padding-left: 15px;
  }

  .responsive-container .horz-xs-down > label,
  .responsive-container .horz > label {
    line-height: 30px;
  }

  .use-geofence-radio {
     margin: 10px !important;
  }

  .responsive-container .vert-xs-down > * + *,
  .responsive-container .vert > * + * {
    margin-top: 10px;
  }

  .responsive-container .vert-xs-down > label + *,
  .responsive-container .vert > label + * {
    margin-top: 5px;
  }

  .responsive-container .vert-xs-down > label,
  .responsive-container .vert > label {
    margin-top: 0px;
  }

  .responsive-container .vert-xs-down > *:after,
  .responsive-container .vert > *:after {
    content: "";
    display: block;
    font-size: 1px;
    clear: both;
  }

  .responsive-container .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .responsive-container .panel-heading:after,
  .responsive_nav_tabs:after {
    content: "";
    display: block;
    font-size: 1px;
    clear: both;
  }

  .responsive-container .panel-heading label {
    font-weight: normal;
  }

  .responsive-container .panel-heading .heading {
    border-bottom-width: 1px;
    border-style: solid;
  }

  .panel-default .transparent-xs-down {
    background-color: transparent;
  }

  .text-left-sx-down {
    text-align: left;
  }

  .bold-xs-down {
    font-weight: bold;
  }

  .less-heavy-xs-down {
    opacity: 0.7;
  }

  .clear-vert-padding-xs-down {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .clear-border-xs-down {
    border: none;
  }

  .left-xs-down {
    float: left !important;
  }

  .responsive_nav_tabs .nav-tabs.navbar_item_container > li {
    display: block;
    float: none;
  }

  .responsive_nav_tabs .nav-tabs.navbar_item_container > li > a:after {
    content: "";
    display: block;
    font-size: 1px;
    clear: both;
  }

  .responsive_nav_tabs .nav-tabs.navbar_item_container > li:hover,
  .responsive_nav_tabs .nav-tabs.navbar_item_container > li:focus {
    background-color: #eee;
    border-radius: 4px;
  }

  .responsive_nav_tabs .nav-tabs.navbar_item_container > li > a {
    border: none;
  }

  .responsive_nav_tabs .nav-tabs.navbar_item_container > li.active > a:focus,
  .responsive_nav_tabs .nav-tabs.navbar_item_container > li.active > a:hover {
    background-color: transparent;
    border: none;
  }

  .responsive_nav_tabs .navbar_current_display {
    padding: 10px;
    display: table;
    width: 100%;
    cursor: pointer;
  }

  .responsive_nav_tabs .navbar_current_display:hover {
    color: #4D7593;
  }

  .responsive_nav_tabs .navbar_current_display > * {
    display: table-cell;
    vertical-align: middle;
  }

  .responsive_nav_tabs .narbar_current_display_container > a > div {
    text-color: #555;
  }

  .responsive_nav_tabs .narbar_current_display_container:after,
  .responsive_nav_tabs .narbar_current_display_container a:after {
    content: "";
    display: block;
    font-size: 1px;
    clear: both;
  }

  .responsive_nav_tabs .tab-head {
    float: left;
    display: table;
  }

  .responsive_nav_tabs .tab-head > div {
    display: table-cell;
  }

  .responsive_nav_tabs .tab-head > div.icon {
    vertical-align: top;
  }

  .responsive_nav_tabs .tab-head .tab-title .title,
  .responsive_nav_tabs .tab-head .tab-title .subtitle,
  .responsive_nav_tabs .tab-head .time {
    float: left !important;
  }

  .responsive_nav_tabs .tab-head .clearfix {
    display: none;
  }

  .responsive_nav_tabs .tab-head .title {
    padding-right: 10px;
  }

  .responsive_nav_tabs .tab-head .title p {
    margin: 0px;
  }

  .responsive_nav_tabs .narbar_current_display_container .tab-head * {
    color: #555;
  }

  .responsive_nav_tabs .nav-tabs.navbar_item_container > li > a .icon,
  .responsive_nav_tabs .narbar_current_display_container .tab-head .icon {
    padding-right: 10px;
  }

  .tab_plot_nav {
    margin-top: 10px;
  }

  .tab_plot_nav .navbar_item_container .time {
    display: none;
  }

  .tab_plot_nav .navbar_item_container {
    max-height: 170px;
    overflow-y: scroll;
    padding: 0px;
  }

  #main-content .top-panel > .panel-heading,
  #main-content .top-panel > .panel-body {
    padding: 0px;
  }

  #main-content .top-panel > .panel-heading + .panel-body {
    padding-top: 10px;
  }

  #main-content .top-panel > .panel-heading {
    background-color: transparent;
    border: none;
  }

  .btn-xs-down {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    height: 30px;
  }

  .panel-heading button.btn-xs-down span {
    font-size: 0.8em;
  }

  .btn-xs-down.btn-bulk-add {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .btn-xs-down.btn-delete {
    padding-left: 6px;
    padding-right: 6px;
  }

  .asset-list-heading .btn-xs-down.btn-bulk-add,
  .asset-list-heading .btn-xs-down.btn-bulk-delete {
    width: 78px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 1px;
  }

  .wrapword-xs-down {
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    white-space: pre-wrap;
    /* css-3 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap;
    /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
  }

  .setting-type label.control-label {
    text-align: right;
  }

  table.responsiveTable thead {
    display: none;
  }

  table.responsiveTable tbody td {
    display: block;
    padding: 0.6rem;
    min-width: 320px;
  }

  table.responsiveTable tbody tr td:first-child {
  }

  table.responsiveTable tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .vert-group > div + div {
    margin-top: 5px;
  }

  .asset-tabs .nav-tabs {
    background-color: lightgray;
  }

  .asset-tabs .nav-tabs li {
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4px 4px 0 4px;
  }

  .asset-tabs .nav-tabs li a {
    padding: 5px;
    border-radius: 4px 4px 0 0;
  }

  .asset-tabs .nav-tabs li a:after {
    content: "";
    display: block;
    font-size: 1px;
    clear: both;
  }

  .asset-tabs .nav-tabs .tab-head {
    display: table;
    float: left;
  }

  .asset-tabs .nav-tabs .tab-head > div {
    display: table-cell;
    vertical-align: top;
  }

  .asset-tabs .nav-tabs .tab-head > .icon {
    padding-right: 3px;
  }

  .asset-tabs .nav-tabs .tab-head .title,
  .asset-tabs .nav-tabs .tab-head .subtitle,
  .asset-tabs .nav-tabs .tab-head .time {
    float: left !important;
  }

  .asset-tabs .nav-tabs .tab-head .subtitle {
    display: none;
  }

  .asset-tabs .nav-tabs .tab-head .title p {
    margin: 0px;
  }

  #master-detail-tab-content {
    padding-left: 10px;
    padding-right: 10px;
    height: calc(100% - 235px);
  }

  #tab-button-container {
    padding-top: 15px;
    padding-bottom: 0;
  }

  #location_table {
    overflow-y: visible;
    height: auto;
  }

  .row-data {
    height: 120px;
  }

  #location_table .location-name {
    padding-left: 5px;
  }

  #location_table .location-timing  {
    float: left;
    height: 24px;
    padding-right: 0px;
    padding-left: 25px;
    background: none;
    margin-left: 8%;
  }

  #location_table .location-timing :before {
    content: attr(data-column-header);
    width: 25%;
    float: left;
    line-height: 25px;
  }

  #location_table .location-timing  div {
    width: 75%;
    float: left;
  }

  #location_table .location-name span {
    line-height: 36px;
  }

  .location-icon-rounded {
    line-height: 36px;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .sensory_tab_datepicker,
  #history_location_datetimepicker {
    padding-right: 0px !important;
  }

  .sensory_tab_controller {
    margin-bottom: 0;
    overflow-y: visible;
  }

  /*tiles*/
  .scrollable {
    padding-bottom: 20px;
  }

  .tile_data {
    z-index: auto;
  }

  .site_cover_tile_container {
    border: 0;
    padding-bottom: 10%;
    margin-top: 0px;
  }

  .site_tiles_data_container {
    width: 100%;
    padding: 0;
  }

  .site_tiles_data_container .tile-total-counter {
    font-size: 18px;
    top: 5px;
    left: 10px;
    font-weight: bold;
  }

  .sites-areas .tile-total-counter {
    line-height: 20px;
    font-size: 14px;
    top: 30px;
  }

  .site_tile [name="tile-opened"] {
    position: relative;
    display: none;
  }

  .site_tile [name="tile-opened"]:checked ~ .tile_data::after {
    bottom: -16%;
  }

  /*chart*/
  .nvtooltip {
    display: none;
  }

  .area_tile .tile-chart {
    bottom: 4px;
  }

  .tile-chart .nvd3.nv-noData {
    font-size: 18px;
  }

  .site_tile .tile-chart {
    bottom: 8px;
  }

  .area_tile .tile-chart {
    bottom: 4px;
  }

  .area_tile .tile-chart .nv-noData {
    font-size: 10px;
    bottom: 0px;
  }

  .site_tile {
    width: 50%;
    margin: 0;
    padding: 5px;
  }

  .sites-areas-container {
    min-height: 96px;
  }

  .sites-areas-container .area_tile {
    width: 28%;
    padding: 5px;
  }

  [name="tile-opened"]:checked ~ .tile_data {
    margin-bottom: 90%;
  }

  [name="tile-opened"]:checked ~ .sites-areas {
    margin-top: -33%;
    left: 5px;
    right: 5px;
  }

  #dashboard_summary {
    display: block;
    padding-top: 10px;
    height: 80px;
  }

  #dashboard_summary.tiles-dashboard-summary {
    height: 40px;
  }

  div#dashboard_summary > .cl-datetimepicker:first-child {
    margin-top: 35px;
  }

  #responsive_category_selector {
    padding-left: 10px;
  }

  #dashboard_summary .cl-datetimepicker {
    width: 100%;
    margin: 5px 5px 5px 0px;
    padding-right: 10px;
  }

  #dashboard_summary .cl-datetimepicker .input-group .date-picker {
    max-width: 100%;
  }

  .asset-tabs .cl-datetimepicker {
    padding-left: 20px !important;
  }

  #dashboard_summary .time_since_container {
    border: 0;
    padding: 0;
    top: 15px;
  }

  #dashboard_summary .time_since_container .input-group {
    float: right;
  }

  #dashboard_summary .time_since_container .input-group-addon {
    margin-left: 0px;
  }

  #dashboard_content {
    height: calc(100% - 80px);
  }

  #dashboard_content.tiles-dashboard-content {
    padding-top: 40px;
  }

  #dashboard_content .category_tile .tile-title {
    font-size: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #masterdetails_content {
    height: 100%;
    margin-top: 4px;
    overflow: scroll;
  }

  #master-details-container {
    margin-bottom: 30px;
  }

  #master-details-container .search-item-legend {
    height: 54px;
    line-height: 22px;
    text-align: left;
    padding: 10px;
  }

  #master-details-container .search-item-legend div:nth-child(n + 3) {
    color: gray;
  }

  #master-details-container .search-item-row {
    text-align: left;
  }

  #master-details-table .search-item-row:not(.search-item-cell-selected) {
    border-bottom: none;
  }

  #master-details-container .search-item-row .search-item-cell {
    padding-left: 5px;
    padding-right: 5px;
  }

  #master-details-container .search-item-row div:nth-child(n + 3) {
    color: gray;
  }

  #master-details-container #master-details-table {
    overflow: visible;
  }

  #location_tab_controller .location-icon-rounded {
    line-height: 36px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .master-detail-tab-header-element {
    height: auto;
  }

  #asset-infos {
    height: auto;
  }

  #asset-tabs-container {
    height: auto;
    margin-top: 10px;
  }

  #asset-tabs-container .col-xs-12 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .master-detail-tab-handler {
    background-size: 14px 14px;
    height: 70px;
  }

  .master-detail-tab-handler-title,
  .master-detail-tab-handler-subtitle,
  .master-detail-tab-handler-last-update {
    padding-left: 5px;
  }

  .master-detail-tab-handler-subtitle {
    padding-right: 15px;
    font-size: 14px !important;
  }

  .master-detail-tab-handler-last-update {
    font-size: 12px;
  }

  #search_results_counter {
    margin-top: -37px;
    width: auto;
    float: right;
    font-size: 20px;
  }

  .filter_container div {
    text-align: left;
  }

  .filter_container .filter_wrapper {
    padding-left: 15px;
  }

  .filter_item_container .filter_item {
    min-width: 70px;
  }

  #search-container .list-group {
    padding-left: 15px;
    margin-top: 15px;
    height: 220px;
  }

  #free-dwell-time {
    margin-top: -30px;
  }

  #search-content {
    height: calc(100% - 150px);
  }

  .hidden-sm-down {
    display: none;
  }

  #tab-button-container,
  #tab-button-container > div {
    padding-left: 5px !important;
    text-align: left;
  }

  div.panel-heading div.container-selection {
    padding-top: 0px !important;
  }
}

@media (min-width: 544px) {
  .hidden-sm-up {
    display: none;
  }

  #secondarynav .navbar_button_container .navbar_item_container {
    height: 100%;
    margin-bottom: 0px;
  }

  .responsive-container .horz-sm-up > * + *,
  .responsive-container .horz > * + * {
    padding-left: 30px;
  }

  .responsive-container.loc-modal .horz-sm-up > * + * {
    padding-left: 10px;
  }

  .responsive-container .horz-sm-up > label,
  .responsive-container .horz > label {
    line-height: 34px;
    text-align: right;
  }

  .responsive-container .vert-sm-up > * + *,
  .responsive-container .vert > * + * {
    margin-top: 15px;
  }

  .responsive-container .vert-sm-up > label + *,
  .responsive-container .vert > label + * {
    margin-top: 5px;
  }

  .responsive-container .vert-sm-up > *:after,
  .responsive-container .vert > *:after {
    content: "";
    display: block;
    font-size: 1px;
    clear: both;
  }

  .responsive-container .panel-heading.horz-sm-up {
    padding: 10px 30px 10px 30px;
  }

  .tab_plot_nav .nav-tabs li a:after,
  .asset-tabs .nav-tabs li a:after {
    content: "";
    display: block;
    font-size: 1px;
    clear: both;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
  .hidden-sm-down {
    display: none;
  }

  /*login page*/
  .slogan {
    margin-top: 22px;
  }
}

@media (min-width: 768px) {
  /* .modal-dialog {
        width: 650px !important;
    }*/
  .time_since_container {
    top: -40px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #ccc;
    border-radius: 0px;
    height: 40px;
    right: 0px;
    z-index: 1;
  }

  #site_counters {
    height: 60px;
    right: 170px;
  }

  .master-detail-tab-parent {
    width: 160px;
  }

  div.panel.top-panel .panel-heading {
  }

  div.panel-heading ol.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0px;
  }

  .admin-asset-tabs-container {
    height: calc(100% - 145px);
  }

  .asset-tabs .cltab-content {
    height: calc(100% - 92px);
  }
}

/* Medium devices (tablets, less than 992px)*/
@media (min-width: 768px) and (max-width: 991px) {
  /*login page*/
  /*.find-out-more-btn{
        margin-top: 60px;
    }*/
  #logo_container {
    padding: 0;
    margin-bottom: 60px;
  }

  .login-button {
    width: 100%;
    height: 30px;
  }

  /* #login {
        width: 100%;
        margin-left: 0;
    } */
  .find-out-more-btn {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }

  #form-container {
    padding: 15px;
  }

  /* #loginForm {
        margin-top: 55px;
        margin-left: 63px;
    } */
  /*secondarynav*/
  #secondarynav .navbar-button {
    padding: 0px 10px;
    min-width: 1px;
  }

  /*#secondarynav .navbar-button a{
        font-size: 10px;
    }*/
  .hidden-sm-down {
    display: none;
  }

  table.ActionGroup td {
    width: auto;
    padding: 4px;
    border: none !important;
  }

  table.data-list td {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #footer {
    z-index: 1001;
  }

  /*tab*/
  #location_tab_controller .location-icon-rounded {
    line-height: 36px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #location_graph_container {
    margin-top: 15px;
  }

  .asset-tabs .nav-tabs li {
    margin-left: 5px;
  }

  .asset-tabs .tab-title {
    height: 50px;
  }

  .user-profile {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .user-profile form {
    padding-left: 15px;
    padding-right: 15px;
  }

  /*search*/
  #search-container .list-group {
    padding-left: 15px;
    margin-top: 15px;
    height: 540px;
  }

  .search-item-legend-highlight {
    visibility: visible;
  }

  /*tiles*/
  .site_tiles_data_container {
    padding-right: 0px;
  }

  .sites-areas {
    left: 24px;
    right: 10px;
  }

  .site_tiles_data_container .site_tile {
    width: 33.3333333%;
    margin: 0;
    padding: 10px;
  }

  .site_cover_tile_container {
    padding-bottom: 21%;
  }

  .header-label {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
  }

  [name="tile-opened"]:checked ~ .sites-area {
    margin-top: -28%;
  }

  [name="tile-opened"]:checked ~ .tile_data {
    margin-bottom: 116%;
  }

  [name="tile-opened"]:checked ~ .tile_data::after {
    bottom: -16%;
  }

  [name="tile-opened"]:checked ~ .sites-areas {
    margin-top: -28%;
  }

  .sites-areas-container {
    min-height: 148px;
  }

  .area_tile {
    width: 28%;
  }

  .area_tile .nvd3.nv-noData {
    font-size: 14px;
  }

  .area_tile .tile-total-counter {
    top: 8px;
    left: 10px;
    font-size: 20px;
  }

  /*asset advanced details*/
  #master-detail-tab-content {
    height: calc(100% - 242px);
  }

  #master-detail-tab-header #asset-infos {
    height: auto;
  }

  #masterdetails_content {
    height: 100%;
  }

  #master-details-container {
    height: 780px;
    overflow: scroll;
  }

  #master-details-table {
    height: 100%;
    overflow: scroll;
  }

  #master-details-table .search-item-row {
    text-align: left;
    border: none;
  }

  #master-details-table .search-item-row .search-item-cell {
    padding-left: 5px;
    padding-right: 0px;
  }

  .master-detail-tab-handler {
    background-size: 20px 20px;
  }

  #location_table .location-timing  {
    float: left;
    height: 24px;
    padding-right: 0px;
    padding-left: 25px;
    background: none;
    margin-left: 8%;
  }

  #location_table .location-timing :before {
    content: attr(data-column-header);
    width: 15%;
    float: left;
    line-height: 25px;
  }

  #location_table .location-timing  div {
    width: 75%;
    float: left;
  }

  #location_table .location-name span {
    line-height: 38px;
  }

  table.responsiveTable thead {
    display: none;
  }

  table.responsiveTable tbody td {
    display: block;
    padding: 0.6rem;
    min-width: 320px;
  }

  table.responsiveTable tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .panel-title {
    font-size: 20px;
  }

  .row-data {
    height: 120px;
  }

  .sensory_tab_controller {
    overflow-y: visible;
  }

  .category {
    font-size: 18px;
  }

  .time_since_container cl-timesince {
    line-height: 18px;
    font-size: 18px;
  }

  .bulk-modal-window .modal-content {
    min-width: 630px;
  }
}

@media (min-width: 992px) {
  .hidden-md-up {
    display: none;
  }

  .admin-asset-tabs-container {
    height: calc(100% - 100px);
  }

  .bulk-modal-window .modal-content {
    min-width: 760px;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .find-out-more-btn {
    margin-left: 5px;
    margin-top: 0;
  }

  .tablet {
    top: 58px;
    width: 100%;
    height: 400px;
  }

  #location_table .location-timing  {
    padding: 0;
  }
}

@media (min-width: 1100px) and (max-width: 1156px) {
  .tablet {
    top: 67px;
    width: 101%;
    height: 402px;
  }
}

@media (min-width: 900px) and (max-width: 991px) {
  .tablet {
    top: 67px;
    width: 98%;
    height: 362px;
  }
}

@media (min-width: 830px) and (max-width: 900px) {
  .tablet {
    top: 77px;
    width: 98%;
    height: 311px;
  }
}

@media (min-width: 768px) and (max-width: 830px) {
  .tablet {
    top: 65px;
    width: 100%;
    height: 313px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .login-page {
    padding-right: 0;
    padding-left: 0;
  }

  .login-content {
    margin: 0;
    padding-left: 0;
  }

  .tablet-logo {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .login-page {
    padding-right: 0;
    padding-left: 0;
  }

  .login-content {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .login-form-continer {
    padding-right: 15px;
    padding-left: 15px;
  }

  .tablet-logo {
    padding: 0;
  }
}

@media (min-width: 768px) {
  #formLogin,
  .forget-pass,
  .form-set-pass {
    padding-left: 45px;
    padding-right: 35px;
  }
}

/*Responsive styles*/

@media all and (max-width: 1300px) {
  .wt__box.wt__info-card {
    padding: 2px 0px;
    min-width: calc(25% - 20px);
    box-sizing: border-box;
  }

  .wt__col-align-right {
    margin-right: 0px;
  }

  .collapsed-graph .wt__location-graph .wt__category-list {
    font-size: 16px;
  }
}

@media all and (max-width: 1024px) {
  /* iPad landscape */
  #wt__metrics-container {
    max-width: 850px;
    margin: 60px auto;
  }

  .wt__col-align-right {
    margin-right: 12px;
  }

  .wt__box.wt__info-card {
    padding: 2px 0px;
    min-width: calc(33% - 17px);
    box-sizing: border-box;
  }

  .wt__box-grid .wt__box {
    margin: 10px;
  }

  .wt__box.wt__kpi {
    min-width: 400px;
  }

  .wt__location-graph {
    flex-basis: calc(100% - 10px);
  }

  #wt__location-container .refresh-interval-slider-component {
    margin-right: 0;
  }

  #wt__metrics-container .wt__col-33 {
    flex-basis: calc(50% - 50px);
  }

  .wt__responsive-flex.wt__flex-row,
  .wt__map-header.wt__header-row {
    flex-flow: row wrap;
  }

  .wt__responsive-flex.wt__flex-row .wt__col-25,
  .wt__responsive-flex.wt__flex-row .wt__col-33 {
    flex-basis: 60%;
    margin-right: 0px;
  }

  .wt__svg-sliders-icon {
    left: 10px;
    position: absolute;
  }
}

@media all and (max-width: 768px) {
  .wt__box.wt__info-card {
    padding: 2px 0px;
    min-width: calc(50% - 15px);
    box-sizing: border-box;
  }

  /*single column*/
  #wrapper,
  .width-1200,
  #main-content,
  .wt__panel-body,
  .wt__col-100 {
    /*width: 1024px;*/
    width: 100vw;
  }

  .wt__col-100,
  #wt__metrics-container .wt__flex-row {
    flex-flow: row wrap;
  }

  #wt__metrics-container .wt__col-33 {
    flex-basis: 45%;
  }

  .wt__location-graph {
    flex-basis: 100%;
  }

  .wt__carousel-slider {
    margin-right: 10px;
  }

  .wt__box-grid .wt__box.wt__kpi {
    flex-basis: 80%;
    flex-shrink: 1;
  }

  .wt__header-row.wt__map-header {
    flex-flow: row wrap;
  }

  .wt__box-grid .wt__box {
    margin: 10px;
  }

  .wt__responsive-flex.wt__flex-row .wt__col-25,
  .wt__responsive-flex.wt__flex-row .wt__col-33 {
    flex-basis: 60%;
    margin-right: 0px;
  }
}

@media all and (max-width: 550px) {
  .wt__box.wt__info-card {
    padding: 2px 0px;
    min-width: calc(100% - 10px);
    box-sizing: border-box;
  }
}

.displayForTablet {
  display: none !important;
}

.displayForDesktop {
  display: block !important;
}

@media (max-width: 768px) {
  .displayForTablet {
    display: block !important;
  }

  .displayForDesktop {
    display: none !important;
  }
}

@media (max-width: 400px) {
  .mobileHide {
    display: none !important;
  }

  .mobile-mb15 {
    margin-bottom: 15px;
  }

  .mobile-ml0 {
    margin-left: 0px !important;
  }

  .mobile-clear {
    display: block;
    clear: both;
  }
}
