.cl-sensors .cl-sensor-filter{
  transition: all 0.25s;
  box-sizing: content-box;
  height: 100%;
}
.cl-sensors .cl-sensor-filter .wt__scroll-container{
  width: 100%;
}
.cl-sensors .cl-sensor-filter.cl-sensor-filter-toogle {
  padding-left: 0;
  opacity: 0;
  width: 0;
}
.cl-sensors .cl-sensor-filter .h6 label+span{
  font-weight: normal;
}
.cl-sensors .cl-filter-icon {
  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 2;
}
.cl-sensors .action-bar{
  margin-left: 10px !important;
}
.cl-sensor-filter .cl-filter-close-icon{
  position: relative;
  top: -20px;
  right: 15px;
}

.cl-sensor-filter.wt__filter-panel {
  box-sizing: border-box;
}
