body {
  font-family: 'lato';
}

.background-none {
  background: none;
}
.background-brown {
  background: #51072F;
}
.background-white {
  background: white;
}
.background-white-f6 {
  background: #f6f6f6;
}
.background-white-f9 {
  background: #f9feff;
}
.background-white-fb {
  background: #f6fbff;
}
.background-blue-1{
  background-color: #aaedea !important;
}
.background-tomato {
  background: tomato;
}
.background-yellow {
  background: #f0ad4e;;
}
.background-lblue {
  background: #52b9e9 !important;
}
.background-blue {
  background: #1171a3 !important;
}
.background-blue-0c {
  background: #0c70b3 !important;
}
.background-blue-4d {
  background: #4d96c8;
}
.background-blue-4e {
  background: #4e7694;
}
.background-blue-00 {
  background: #0094d0 !important;
}
.background-blue-84 {
  background: #84cce7;
}
.background-green {
  background: #43c83c !important;
}
.background-orange {
  background: #f88529 !important;
}
.background-pink {
  background: pink;
}
.background-f8 {
  background: #f8f8f8;
}
.background-lightGray {
  background: lightgray;
}
.background-transparent {
  background: transparent !important;
}
.background-gray03 {
  background: #eff3f5;
}
.background-gray04 {
  background: #dddddd;
}
.background-black {
  background: #000000;
}
.background-gray-33 {
  background: #333333;
}
.background-gray-eb{
  background: #ebebeb;
}
.background-gray-f5 {
  background: #f5fbff;
}
.background-gray-4b {
  background: #4b4e52;
}
.background-gray-4a {
  background:#4a4d50;
}
.background-gray-ec {
  background: #eceaea;
}
.background-gray-e6 {
  background: #e6e6e6;
}
.background-gray-ea {
  background: #eaeaea;
}
.background-gray-ee {
  background: #eeeeee;
}
.background-gray-aa {
  background: #aaa3a3;
}
.background-gray-57 {
  background: #575757;
}
.background-gray-e4 {
  background: #e4e4e4;
}
.background-gray-cc {
  background: #cccccc;
}
.background-orange-e9 {
  background: #e9a824;
}
.background-d2 {
  background: #d2d2d2;
}
.background-2e,
.header_hamburger {
  background: #2eb0df;
}
.background-a4 {
  background: #a4a4a4;
}
.background-9e {
  background: #9EADE5;
}
.background-blue-aa {
  background: #aad9ff;
}
.background-88 {
  background: #888888;
}
.background-f5e {
  background: #ff5e5e;
}
.background-red {
  background: #ff4440;
}
.background-cyan {
  background: #B7F1EF;
}
.background-cyan-lite {
  background: #F3FDFC;
}

.color-white {
  color: #ffffff !important;
}
.color-cc {
  color: #cccccc;
}
.cl-icon-color{
  color: #555555
}
.color-red {
  color: #ff0000;
}
.color-orange-red {
  color: orangered;
}
.color-green {
  color: green;
}
.color-success {
  color: #BBC92F;
}
.color-lightgreen {
  color: #7ed321 !important;
}
.color-yellow {
  color: #f0ad4e;
}
.color-blue {
  color: #1d6ed4;
}
.color-dimgray {
  color: dimgray;
}
.color-93 {
  color: #93cede;
}
.color-3c {
  color: #3c93cb !important;
}
.color-a9 {
  color: #a94442;
}
.color-blue-31 {
  color: #3182bd;
}
.color-b1 {
  color: #b1b1b1;
}
.color-22 {
  color: #227fc0;
}
.color-2b {
  color: #2b2b2b;
}
.color-2e {
  color: #2eb0df;
}
.color-blue-27,
.build-info-color {
  color: #27c1f5;
}
.color-38 {
  color: #383838 !important;
}
.color-69 {
  color: #696969;
}
.color-6a {
  color: #66afe9;
}
.color-e9 {
  color: #e9a824;
}
.color-a1 {
  color: #a1a1a1;
}
.color-a6 {
  color: #a6a6a6;
}
.color-a4 {
  color: #a4a4a4;
}
.color-75 {
  color: #757575;
}
.color-0c {
  color: #0c70b3;
}
.color-17 {
  color: #174365;
}
.color-3a {
  color: #3a3c3f;
}
.color-4a {
  color: #4a4d50;
}
.color-4b {
  color: #4b4e52;
}
.color-4e {
  color: #4e7694;
}
.color-34 {
  color: #3479b7;
}
.color-43 {
  color: #434343;
}
.color-55 {
  color: #555555 !important;
}
.color-57 {
  color: #575757;
}
.color-5c {
  color: #5c5c5c;
}
.color-5d {
  color: #5d666f;
}
.color-66 {
  color: #666666;
}
.color-77 {
  color: #777777;
}
.color-d8 {
  color: #d8ebf9 !important;
}
.color-gray8 {
  color: #d8d8d8;
}
.color-9e {
  color: #9e9ea3;
}
.color-black {
  color: #000000;
}
.color-8c {
  color: #8c8c92 !important;
}
.color-00,
.card-ellipsis-color {
  color: #0094d0;
}
.color-07,
.nav-link-color {
  color: #0071C1;
}
.color-33 {
  color: #337ab7 !important;
}
.color-333 {
  color: #333333;
}
.color-64 {
  color: #646262;
}
.color-7c {
  color: #7c7c7c;
}
.color-c4 {
  color: #c4c4c4;
}
.color-32 {
  color: #32cd32;
}
.color-80 {
  color: #808080;
}
.color-e4 {
  color: #e41018;
}
.color-63 {
  color: #636161;
}
.color-c9 {
  color: #c94926;
}
.color-4d {
  color: #4d7593;
}
.color-99 {
  color: #999999;
}
.color-c7 {
  color: #c7c7c7;
}
.color-a5 {
  color: #410c0c;
}
.color-aa {
  color: #aaaaaa !important;
}
.color-f5 {
  color: #f5fbff !important;
}
.color-de {
  color: #dedede;
}
.color-ae {
  color: #a4e364;
}
.color-6d {
  color: #6dbcef;
}
.color-88 {
  color: #888888;
}
.color-d3 {
  color: #d3d3d3;
}
.color-gray-32 {
  color: #323232;
}
.color-7d {
  color: #7d7d7d;
}

.border-7c {
  border-color: #7c7c7c;
}
.border-c7 {
  border-color: #c7c7c7;
}
.border-white {
  border-color: #ffffff;
}
.border-right-white {
  border-right-color: #ffffff;
}
.border-pale-orange {
  border-color: #e97866;
}
.border-gray-8c {
  border-color: #8c8c92;
}
.border-gray-dd {
  border-color: #dddddd;
}
.border-left-dd {
  border-color: #dddddd;
}
.border-gray-d8 {
  border-color: #d8d8d8;
}
.border-top-ee {
  border-top-color: #eeeeee;
}
.border-bottom-ee {
  border-bottom-color: #eeeeee;
}
.border-right-ee {
  border-right-color: #eeeeee;
}
.border-32 {
  border-color: #32cd32 !important;
}
.border-96 {
  border-color: #969696;
}
.border-e6 {
  border-color: #e6e4e4;
}
.border-right-bc {
  border-right-color: #bcbdc1;
}
.border-left-bc {
  border-left-color: #bcbdc1;
}
.border-bc {
  border-color: #bcbdc1;
}
.border-left-black {
  border-left-color: #000000;
}
.border-left-8c {
  border-left-color: #8c8c90;
}
.border-right-8c {
  border-right-color: #8c8c90;
}
.border-bottom-8c {
  border-bottom-color: #8c8c90;
}
.border-top-8c {
  border-top-color: #8c8c90;
}
.border-8c {
  border-color: #8c8c90;
}
.border-bottom-black {
  border-bottom-color: #000000;
}
.border-bottom-cc {
  border-bottom-color: #cccccc;
}
.border-bottom-e7 {
  border-bottom-color: #e7e8e8;
}
.border-top-cc {
  border-top-color: #cccccc;
}
.border-cc {
  border-color: #cccccc;
}
.border-ea {
  border-color: #eaebef;
}
.border-e1 {
  border-color: #e1e2e7;
}
.border-e2 {
  border-color: #e2e0e0;
}
.border-bottom-e5 {
  border-bottom-color: #e5e5e5;
}
.border-d3 {
  border-color: #d3d3d3;
}
.border-4d {
  border-color: #4d96c8;
}
.border-00 {
  border-color: #0094d0;
}
.border-bottom-00 {
  border-bottom-color: #0094d0;
}
.border-top-00 {
  border-top-color: #0094d0;
}
.border-bottom-df {
  border-bottom-color: #dfdfdf !important;
}
.border-blue {
  border-color: blue;
}
.border-red {
  border-color: red !important;
}
.border-bottom-red {
  border-bottom-color: red !important;
}
.border-d4 {
  border-color: #d4d4d4;
}
.border-5a {
  border-color: #5aace0;
}
.border-ca {
  border-color: #cacaca;
}
.border-99 {
  border-color: #999999;
}
.border-top-ed {
  border-color: #ededed;
}
.bl1s-ed{
  border-left: 1px solid #ededed;
}
.border-right-e7 {
  border-right-color: #e7e7e7;
}
.border-top-e7 {
  border-top-color: #e7e7e7;
}
.border-bottom-ec {
  border-bottom-color: #ececec;
}
.border-top-ec {
  border-top-color: #ececec;
}
.border-38 {
  border-color: #383838;
}
.border-bottom-a9 {
  border-bottom-color: #A9A9A9;
}
.border-a4 {
  border-color: #a4a4a4;
}
.border-c4 {
  border-color: #c4c4c4;
}
.border-ae {
  border-color: #a4e364;
}
.border-bottom-97 {
  border-bottom-color: #979797;
}
.border-top-97 {
  border-bottom-color: #979797;
}
.border-b3 {
  border-color: #b3b3b3;
}
.border-a7 {
  border-color: #A7EBE8;
}
.border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.border-top {
  border-top-width: 1px;
  border-top-style: solid;
}
.border-general {
  border-width: 1px;
  border-style: solid;
}

.gradient-blue {
  background: radial-gradient(5px -9px, circle, white 8%, blue 26px);
  background: -moz-radial-gradient(5px -9px, circle, white 8%, blue 26px);
  background: -ms-radial-gradient(5px -9px, circle, white 8%, blue 26px);
  background: -o-radial-gradient(5px -9px, circle, white 8%, blue 26px);
  background: -webkit-radial-gradient(5px -9px, circle, white 8%, blue 26px);
  background: blue;
}
.gradient-blue-00,
.primary-action-color {
  background: linear-gradient(180deg, #00aff6 0%, #0094d0 100%);
}
.gradient-f2 {
  background: linear-gradient(180deg, #f2f2f2 0%, #d4d4d4 100%);
}
.gradient-b7 {
  background: linear-gradient(7.37deg, #B7341A 0%, #FF8383 100%);
}
.gradient-0a {
  background: linear-gradient(to bottom, #009EDB 0%, #11A9DE 81%, #2FAFDF 100%);
}
.gradient-e7 {
  background: linear-gradient(180deg, #e7e7e7 0%, #bbb 100%);
}
.gradient-header {
  background: linear-gradient(to bottom, #009edb 0%, #11a9de 81%, #2fafdf 100%);
  /* csafe */
  /* background: linear-gradient(to bottom, #002D74 0%, #113877 81%, #2F3E78 100%); */
}

.btn-primary,
a.btn-primary,
button.btn-primary {
  background: linear-gradient(to bottom, #93CEDE 0%, #0094D0 38%, #00A2E4 100%);
}

.fa.link, a {
  color: #0094d0;
}
.wt__map .site-cluster div {
  background: #0094d0;
  color: white;
}

/* checkbox background color */
.cl-form-checkbox-container input[type='checkbox'].cl-form-checkbox:checked ~ .cl-form-checkbox-selection {
  background: #e9a824;
}
.background-disable-btn {
  background: #ebebeb !important;
}

.font-bold {
  font-weight: bold;
}

.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-24 {
  font-size: 24px;
}
.font-weight-normal {
  font-weight: 400;
}

.btn-disable-gray {
  background: linear-gradient(180deg, #F2F2F2 0%, #A5A5A5 100%) !important;
}

.alert-badge-bg-color{
  background-color: #FF4440;
}

.warning-badge-bg-color{
  background-color: #FF8503;
}
.notification-badge-bg-color{
  background-color: #FDFE02;
}

.bg-asset-monitor-sites-filter-header {
  background: #00296a;
  color: #ffffff !important;
}

.bg-asset-monitor-leases-filter-header {
  background: #0083ad;
  color: #ffffff !important;
}
.bg-asset-monitor-both-filter-header {
  background: #b92c2c;
  color: #ffffff;
}

.bg-asset-monitor-out-of-range-filter-header{
  background: #60636b;
  color: #ffffff;
}

.bg-shipment-monitor-cluster-bg-color{
  background: #4A5C6D;
  color: #ffffff;
}

.bg-asset-monitor-asset-container-cluster-color{
  background: #1860ae;
  color: #ffffff;
  min-width: 18px;
  min-height: 18px;
  line-height: 18px;
  height: 18px;
}

/* additional themes */
.active-nav-bar {
  /*color: #F26178 !important;*/ /*csafe*/
   color: #4d7593; /* cloudleaf */
}

.tooltip > .tooltip-inner {
 background: linear-gradient(180deg, #00aff6 0%, #0094d0 100%); /* cloudleaf */
 /* background: linear-gradient(180deg, rgba(0,41,106,0.5) 0%, #00296A 100%) !important */
}

.ui-select-bootstrap .ui-select-toggle > .caret {
  background: linear-gradient(180deg, #00aff6 0%, #0094d0 100%); /* cloudleaf */
  /* background: linear-gradient(180deg, rgba(0,41,106,0.5) 0%, #00296A 100%) !important */
}

.ui-select-bootstrap .ui-select-toggle > .caret:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    top: 14px;
    left: 6px;
}
.wt__loader i {
  /* cloudleaf */
  color: #0094d0;
  /* csafe */
  /* color: #002D74; */
}

.btn-link,
.locat .ui-grid-canvas .ui-grid-row p {
  /* cloudleaf */
  color: #0094d0;
  /* csafe */
  /* color: #002D74; */
}
.activity .metrics-menu .activity-metrics-active,
.activity .metrics-menu div:hover,
.activity-active,
.first-col-select-grid .ui-grid-cell-contents.info-selected,
.intransit .wt__asset_grid .ui-grid-row-selected .ui-grid-cell-contents {
  /* cloudleaf */
  background-color: #0094d0;
  /* csafe */
  /* background: linear-gradient(180deg, rgba(0,41,106,0.5) 0%, #00296A 100%) !important; */
}
.first-col-select-grid .ui-grid-cell-contents.info-selected a {
  color: #fff !important;
}
.activity-metrics-active:before {
  border-left-color: #0094d0;
}

.form-action-color {
  background: linear-gradient(180deg, #00aff6 0%, #0094d0 100%) !important; /* cloudleaf */
  /* background: linear-gradient(180deg, rgba(0,41,106,0.5) 0%, #00296A 100%) !important */
}
.summary-header-color {
  background-color: #bdbdbd4d !important;
}
.summary-content-color {
  background-color: #F5FBFF !important;
}
.summary-selected-content-color {
    background-color: #bddbf366 !important;
}

.wt__asset_grid .has-position {
  color: #0094d0;
}
.wt__asset_grid .ui-grid-cell-contents.has-position:hover {
  background: #6dbcef;
  color: #fff;
}

.wt__asset_grid .ui-grid-row-selected .ui-grid-cell-contents.has-position {
  background: #0094d0;
}

.route-background-color,
#cl-shipment-report .loc-icon:before,
#cl-shipment-report .routeTransport.travel-mode-indicator .icon {
  /* CSAFE */
  /* background: #F26178; */
  /* Cloudleaf */
  background: #979797;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #F4F4F4 !important;
}
.no-background .ui-grid-row .ui-grid-cell {
  background-color: #FFFFFF !important;
}
.ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
  border-right: none !important;
}

.header-icon-color {
  color: #FFFFFF;
}
