.wt__site-bubble {
  display: inline-block;
  min-width: 22px;
  height: 22px;
  border-radius: 11px;
  font-size: 12px;
  padding: 2px 3px;
  font-weight: 400;
  margin: 0;
  text-align: center;
  top: 0px;
  left: -6px;
  position: relative;
}

.blob-placeholder {
  display: inline-block;
  width: 28px;
}

.wt__site-bubble.digit-adjust_3 {
  left: -8px;
}

.wt__site-bubble.digit-adjust_4 {
  left: -11px;
}

.wt__site-bubble.digit-adjust_5 {
  left: -14px;
}

.wt__site-bubble.digit-adjust_6 {
  left: -17px;
}

.wt__zone-bubble {
  display: inline-block;
  min-width: 23px;
  height: 23px;
  border-radius: 11px;
  border: none;
  font-size: 12px;
  padding: 1px 5px;
  font-weight: 400;
  top: -6px;
  left: -5px;
  position: relative;
  margin-left: -20px;
  margin-right: 4px;
  text-align: center;
}

.wt__counter-zone-label .zone-name {
  opacity: 0.65;
  position: absolute;
  top: 33px;
  left: 0px;
  font-size: 10px;
  transform: rotate(30deg);
}

.wt__counter-zone-label.loc-checked .zone-name {
  opacity: 1;
  color: rgba(0, 0, 0, 0.9);
  font-size: 11px;
  text-shadow: rgb(247, 247, 247) 1px 0px 0px,
  rgb(247, 247, 247) 0.540302px 0.841471px 0px,
  rgb(247, 247, 247) -0.416147px 0.909297px 0px,
  rgb(247, 247, 247) -0.989992px 0.14112px 0px,
  rgb(247, 247, 247) -0.653644px -0.756802px 0px,
  rgb(247, 247, 247) 0.283662px -0.958924px 0px,
  rgb(247, 247, 247) 0.96017px -0.279415px 0px;
}

.wt__replay-clock {
  position: absolute;
  font-size: 14px;
  left: 350px;
  z-index: 500;
  background: white;
  padding: 2px 8px;
  border-radius: 0 0 8px 0px;
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
}

.wt__locator-buttons .wt__btn-group {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
}

.wt__locator-buttons .wt__icon {
  position: relative;
  margin-right: 5px;
  margin-top: -3px;
}

.wt__locator-buttons .wt__btn {
  position: relative;
  min-width: 85px;
}

.wt__locator-buttons #wt__assets-button {
  min-width: 100px;
}

.wt__locator-buttons .wt__btn.selected .wt__arrow-down {
  display: block;
}

.wt__arrow-down {
  display: none;
  position: absolute;
  z-index: 2;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top-width: 5px;
  border-top-style: solid;
  font-size: 0;
  line-height: 0;
}

.wt__pills-list {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  margin: 1px;
  flex-flow: row wrap;
}

ul.wt__pills-list li {
  list-style: none;
}

.wt__pill {
  font-size: 11px;
  border-radius: 3px;
  padding: 0px 5px;
  margin: 3px;
  cursor: pointer;
}

.wt__pill:hover {
  background-color: #6dbcef;
  color: white;
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  /*outline: 1px solid #ccc;*/
}

.leaflet-marker-icon.asset-beacon-icon .asset-beacon {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  left: -25px;
  top: -23px;
  border-radius: 50%;
  border: 8px solid rgba(90, 172, 224, 0.75);
  pointer-events: none;
  -webkit-animation: asset-beacon 3s infinite;
  animation: asset-beacon 3s infinite;
  opacity: 0;
}

.leaflet-marker-icon.asset-highlight-icon .asset-highlight {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: -15px;
  top: -13px;
  border-radius: 50%;
  border: 4px dashed rgba(255, 105, 180, 0.75);
  pointer-events: none;
  z-index: 99;
}

.wt__faded-tooltip:before {
  display: none;
}

.wt__faded-tooltip {
  background-color: rgba(256, 256, 256, 0.2);
  border: none;
  box-shadow: none;
  margin-left: 12px;
  border-radius: 4px;
  padding: 0 6px;
  font-size: 12px;
  color: #0094d0;
}

.wt__absolute-tooltip {
  position: absolute;
  z-index: 9999;
  text-align: center;
  width: 200px;
  height: auto;
  padding: 8px 4px;
  margin-top: -40px;
  background: #fff;
  border-radius: 5px;
  pointer-events: none;
  font-size: 12px;
  font-weight: 100;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
}

.wt__counter-zone-label:before {
  display: none;
}

.wt__asset-label.leaflet-tooltip-right:before,
.wt__counter-site-label.leaflet-tooltip-right:before {
  /*border-right-color: rgba(256, 256, 256, .65);*/
  display: none;
}

.wt__counter-site-label {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 12px;
  position: absolute;
  top: -1px;
  left: 5px;
}

.wt__counter-site-label .name {
  text-shadow: rgba(247, 247, 247, 0.8) 1px 0px 0px,
  rgba(247, 247, 247, 0.8) 0.540302px 0.841471px 0px,
  rgba(247, 247, 247, 0.8) -0.416147px 0.909297px 0px,
  rgba(247, 247, 247, 0.8) -0.989992px 0.14112px 0px,
  rgba(247, 247, 247, 0.8) -0.653644px -0.756802px 0px,
  rgba(247, 247, 247, 0.8) 0.283662px -0.958924px 0px,
  rgba(247, 247, 247, 0.8) 0.96017px -0.279415px 0px;
}

.wt__counter-zone-label {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
  border-radius: 4px;
  padding: 0;
  font-size: 12px;
  position: absolute;
  top: -13px;
  left: 13px;
}

.wt__asset-label {
  border: none;
  box-shadow: none;
  margin: 0;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 12px;
  position: absolute;
  z-index: 9;
  top: -0px;
  left: -20px;
}

.wt__map .gateway-cluster.marker-cluster .circle {
  background: rgba(198, 198, 198, 0.24);
  border: 1px solid rgba(128, 128, 128, 0.4);
  color: lightgrey;
  font-weight: 200;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 22px;
  height: 22px;
}

.wt__map .leaflet-marker-icon.gateway-cluster.marker-cluster {
  left: -3px;
  top: -3px;
}

.wt__map .gateway-cluster .cluster-tip {
  left: -4px;
  top: 9px;
  background: none;
  transform: rotate(30deg);
}

.wt__map .gateway-cluster div {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 26px;
  height: 26px;
  padding-top: 5px;
  position: absolute;
  top: -10px;
  z-index: 2;
}

.wt__map .gateway-cluster.fade-cluster {
  opacity: 0.3;
}

.wt__site-title {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  cursor: pointer;
}

.wt__box .wt__site-title h4 {
  transition: all 0.5s ease;
  margin: 0 0 0 8px;
  font-size: 18px;
  line-height: 22px;
}

.collapsed-graph .wt__site-title h4 {
  font-size: 28px;
  line-height: 63px;
}

.wt__site-title button {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  width: 28px;
  height: 28px;
  margin-top: 0px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px 0 0 0;
  transition: height 0.5s ease;
}

.collapsed-graph .wt__site-title button {
  height: 63px;
}

.wt__location-graph {
  position: relative;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 5px 10px 15px 10px;
}

.wt__location-graph .graph {
  height: 400px;
}

.wt__location-graph svg {
  width: 100%;
  height: auto;
}

.wt__location-graph .x-axis-graph {
  position: relative;
  top: -45px;
  border-radius: 10px 10px 0 0;
  border-top-width: 1px;
  border-top-style: solid;
  margin-left: -15px;
  margin-right: -15px;
}

.collapsed-graph .wt__location-graph .x-axis-graph {
  bottom: -155px;
}

.wt__location-graph-wrapper {
  transition: max-height 0.5s ease;
  overflow: hidden;
  margin: 0;
  padding-bottom: 0;
}

.collapsed-graph .wt__location-graph-wrapper {
  max-height: 200px;
}

.collapsed-graph .wt__location-graph .wt__loc-history-asset-list.show-list {
  top: 101%;
}

.wt__location-graph .nvtooltip {
  border: 1px solid rgba(66, 66, 66, 0.85);
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  background: white;
  color: #575757;
  border-radius: 8px;
}
.wt__location-graph .nvd3.nv-wrap .nv-x.nv-axis .nv-axisMaxMin-x text {
  text-anchor: end !important;
}

.wt__location-graph .nvd3.nv-wrap .nv-x.nv-axis .tick text, .wt__location-graph .nvd3.nv-wrap .nv-x.nv-axis .nv-axisMaxMin-x text {
  //transform: translate(0px, 220px);
  //text-anchor: middle !important;
  transform: rotate(-45deg);
}

.wt__location-graph .nv-axislabel {
  font-weight: 700;
  font-size: 12px;
}

.wt__location-graph .tick text {
  font-weight: 700;
}

.wt__location-graph .x-axis-graph svg {
  padding-left: 30px;
}

.wt__loc-history-asset-list {
  position: absolute;
  top: 101%;
  left: 0.25%;
  width: 99.5%;
  height: 100%;
  transition: top 0.5s ease;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 1px -1px 1px 0 rgba(178, 178, 178, 0.75);
  -moz-box-shadow: 1px -1px 1px 0 rgba(178, 178, 178, 0.75);
  box-shadow: 1px -1px 1px 0 rgba(178, 178, 178, 0.75);
  border-left-width: 1px;
  border-left-style: solid;
}

.wt__loc-history-asset-list .wt__asset-list.wt__flex-list:first-child {
  margin-bottom: 5px;
}

.wt__loc-history-asset-list .wt__asset-list.wt__flex-list:last-child {
  margin-top: 10px;
}

.wt__loc-history-asset-list .wt__asset-list.wt__flex-list div {
  flex-grow: 0;
  flex-shrink: 0;
}

.wt__loc-history-asset-list .wt__asset-list.wt__flex-list li {
  line-height: 1.8em;
}

.wt__loc-history-asset-list .wt__asset-list.wt__flex-list li a {
  color: #0094d0;
  font-weight: 400;
  font-size: 12px;
  padding: 0;
}

.wt__loc-history-asset-list.show-list {
  top: 90px;
}

.wt__location-graph .wt__loader {
  top: 130px;
  font-size: 2em;
}

.wt__location-dropdown option:checked .count {
  display: none;
}

.wt__location-dropdown option:not(:checked) .count {
  display: block;
}

/*Location History Page*/

.wt__graph-container {
  height: 410px;
}

.wt__graph-container .h5 {
  margin-top: -80px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.wt__graph-container .nv-legendWrap,
.wt__graph-container .nv-controlsWrap {
  display: none;
}

.wt__settings-row {
  padding: 5px 20px 5px 10px;
  margin: 5px 0;
}

.wt__counter {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 10px 12px 12px;
  /*padding: 8px 8px 8px 10px;*/
  transition: min-width 0.5s ease;
  width: auto;
  min-width: 40px;
  height: auto;
  border-radius: 0 5px 0 15%;
  text-align: center;
  -moz-box-shadow: inset 1px -1px 1px rgba(64, 64, 64, 0.2);
  -webkit-box-shadow: inset 1px -1px 1px rgba(64, 64, 64, 0.2);
  box-shadow: inset 1px -1px 1px rgba(64, 64, 64, 0.2);
}

.collapsed-graph .wt__counter {
  padding: 6px;
  height: 63px;
  min-width: 98px;
  border-radius: 0 5px 0 0;
}

.wt__counter:hover {
  background-color: #2eb0df;
}

.wt__counter .wt__small-text {
  font-size: 14px;
  font-weight: 200;
}

.wt__counter .wt__large-text {
  font-weight: 400;
  font-size: 28px;
}

.collapsed-graph .wt__counter .wt__large-text {
  font-size: 36px;
}

.wt__counter.selected .wt__large-text,
.wt__counter:hover .wt__large-text {
  color: white;
  font-weight: 400;
}

.wt__location-graph .wt__flex-row {
  align-items: center;
  min-height: 50px;
}

.wt__location-graph .wt__category-list.wt__flex-grid {
  align-items: flex-start;
}

.wt__location-graph .wt__category-list {
  -webkit-transition: margin-top 0.5s ease;
  -moz-transition: margin-top 0.5s ease;
  -ms-transition: margin-top 0.5s ease;
  -o-transition: margin-top 0.5s ease;
  transition: margin-top 0.5s ease;

  margin-top: 35px;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
  /*transition: font-size .5s ease;*/
}

.collapsed-graph .wt__location-graph .wt__category-list {
  font-size: 20px;
  margin-top: 70px;
  font-weight: 200;
  margin-bottom: 100px;
}

.collapsed-graph .wt__category-list .wt__dot {
  display: none;
}

.wt__graph-container {
  width: 100%;
}

.wt__site-picker {
  z-index: 2;
  left: 21px;
  top: 35px;
  max-height: 450px;
  overflow-y: scroll;
  position: absolute;
  padding: 10px 10px 10px 0;
  border-radius: 0 0 5px 5px;
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease;
}

.wt__site-picker i {
  margin-right: 5px;
  opacity: 0;
}

.wt__site-picker i.show-check {
  opacity: 1;
}

.wt__site-picker i.in-group {
  opacity: 1;
}

.wt__site-picker .count {
  margin-left: 8px;
  font-weight: 200;
}

.collapsed-graph .wt__site-picker {
  top: 69px;
}

.wt__site-picker h5,
.wt__site-picker li {
  list-style: none;
  font-size: 14px;
  line-height: 1.6em;
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 3px 10px;
}

.wt__site-picker h5 {
  font-weight: 700;
}

.wt__site-picker h5,
.wt__site-picker p,
.wt__site-picker ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.wt__site-picker hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.wt__site-picker p {
  text-align: center;
}

.wt__site-picker li {
  margin-left: 15px;
  font-weight: 200;
}

.wt__site-picker h5:hover,
.wt__site-picker li:hover {
  background: #84cce7;
}

ul.wt__category-list {
  margin-left: 10px;
  /*max-width: 100%;*/
}

.wt__category-list li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 10px 0 0;
  padding-left: 0px;
  cursor: pointer;
}

.wt__category-list li .wt__category-name:hover {
  color: #6dbcef;
}

#wt__location-container
.wt__graph-container
.nvd3.nv-line
.nv-groups
.nv-point-paths,
#wt__location-container
.wt__graph-container
.nvd3.nv-line
.nv-groups
.nv-point {
  stroke-opacity: 0;
  cursor: pointer;
  stroke-width: 2px;
  fill: white;
}

#wt__location-container
.wt__graph-container
.nvd3.nv-line
.nv-groups
.nv-point-paths:hover,
#wt__location-container
.wt__graph-container
.nvd3.nv-line
.nv-groups
.nv-point:hover {
  stroke-opacity: 1;
  stroke-width: 2px;
  fill: white;
}

#wt__location-container .wt__graph-container .nv-x .nv-axislabel {
  transform: translateY(39px);
}

#catDropdown {
  width: 100%;
}

#categoryDropdownMenu.dropdown-toggle {
  width: 100%;
  position: relative;
  top: auto;
  right: auto;
  height: auto;
}

#catDropdown .wt__dropdown {
  position: absolute;
  top: 28px;
  left: 0;
  padding: 10px;
}

#catDropdown .wt__dropdown li {
  list-style: none;
}

#categoryDropdownMenu button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 26px;
  width: 100%;
  margin-top: 2px;
  font-weight: 100;
  border-radius: 3px;
}

/*Gyroscope*/

.wt__gyro-component {
  position: relative;
  height: 110px;
  display: block;
}

.wt__gyroscope-container {
  padding: 5px;
  perspective: 800px;
  perspective-origin: 50% 100px;
  position: relative;
  height: 110px;
  /*transform: rotateY(45deg) rotateX(-5deg) rotateZ(-5deg);*/
  /*animation: spinY 6s infinite linear;*/
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

#wt__gyroscope {
  margin: 0 auto;
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: all 0.5s ease;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.wt__gyroscope-component {
  width: 120px;
}

.wt__gyroscope:hover {
  -webkit-transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
  -ms-transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
  transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
}

@keyframes spinY {
  0% {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.wt__gyroscope div {
  padding-top: 30px;
  font-size: 14px;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 8px solid rgba(90, 172, 224, 0.9);
  /*border: 8px solid #0094D0;*/
  /*background-color: rgba(90, 172, 224, .1);*/
  background: none;
  border-radius: 50%;
  backface-visibility: hidden;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

.wt__gyroscope .back {
  -webkit-transform: translateZ(0px) rotateY(180deg);
  -ms-transform: translateZ(0px) rotateY(180deg);
  transform: translateZ(0px) rotateY(180deg);
}

.wt__gyroscope .right {
  -webkit-transform: rotateY(-270deg) translateX(1px);
  -ms-transform: rotateY(-270deg) translateX(1px);
  transform: rotateY(-270deg) translateX(1px);
}

.wt__gyroscope .left {
  -webkit-transform: rotateY(270deg) translateX(0px);
  -ms-transform: rotateY(270deg) translateX(0px);
  transform: rotateY(270deg) translateX(0px);
}

.wt__gyroscope .front {
  -webkit-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  transform: translateZ(1px);
}

.wt__gyroscope .top {
  -webkit-transform: rotateX(-90deg) translateY(1px);
  -ms-transform: rotateX(-90deg) translateY(1px);
  transform: rotateX(-90deg) translateY(1px);
}

.wt__gyroscope .bottom {
  -webkit-transform: rotateX(90deg) translateY(0px);
  -ms-transform: rotateX(90deg) translateY(0px);
  transform: rotateX(90deg) translateY(0px);
}

#dwell-time-readouts.metrics-page {
  width: 67%;
  position: relative;
  top: 0;
  margin: 0 0 0 70px;
  padding: 0;
}

#dwell-time-readouts.metrics-page .readout {
  color: #444;
}

#dwell-time-readouts.metrics-page .readout p {
  display: none;
}

/*Location History Asset List start*/

#wt__asset_list_container {
  margin-top: 10px;
  margin-left: 5px;
  padding-right: 0;
}

#wt__asset_list_container .ui-grid,
#wt__asset_list_container .ui-grid-header,
#wt__asset_list_container .ui-grid-header-viewport,
#wt__asset_list_container .ui-grid-top-panel,
#wt__asset_list_container .ui-grid-header-cell-wrapper,
#wt__asset_list_container .ui-grid-header-cell,
#wt__asset_list_container .ui-grid-cell {
  background: none;
  border: none;
}

#wt__asset_list_container .ui-grid-viewport {
  /*max-height: 240px;*/
  overflow-x: hidden !important;
}

#wt__asset_list_container .ui-grid-filter-input {
  border: 0.3pt solid #ddd;
  font-weight: 400;
  padding-left: 5px;
}

#wt__asset_list_container .ui-grid-header-cell-wrapper {
  font-size: 14px;
  font-weight: 400;
  color: #7c7c7c;
  padding-left: 6px;
}

#wt__asset_list_container .ui-grid-cell {
  font-size: 12px;
  font-weight: 300;
  color: #666;
  padding-left: 6px;
}

#wt__asset_list_container .ui-grid-filter-container {
  padding-left: 5px;
  padding-top: 0;
}

#wt__asset_list_container .ui-grid-column-menu-button {
  display: none;
}

.at__scroll-box {
  padding: 5px 15px;
  max-height: 140px;
  overflow-y: scroll;
  width: 80%;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-sizing: border-box;
  margin: 0 10px 20px 10px;
  position: relative;
}

.at__scroll-box ul {
  margin: 15px;
}

.at__scroll-box li {
  list-style: none;
}

#assetList {
  cursor: pointer;
  z-index: 3;
  width: 120px;
  height: 40px;
}

#asset-timeline-list-wrapper .ui-grid-cell.ui-grid-zone-row {
  background: #fff;
  color: #333;
}

#asset-timeline-list-wrapper .ui-grid-cell.ui-transit-row a,
#asset-timeline-list-wrapper .ui-grid-cell.ui-grid-zone-row a {
  display: none;
}

#asset-timeline-list-wrapper .ui-grid-cell.ui-ooc-row {
  background: #ebd5fe;
}

#asset-timeline-list-wrapper .ui-grid-cell.ui-transit-row {
  background: #c9fee7;
}

#asset-timeline-list-wrapper .ui-grid-cell.ui-loc-header-row {
  background: #e1f0fd;
}

#asset-timeline-list-wrapper .ui-grid-cell.ui-asset-header-row {
  background: #c3e2fb;
}

#asset-timeline-list-wrapper .ui-grid-cell.ui-loc-header-row .zone-name {
  display: none;
  /*opacity: .25;*/
}

#asset-timeline-list-wrapper .ui-grid-zone-row .asset-id {
  display: none;
}

/*#asset-timeline-list-wrapper  .ui-grid-cell.ui-loc-header-row a {
    color: white;
}*/

#asset-timeline-list-wrapper .ui-grid {
  min-height: 460px;
}

/* End Asset tracker */

/*Asset Timeline graph*/

.wt__full-width-box,
#wt__timeline {
  padding: 0;
  width: 98.5%;
}

.wt__full-width-graph {
  align-items: stretch;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 800px;
  height: 800px;
  width: 100%;
}

#wt__ranking-graph svg text {
  /*fill: white;*/
  font-size: 10px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  text-anchor: start;
  pointer-events: none;
}

.wt__box svg .text {
  pointer-events: none;
}

.wt__full-width-graph > div {
  width: 100%;
  height: 800px;
  min-height: 800px;
}

#wt__timeline-grid {
  align-items: stretch;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 110px;
  height: 150px;
  width: 100%;
  /*cursor: ns-resize;*/
}

#wt__timeline-grid > div,
#wt__assetTimeLine svg {
  width: 100%;
  height: auto;
  min-height: 150px;
}

#wt__timelineXAxis {
  height: 35px;
  width: 100%;
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
}

#wt__timelineXAxis svg {
  margin-left: 180px;
  height: 35px;
  width: 100%;
  cursor: pointer;
}

#wt__timelineXAxis svg rect,
#wt__timelineXAxis svg .tick {
  pointer-events: none;
}

#wt__timelineYAxis {
  z-index: 1;
  flex: 1;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: 180px;
  flex-basis: 180px;
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
}

#wt__timelineYAxis svg {
  height: 100%;
  width: 180px;
  cursor: pointer;
}

.wt__timeline-reset {
  position: absolute;
  right: 13px;
  padding: 1px 6px;
  top: 0;
  border: 1px solid lightgrey;
  border-radius: 0 0 0 5px;
}

.d3-tip.timeline {
  z-index: 3;
}

.d3-tip.timeline li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  list-style: none;
  line-height: 1.5em;
}

.d3-tip.timeline {
  min-width: 200px;
  padding: 5px 10px;
  font-size: 0.8em;
}

.d3-tip.timeline li b {
  flex-basis: 40%;
  align-self: right;
}

.d3-tip.timeline li div {
  flex-basis: 60%;
}

.d3-tip.timeline h5 {
  margin-top: 5px;
}

#rankingtipfollowscursor {
  z-index: 999;
  position: relative;
}

/*End Asset Timeline graph*/

#wt__inventoryFilterPanel {
  flex-basis: 200px;
}

#wt__editCategoryPanel {
  padding: 0 10px;
  position: absolute;
  left: -226px;
  top: 0;
  min-width: 400px;
  width: 400px;
  height: 100%;
  -moz-box-shadow: 0px 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0px 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0px 0 4px 0 rgba(178, 178, 178, 0.5);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wt__editCategoryPanel.open {
  opacity: 1;
  z-index: 1;
  left: 200px;
  width: 400px;
  -moz-box-shadow: 2px 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 2px 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 2px 0 4px 0 rgba(178, 178, 178, 0.5);
}

#wt__editCategoryPanel hr {
  margin: 0 0 15px 0;
}

#wt__editCategoryPanel input {
  width: 100%;
}

#wt__editCategoryPanel .cust-grid {
  padding: 0 15px;
}

#wt__editCategoryPanel .ui-grid-header-cell-wrapper {
  width: 100%;
}

#wt__editCategoryPanel .ui-grid-header-cell {
  width: 25%;
}

#wt__editCategoryPanel .image-box,
#wt__editCategoryPanel .drop-box {
  width: 240px;
  height: 240px;
  margin: 15px auto 5px auto;
}

#wt__editCategoryPanel .drop-box-text {
  position: relative;
  padding: 20px;
  text-shadow: rgb(255, 255, 255) 3px 0px 0px,
  rgb(255, 255, 255) 2.83487px 0.981584px 0px,
  rgb(255, 255, 255) 2.35766px 1.85511px 0px,
  rgb(255, 255, 255) 1.62091px 2.52441px 0px,
  rgb(255, 255, 255) 0.705713px 2.91581px 0px,
  rgb(255, 255, 255) -0.287171px 2.98622px 0px,
  rgb(255, 255, 255) -1.24844px 2.72789px 0px,
  rgb(255, 255, 255) -2.07227px 2.16926px 0px,
  rgb(255, 255, 255) -2.66798px 1.37182px 0px,
  rgb(255, 255, 255) -2.96998px 0.42336px 0px,
  rgb(255, 255, 255) -2.94502px -0.571704px 0px,
  rgb(255, 255, 255) -2.59586px -1.50383px 0px,
  rgb(255, 255, 255) -1.96093px -2.27041px 0px,
  rgb(255, 255, 255) -1.11013px -2.78704px 0px,
  rgb(255, 255, 255) -0.137119px -2.99686px 0px,
  rgb(255, 255, 255) 0.850987px -2.87677px 0px,
  rgb(255, 255, 255) 1.74541px -2.43999px 0px,
  rgb(255, 255, 255) 2.44769px -1.73459px 0px,
  rgb(255, 255, 255) 2.88051px -0.838247px 0px;
  z-index: 3;
}

#wt__inventoryGrid {
  min-width: 400px;
  flex-grow: 1;
  padding: 0 5px 0 0;
  margin: 0;
}

#wt__inventoryGrid .ui-grid-contents-wrapper {
  margin-top: -10px;
}

/*Asset Inventory filter panel*/
#wt__inventoryTableWrapper {
  min-height: 250px;
  position: relative;
}

#wt__asset-inventory .cust-grid .ui-grid {
  box-shadow: none;
  padding-top: 10px;
  height: calc(100vh - 245px) !important;
  min-height: 250px;
}

#wt__asset-inventory #state-grid .cust-grid .ui-grid {
  height: auto;
  min-height: auto;
}

#wt__asset-inventory .cust-grid .ui-grid-header,
#wt__asset-inventory .cust-grid .ui-grid-cell {
  border-bottom: none !important;
}

#wt__asset-inventory
.ui-grid-header-cell:last-child
.ui-grid-column-resizer.right {
  border-right: none !important;
}

#wt__asset-inventory .header-row {
  font-size: 12px;
  line-height: 2em;
}

#inventory-filter {
  margin-left: 15px;
  min-height: 460px;
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
}

#inventory-filter h6 {
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}

/*Asset Inventory page end*/

/*Status Gauges */
.wt__status-list .wt__dot {
  margin-right: 2px;
}

.wt__box ul.wt__status-list {
  margin-top: 30px;
  position: relative;
}

.wt__status-list li {
  display: inline-block;
  margin: 2px 20px 2px 0;
}

.wt__statusbar-grid-container {
  position: relative;
  width: 90%;
}

.wt__statusbar-grid-container .wt__statusbar-inner {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}

.wt__statusbar-slider-container {
  position: absolute;
  bottom: 32px;
  width: 90%;
}

.wt__statusbar-slider-container.wt__no-absolute {
  position: initial;
}

.wt__statusbar-slider-container .wt__statusbar-inner {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  white-space: nowrap;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.wt__status-dial {
  height: 140px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 49%;
  width: 49%;
  max-width: 49%;
  margin: 0px 0 20px 0;
  display: inline-block;
  text-align: center;
  position: relative;
}

.wt__detail-panel .wt__status-dial h4,
.wt__detail-panel .wt__status-dial p {
  max-width: 120px;
}

.wt__status-dial h4 {
  margin: 3px;
  font-size: 16px;
  /* font-weight: 200; */
}

.wt__gyro-text {
  position: absolute;
  top: 65px;
}

.wt__asset-details-gauges .wt__status-dial {
  flex-basis: 33%;
  border-right: 1px solid #d3d3d3;
}

.wt__gauge-container {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 0 auto;
}

.wt__asset-details-gauges .wt__wide-guage-container {
  width: 150px;
}

.wt__gauge-container p {
  margin-top: 5px;
  font-weight: 200;
  font-size: 12px;
  /* color: #0094d0; */
  line-height: 1em;
  white-space: normal;
}

.wt__asset-details-gauges .wt__status-dial:last-child {
  border-right: none;
}

.wt__status-dial img {
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.wt__status-dial i {
  position: absolute;
  color: rgba(255, 0, 0, 0.5);
  top: 25px;
  /*right: 10px;*/
  opacity: 0;
  transition: opacity 0.3s ease;
}

.wt__status-dial i.wt__dwell-clock {
  position: relative;
  opacity: 0.5;
  /*margin-top: 10px;*/
  top: 0;
  text-align: center;

}

.wt__status-dial.isActive i,
.wt__status-dial.isActive img {
  opacity: 1;
}

h5.wt__status-text {
  font-weight: 200;
  font-size: 20px;
  margin-top: 2px;
}

#wt__thermometer-container {
  height: 130px;
  width: 100%;
  text-align: center;
}

.wt__thermometer {
  height: 80px;
  width: 120px;
  position: relative;
  margin: 0 auto;
}

.wt__status-dial .wt__thermometer-svg {
  position: absolute;
  width: 66px;
  left: 30px;
  top: 5px;
}

.wt__thermometer-text {
  font-size: 20px;
  font-weight: 200;
  position: relative;
}

.wt__thermometer-bar {
  position: absolute;
  z-index: 3;
  width: 3px;
  left: 56px;
  border-radius: 2px;
  bottom: 22px;
  transition: height 0.5s ease;
}

.wt__thermometer-drop {
  position: absolute;
  z-index: 3;
  width: 11px;
  height: 11px;
  left: 52px;
  border-radius: 50%;
  bottom: 17px;
}

.wt__status-dial .wt__battery-icon {
  position: absolute;
  width: 100px;
  left: 15px;
  top: 6px;
}

.wt__battery-level {
  transition: all 0.7s ease;
  -webkit-transform: translate(9px, 40px);
  -ms-transform: translate(9px, 40px);
  transform: translate(9px, 40px);
  fill: #72ceea;
}

.wt__battery-text {
  font-size: 20px;
  font-weight: 200;
  position: absolute;
  top: 80px;
  left: 37px;
}

.wt__light_icon {
  height: 66px;
  margin-top: 5px;
}

/*End Status Gauges */
@keyframes asset-beacon {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    opacity: 0;
  }
}
