.top-banner,
#header {
  width: 100%;
  max-width: 1400px;
  z-index: 6;
  border-bottom: none;
  height: 52px;
  /* background: #009edb; */
}

.top-banner {
  background: #009ddbcb;
  position: absolute;
  z-index: 0;
  max-width: none;
}

#notification {
  min-width: 22px;
  max-width: 22px;
  min-height: 24px;
  max-height: 24px;
}

#notification-wrapper .dropdown-menu {
  width: 280px;
}

#notification-wrapper .dropdown-menu.both-enabled {
  width: 380px;
}

 .cust-badge {
  border: none;
  border-radius: 8px;
  height: 18px;
  width: auto;
  min-width: 16px;
  padding: 3px 2px;
} 

#wt__hamburger {
  padding: 3px 6px;
  border-radius: 6px;
  text-align: center;
  font-size: 10px;
}

#wt__hamburger #nav-icon3 {
  margin: 2px auto 0 auto;
}

.wt__icon-tray {
  width: 120px;
  height: 40px;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.icon-wrap-abs {
  position: absolute;
  right: 18px;
  top: 0;
}
.wt__icon-tray .fa-2x {
  font-size: 22px;
  margin-right: 8px;
}

.is-intransit .wt__icon-tray {
  width: 120px;
}
.is-intransit .wt__icon-tray.three-icon-tray {
  width: 140px;
}
.has-search-icon.wt__icon-tray {
  width: 140px;
}
.has-search-icon.wt__icon-tray.three-icon-tray {
  width: 160px;
}

.level1 {
  list-style: none;
  padding: 5px 13px 10px 13px;
  z-index: 3;
}

.level2 {
  list-style: none;
  padding: 0px;
  z-index: 3;
}

.level1 .navLine {
  margin: 0px 5px 0px 5px !important;
  border-top: 1px solid #d9d9d9;
}

.level2 > li {
  font-weight: normal;
  padding: 5px 0;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  -webkit-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  background-color: white;
  border-radius: 0;
  cursor: pointer;
}

.level2 > li > span {
  width: 26px;
}


.level2 > li:hover {
  background-color: #D8EBF9;
  border-radius: 8px;
}

.level1 > li > h5 {
  background: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 5px;
  text-transform: uppercase;
  user-select: none;
  color: #828080;
  font-size: 16px;
  font-weight: 100;
}

.card-circle-icon {
  border: 2px solid #383838;
  color: #383838;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  padding: 3px 0px;
  font-size: 10px;
  /* text-align: center; */
}

.dropdown-icon > div {
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  padding-top: 4px;
  font-size: 14px;
}

.dropdown-icon > .fa-map-marker {
  font-size: 17px;
  padding-top: 2px;
}

.dropdown-icon > .fa-reports,
.dropdown-icon > .fa-users {
  font-size: 12px;
  padding-top: 5px;
}

.dropdown-icon > .fa-file-text {
  font-size: 13px;
}

.advancedSearchBox .search-icon {
  display: none;
}

#secondary-nav-container,
#top-nav-container {
  width: 100%;
  position: fixed;
  max-width: 1400px;
  z-index: 5;
}

#top-nav-container {
  z-index: 9;
}

#secondary-nav-container {
  z-index: 4;
  top: 52px;
}

#super-admin-nav {
  position: fixed;
  z-index: 5;
  max-width: 1400px;
  width: 100%;
  height: 35px;
}

#secondary-nav-container,
#top-nav-container {
  width: 100%;
  max-width: 1400px;
  top: 0;
}

#top-nav-container {
  z-index: 9;
}

#top-nav-container.admin-mode {
  top: 35px;
}

.admin-mode #left-nav-bar {
  width: 200px;
}
.alerts-resolve-modal-container{
  min-height: 300px
}
#secondary-nav-container {
  z-index: 4;
  top: 52px;
}

#secondary-nav-container.admin-mode {
  top: 87px;
}

.main-container {
  top: 92px;
  height: auto;
  position: relative;
  padding: 0 0px;
}

.main-container.admin-mode {
  top: 128px;
}

#secondarynav.wt__nobg {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  /*background: #f8f8f8;*/
  position: relative;
  z-index: 3;
}

#secondarynav.wt__nobg .navbar-button a:after {
  display: block;
  content: '';
  border-bottom: solid 2px #3c93cb;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#secondarynav.wt__nobg .navbar-button a:hover:after {
  transform: scaleX(1);
}

#secondarynav.wt__nobg .navbar-button.active a:after {
  display: none;
}

#secondarynav.wt__nobg .navbar-button:hover {
  /*background-color: #e6e6e6;
  border-color: #adadad;*/
  background: none;
  border: none;
}

#secondarynav.wt__nobg .navbar-button:hover a {
  color: #0094D0 !important;
}

#secondarynav.wt__nobg #breadcrumb_title {
  color: #555;
  text-transform: uppercase;
  font-weight: 500;
}

#secondarynav.wt__nobg .navbar_item_container > li:before {
  background: #777;
}

.navbar-button a {
  display: block;
  font-size: 14px;
  line-height: 30px;
  white-space: nowrap;
  text-transform: capitalize;
}

/* #secondarynav.wt__nobg .navbar-button.active a {
  color: #999 !important;
} */

#leftNavDropdown:hover #wt__hamburger {
  background: #00AFF6;
  cursor: pointer;
}

#leftNavDropdown.btn-group.dropdown .dropdown-toggle {
  height: 50px;
  width: 50px;
  right: 0;
  top: 0;
}

@media (max-width: 970px) {
  #navbar_button_container_deploy .navbar-button a {
    font-size: 10px !important;
  }
}

#search_bar {
  right: 110px;
  top: -1px;
  z-index: -1;
  opacity: 0;
  position: absolute;
  width: 260px;
  padding-left: 4px !important;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;

}

#search_bar.show-search {
  top: 1px;
  width: 260px;
  opacity: 1;
  right: 140px;
  z-index: 1;
}

#left-nav-bar {
  position: absolute;
  top: 53px;
  left: -6px;
  box-shadow: 0px 1px 1px 1px #d0d0d0;
  z-index: 450;
  border-radius: 8px;
  padding: 0;
  width: 200px;
  box-sizing: border-box;
}

#left-nav-bar ul.level1 {
  padding: 0;
}

#left-nav-bar ul.level2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  max-width: 200px;
  padding: 0 5px;
}

#left-nav-bar .level2 > li {
  font-size: 11px;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  position: relative;
}

.admin-mode #left-nav-bar .level2 > li {
  flex-basis: 33%;
}

#left-nav-bar .level2 > li > span {
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 0;
  font-size: 20px;
  left: auto;
  top: auto;
  min-height: 25px;
  max-height: 25px;
  height: 25px;
}

#left-nav-bar .level2 > li > div {
  min-height: 30px;
  margin-top: 8px;
}

#left-nav-bar .level2 > li > div,
#left-nav-bar .level2 > li > span {
  flex: none;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}


#left-nav-bar,
.dropdown-menu {
  z-index: 5000;
}

#left-nav-bar .nav-footer {
  padding: 3px;
  /*background: linear-gradient(to bottom, #009edb 0%, #11a9de 81%, #2fafdf 100%);*/
  font-size: 14px;
  text-align: center;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

#left-nav-bar .nav-multiapp-footer {
  width: 100%;
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  line-height: 0px;
  margin: 10px 0px;
}

#left-nav-bar .nav-multiapp-footer span {
  padding: 0px 10px;
}

#left-nav-bar .nav-app-wrapper {
  padding: 0px 4px;
  margin-bottom: 10px;
}
#left-nav-bar .nav-app {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 50%;
  font-size: 16px;
  padding: 12px 4px;
  text-align: center;
}

#left-nav-bar .nav-app:hover {
  background-color: #D8EBF9;
  border-radius: 8px;
}

/*End Hamburger Nav*/

.header-banner-wrapper {
  flex-grow: 1;
  margin: 0 32px;
  display: flex;
  justify-content: space-between;
}
