*:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

a {
  outline: 0 none !important;
}

[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}

::-webkit-input-placeholder {
  opacity: 0.5;
  font-size: 11px !important;
  padding: 0 5px;
}

:-moz-placeholder {
  opacity: 0.5;
  font-size: 11px !important;
  padding: 0 5px;
}

:-ms-input-placeholder {
  opacity: 0.5;
  font-size: 11px !important;
  padding: 0 5px;
}

::-ms-input-placeholder {
  opacity: 0.5;
  font-size: 11px !important;
  padding: 0 5px;
}

::placeholder {
  opacity: 0.5;
  font-size: 11px !important;
  padding: 0 5px;
}

.app-bg .workspace-bg {
  overflow: hidden;
}

/*Text*/
.fa.link, a {
  cursor: pointer;
}

a:hover {
  color: #72ceea;
}

.wt__highlight-link {
  cursor: pointer;
}

a.wt__highlight-link {
  font-weight: 700;
}

a.wt__grey-link {
  font-weight: 700;
}
.wt-700{
  font-weight: 700;
}

a.wt__grey-link:hover {
  color: #0094d0;
}

.fa {
  cursor: pointer;
}

.wt__large-text {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 0 0;
}

.wt__semi-large-text {
  font-size: 18px;
  font-weight: 400;
}

.wt__box p.wt__tiny-text,
.wt__flex-row p.wt__tiny-text,
.wt__tiny-text,
p.wt__tiny-text {
  font-size: 11px;
  font-weight: 200;
}

h4.wt__foz-18,
.wt__foz-18 {
  font-size: 18px;
}

.h4.subtitle,
h4.subtitle {
  font-size: 18px;
  margin-top: 0;
}

h5.subtitle {
  font-size: 14px;
}

p.wt__foz-16,
.wt__foz-16 {
  font-size: 16px;
}

p.wt__foz-14,
.wt__foz-14 {
  font-size: 14px;
}

p.wt__foz-11,
.wt__foz-11 {
  font-size: 11px;
}

.wt__greyed-out {
  font-weight: 200;
}

/*End text */

/*Layout*/
.wt__layout {
  position: relative;
}

.wt__button {
  border: none;
}

.wt__form-button {
  font-weight: 100;
  border-radius: 3px;
}

/*Scrollbars*/
ul.wt__scroll-container::-webkit-scrollbar,
div.wt__scroll-container::-webkit-scrollbar,
div.wt__panel-body::-webkit-scrollbar,
div.wt__statusbar-slider-container .wt__statusbar-inner::-webkit-scrollbar {
  width: 6px;
}

.ui-grid-viewport::-webkit-scrollbar-thumb,
.scroll-x-container::-webkit-scrollbar-thumb,
ul.wt__scroll-container::-webkit-scrollbar-thumb,
div.wt__scroll-container::-webkit-scrollbar-thumb,
div.wt__panel-body::-webkit-scrollbar-thumb,
div.wt__statusbar-slider-container
.wt__statusbar-inner::-webkit-scrollbar-thumb {
  background-color: rgba(0, 148, 208, 0.15);
  background-color: rgba(192, 192, 192, 0.5);
  outline: 1px solid lightgrey;
  border-radius: 3px;
}

.ui-grid-render-container {
  max-width: 750px;
  min-width: 95%;
}

.wt__scroll-box {
  min-height: 600px;
  height: 600px;
  overflow: hidden;
}

.main-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding-bottom: 20px;
}

.panel-scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  /* height: calc(100vh - 70px); */
  height: calc(100% - 35px);
}

.wt__scroll-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 80px);
  /*padding-bottom: 120px;*/
  padding-right: 10px;
}

.wt__scroll-container.h100-20 {
  height: calc(100% - 20px);
}

.wt__scroll-container.wt__scroll-filter-container {
  height: calc(100% - 50px);
  overflow-x: hidden;
}

.wt__scroll-filter-container h4 {
  width: 145px;
  cursor: pointer;
}
.custom_wt__scroll-filter-container h4{
  width: 156px;
}

.wt_filter_wrapper {
  box-sizing: border-box;
  width: 100%;
}

.wt__scroll-container h4:hover {
  color: #6dbcef;
}

.wt__scroll-container h4 i {
  float: right;
}

/*End Scrollbars*/

.grid-loader {
  position: absolute;
  padding: 40px 40px;
  height: 100%;
  z-index: 2;
}

/*Icons*/
.wt__grid-loader-icon {
  background-image: url(../svg/rectangle-loader.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 150px;
  background-size: 150px;
  position: relative;
  height: 30px;
  margin: 0;
  width: 150px;
  display: inline-block;
}

.wt__menu-icon {
  background-repeat: no-repeat;
  -webkit-background-size: 26px;
  background-size: 26px;
  position: relative;
  height: 26px;
  margin: auto;
  margin-bottom: -10px;
  width: 26px;
  display: inline-block;
}
.wt__asset-icon,
.Asset-icon {
  background-image: url(../svg/assets.svg);
}
.Alerts-icon {
  background-image: url(../svg/alerts.svg);
}
.wt__lease-icon,
.Lease-icon, .BulkOperations-icon {
  background-image: url(../svg/leases.svg);
}
.wt__sensor-fabric-icon,
.Sensor-icon {
  background-image: url(../svg/sensor-fabric.svg);
}
.wt__mapping-admin-icon,
.MappingAdmin-icon {
  background-image: url(../svg/mapping-admin.svg);
}
.wt__reports-icon,
.Reports-icon {
  background-image: url(../svg/reports.svg);
}
.wt__rules-engine-icon,
.Rules-icon {
  background-image: url(../svg/rules-engine.svg);
}
.search-icon {
  background-image: url(../svg/CLF_UI__eye_blue.svg);
}
.wt__settings-icon,
.Settings-icon {
  background-image: url(../svg/settings.svg);
}
.wt__shipments-icon,
.Shipments-icon {
  background-image: url(../svg/shipments.svg);
}
.wt__users-icon,
.User-icon {
  background-image: url(../svg/users.svg);
}
.wt__api-docs-icon {
  background-image: url(../svg/api_docs.svg);
}
.wt__tenancies-icon,
.Tenant-icon {
  background-image: url(../svg/tenancies.svg);
}
.wt__properties-icon,
.Properties-icon {
  background-image: url(../svg/properties.svg);
}

.lease-blue-icon {
  background-image: url(../svg/lease_blue.svg);
}
.lease-summary-icon {
  background-repeat: no-repeat;
  -webkit-background-size: 48px;
  background-size: 48px;
  position: relative;
  height: 48px;
  margin: auto;
  width: 48px;
  display: inline-block;
  transform: scale(1.5);
}
.svg-56 {
  height: 56px;
  width: 56px;
}

.svg-112 {
  height: 112px;
  width: 112px;
}

/* .wt__sensor-icon {
  background-image: url(../svg/sensor-icon.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 23px;
  background-size: 23px;
  position: relative;
  margin: 3px auto -5px auto;
  display: inline-block;
  height: 23px;
  width: 23px;
} */

.wt__card-icon {
  margin-top: 1px;
  margin-right: 13px;
  display: inline-block;
}

.wt__assets-icon {
  width: 18px;
}

.wt__sites-icon {
  stroke: #555;
  padding: 0px 3.5px 0 0;
  display: inline-block;
}

.wt__sites-icon path {
  fill: #555;
}

.wt__sites-icon.wt__white {
  margin-top: -3px;
  stroke: white;
}

.wt__sites-icon.wt__white path {
  fill: white;
}

.wt__small-icon svg {
  width: 18px;
}

.wt__svg-button-icon {
  top: 5px;
  height: 19px;
  position: relative;
  display: inline-block;
}

.wt__svg-sliders-icon {
  height: 22px;
  position: relative;
  display: inline-block;
}

/*End Icons */

/*Flex grid*/

.flex-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.wt__flex-list li,
.wt__flex-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
}

.wt__flex-grid {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}

.wt__flex-items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.wt__flex-items > * {
  margin: 5px 10px;
}

.wt__flex-row .wt__col-200 {
  flex-basis: 200px;
  width: 200px;
}

.wt__flex-row .wt__col-250 {
  flex-basis: 250px;
  width: 250px;
  flex-shrink: 0;
  flex-grow: 0;
}

.wt__flex-row .wt__col-300 {
  flex-basis: 300px;
  width: 300px;
  flex-shrink: 0;
  flex-grow: 0;
}

.wt__flex-row .wt__col-400 {
  flex-basis: 400px;
  width: 400px;
  flex-shrink: 0;
  flex-grow: 0;
}

.wt__flex-row .wt__col-500 {
  flex-basis: 500px;
  width: 500px;
  flex-shrink: 0;
  flex-grow: 0;
}

.wt__flex-row .wt__col-600 {
  flex-basis: 600px;
  width: 600px;
  flex-shrink: 0;
  flex-grow: 0;
}

.wt__flex-row .wt__col-120 {
  flex-basis: 120px;
  width: 120px;
}

.wt__flex-row .wt__col-235 {
  flex-basis: 235px;
}

.wt__flex-grid .wt__col-0,
.wt__flex-row .wt__col-0 {
  flex-basis: 0%;
}

.wt__flex-grid .wt__col-0 .contents {
  display: none;
}

.wt__flex-row .wt__col-5 {
  flex-basis: 5%;
}

.wt__flex-grid .wt__col-10,
.wt__flex-row .wt__col-10 {
  flex-basis: 10%;
}

.wt__flex-grid .wt__col-9,
.wt__flex-row .wt__col-9 {
  flex-basis: 9%;
}

.wt__flex-grid .wt__col-15,
.wt__flex-row .wt__col-15 {
  flex-basis: 15%;
}

.wt__flex-grid .wt__col-20,
.wt__flex-row .wt__col-20 {
  flex-basis: 20%;
}

.wt__flex-row .wt__col-23 {
  flex-basis: 23%;
  flex-grow: 0.2;
}

.wt__flex-row .wt__col-25 {
  flex-basis: 25%;
}

.wt__flex-row .wt__col-30 {
  flex-basis: 30%;
}

.wt__flex-row .wt__col-33 {
  flex-basis: 33.33%;
}
.wt__flex-row .wt__col-36 {
  flex-basis: 36.66%;
}


.wt__slide-panel.wt__col-33 {
  flex-basis: 33.33%;
  -ms-flex-preferred-size: calc(33.33% - 20px);
  flex-grow: 0;
  flex-shrink: 0;
}

.wt__flex-row .wt__col-35 {
  flex-basis: 35%;
}

.wt__flex-row .wt__col-40 {
  flex-basis: 40%;
}

.wt__flex-row .wt__col-45 {
  flex-basis: 45%;
}

.wt__flex-row .wt__col-50 {
  flex-basis: 50%;
}

.wt__flex-row .wt__col-60 {
  flex-basis: 60%;
}

.wt__flex-row .wt__col-65 {
  flex-basis: 65%;
}

.wt__flex-row .wt__col-70 {
  flex-basis: 70%;
}

.wt__flex-row .wt__col-75 {
  flex-basis: 75%;
}

.wt__flex-grid .wt__col-80,
.wt__flex-row .wt__col-80 {
  flex-basis: 80%;
}

.wt__flex-grid .wt__col-85,
.wt__flex-row .wt__col-85 {
  flex-basis: 85%;
}

.wt__flex-grid .wt__col-90,
.wt__flex-row .wt__col-90 {
  flex-basis: 90%;
}

.wt__flex-grid .wt__col-95,
.wt__flex-row .wt__col-95 {
  flex-basis: 95%;
}

.wt__flex-grid .wt__col-100,
.wt__flex-row .wt__col-100 {
  flex-basis: 100%;
}

.wt__flex-justify-end {
  justify-content: flex-end;
}

.wt__flex-justify-end > div {
  margin-left: 10px;
}

.wt__col-spacing > div {
  margin-right: 10px;
}

.wt__grid {
  justify-content: flex-start;
  flex-flow: row wrap;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.wt__box-grid {
  flex-flow: row wrap;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.wt__box-grid .wt__box {
  flex-basis: 31%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 20px;
}

.wt_flex_box {
  display: flex !important;
  align-items: center;
}

.wt_flex_grow {
  flex-grow: 1;
}
.wt_flex_justify_end {
  justify-content: flex-end;
}

.wt__grid-2cols {
  width: 48%;
  display: inline-block;
  box-sizing: border-box;
}

.small_box {
  display: block;
  margin: 0 10px 20px 10px;
  position: relative;
  left: calc(50% - 80px);
  width: 160px;
  height: 50px;
}

.wt__box {
  border-radius: 4px;
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  padding: 0px 15px;
  box-sizing: border-box;
  margin: 0 10px 20px 10px;
  position: relative;
}

.wt__box.mt50 {
  margin-top: 50px;
}

.wt__box.wt__card {
  min-height: 140px;
}

.wt__box.wt__kpi {
  padding: 2px 52px;
  min-height: 540px;
  min-width: 465px;
  flex-shrink: 0;
  /*flex-grow: 0;*/
}

.wt__inner-card {
  width: inherit;
  height: inherit;
  display: block;
}

.wt__box.wt__kpi h4 {
  font-size: 18px;
}

.wt__box.wt__kpi .wt__banner {
  left: auto;
  right: 0px;
}

.wt__box.wt__kpi .wt__more-info {
  right: 10px;
}

.wt__box.wt__kpi .wt__metrics-icon {
  position: absolute;
  top: 6px;
  left: 9px;
}

.wt__box.wt__kpi .wt__graph {
  padding: 50px 0;
}

.wt__white_space_pre_line_text{
  white-space: pre-line;
}

.wt__box.wt__info-card {
  height: 140px;
  padding: 2px 0px;
  min-width: calc(20% - 20px);
  margin: 0 10px 20px 10px !important;
}

.wt__box.wt__info-card.wt__less-padding {
  padding: 2px 0px;
}

.wt__box.wt__webhook-key {
  height: 50px;
  padding: 2px 0px;
  width: 30%;
  margin: 0 10px 0 15px !important;
}

.wt__box.wt__asset-chart-card {
  height: 140px;
  min-width: 220px;
  padding: 2px 0px;
}

.wt__kpi .wt__stacked-graph .nv-x .nv-axis > g > g.tick > text {
  -webkit-transform: rotate(-45deg) translate(-11px, -5px);
  -ms-transform: rotate(-45deg) translate(-11px, -5px);
  transform: rotate(-45deg) translate(-11px, -5px);
  text-anchor: end !important;
  font-weight: 400;
  font-size: 11px;
}

.wt__info-card .wt__stacked-graph .nv-x .nv-axis > g > g.tick > text {
  text-anchor: middle !important;
  font-weight: 400;
  font-size: 10px;
}

/*KPI Carousel*/
.wt__carousel-slider::-webkit-scrollbar,
.wt__carousel-container::-webkit-scrollbar {
  display: none;
}

.wt__carousel-container {
  overflow-y: hidden;
  height: 160px;
}

.wt__card-controls {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
}

.wt__controls-row {
  width: 120px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 20px;
}

.wt__control-dot {
  width: 10px;
  height: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}

.wt__left-arrow {
  padding: 0.5px 3px 0 0;
}

.wt__right-arrow {
  padding: 0.5px 0 0 3px;
}

.wt__control-arrow:hover,
.wt__control-dot:hover {
  background-color: #e9a824;
  cursor: pointer;
}

.wt__control-arrow {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.wt__control-arrow i {
  padding: 2px;
}

.wt__carousel-slider {
  overflow-x: scroll;
  padding-bottom: 20px;
}
.lease-dashboard .wt__carousel-slider {
  padding-bottom: 0px;
}

.wt__carousel {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.wt__carousel.wt__info-cards {
  overflow-y: hidden;
}

/*END KPI Carousel*/

.wt__title-row {
  font-size: 14px;
  font-weight: 400;
  color: #7c7c7c;
}

.wt__align-center,
.wt__align-center.wt__header-row {
  align-items: center;
}

.wt__header-row {
  align-items: flex-start;
  margin-bottom: 12px;
  padding-right: 15px;
}

.wt__header-row.wt__map-header {
  align-items: flex-end;
}

.wt__header-row h3,
.wt__header-row p {
  margin-top: 3px;
  margin-bottom: 0px;
}

.wt__box.wt__info-card .wt__footer-cta h4,
.wt__box h4,
.wt__headline {
  margin-top: 5px;
  margin-bottom: 5px;
}

.wt__box.wt__info-card h3,
.wt__box.wt__card h4,
.wt__box.wt__info-card h4 {
  margin-bottom: 0;
  font-weight: 400;
}

.wt__box.wt__info-card h3 {
  margin-top: 10px;
}

.wt__box.wt__info-card h3 .wt__tiny-text {
  margin-left: 2px;
}

.wt__box .readout p {
  line-height: 1em;
}

.wt__box h4,
.wt__large-text p,
.wt__box .headline {
  color: #575757;
  font-size: 16px;
  font-weight: 400;
}

.wt__flex-list .headline {
  font-size: 12px;
}

.wt__flex-list .headline.font-weight-bold{
  font-weight: bold;
}

.wt__text,
.wt__box .text,
.wt__box p,
.wt__flex-row p,
.wt__box {
  color: #666;
  font-size: 12px;
  font-weight: 400;
}

.wt__box ul {
  margin-top: 10px;
}

.wt__box .wt__info-card ul {
  margin-top: 3px;
}

.wt__card li {
  list-style: none;
  line-height: 2em;
}

.wt__info-card li {
  list-style: none;
  line-height: 1.4em;
}

.wt__flex-list li {
  align-content: center;
  line-height: 2em;
}

.wt__flex-list li span:first-child {
  flex-basis: 40%;
}

.wt__flex-list li span:last-child {
  flex-basis: 60%;
  padding-left: 10px;
}

.wt__banner {
  position: absolute;
  top: 0px;
  left: 5px;
  margin: 0;
  width: 20px;
}

.wt__banner svg {
  cursor: pointer;
}

.wt__banner svg path {
  fill: #d2d2d2;
  stroke: #efefef;
}

.wt__banner:hover svg path {
  fill: #999;
}

.wt__banner.selected svg path {
  fill: #6dbcef;
}

.wt__more-info {
  margin: 0;
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
}

.wt__blue-button,
.wt__blue-button:focus {
  color: white !important;
  height: 26px;
  min-width: 24px;
  border-radius: 3px;
  border: none;
  background: linear-gradient(180deg, #00aff6 0%, #0094d0 100%);
}

.wt__more-info .fa:hover {
  color: #6dbcef;
}

.wt__footer-cta {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  cursor: pointer;
  border-radius: 0 0 4px 4px;
}

.wt__footer-cta h4 {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}
.wt__footer-cta.no-action-required h4{
  min-height: 12px;
}


.wt__footer-cta:hover {
  background-color: #6dbcef;
  cursor: pointer;
}
.wt__footer-cta.no-action-required:hover,
.wt__footer-cta.no-action-required a:hover{
  pointer-events: none;
 }

/* Components */

/*KPIs*/

.wt__alert-labels,
#wt__alert-labels {
  margin-top: -2.5px;
  margin-left: 10px;
  position: absolute;
}

.wt__alert-labels li,
#wt__alert-labels li {
  line-height: 1.95em;
  font-weight: 400;
  text-align: right;
}

.wt__alert-graph .nv-x text,
#wt__alert-graph .nv-x text {
  fill: black !important;
}

.wt__alert-graph .nvd3.nv-axis,
#wt__alert-graph .nvd3.nv-axis {
  transform: translateY(0px);
}

#wt__allTenantsGrid .cust-grid .ui-grid-row > div:first-child {
  padding-left: 20px;
}

.wt__flex-meter {
  width: 100px;
  height: 12px;
  margin-top: 4px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  cursor: pointer;
}

.wt__info-card .nvd3 .nv-axis .nv-axisMaxMin text,
.wt__info-card .nv-y .tick {
  display: none;
}

/*End KPIS*/

/*Leaflet Map*/

#watchtowerTopologyMap {
  height: 100%;
}

.wt__box.wt__map {
  /*height: 640px;*/
  max-height: 1000px;
  height: calc(100vh - 110px);
  /*min-height: 500px;*/
  overflow: hidden;
  padding: 0;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.wt__map .search-row-icon-asset {
  background: none;
}

.wt__map .leaflet-popup {
  margin-bottom: 41px;
  margin-left: 25px;
}

.wt__map .leaflet-popup-content-wrapper,
.wt__map .leaflet-popup-tip {
  background: rgba(255, 255, 255, 0.95);
}

.wt__map .leaflet-popup-content {
  margin: 20px 2px 10px 19px;
  min-width: 200px;
  line-height: 1.4;
}

.wt__map .wt__popup-list {
  text-align: left;
}

.wt__map .leaflet-popup-content h4 {
  position: absolute;
  top: 0;
}

.wt__popup-header-shim {
  display: block;
  height: 8px;
  margin: 0;
}

.wt__map .leaflet-popup-content li {
  margin: 0 0 8px 0;
  padding: 0px;
}

.wt__map .leaflet-popup-content p,
.wt__map .leaflet-popup-content a {
  margin: 0;
  padding: 0px;
  line-height: 1em;
}

.wt__map .leaflet-popup-content h4.wt__popup-headline {
  margin: 8px auto 5px auto;
  position: absolute;
}

.wt__map .leaflet-popup-content p.wt__popup-text {
  line-height: 1.5em;
  margin: 10px 0 0 0;
}

.wt__map .leaflet-popup-content a {
  cursor: pointer;
}

.leaflet-container a.leaflet-popup-close-button {
  font-weight: 200;
}

.wt__map .leaflet-popup-tip-container {
  left: 48%;
}

.wt__map .marker-cluster,
.wt__map .marker-cluster-small,
.wt__map .marker-cluster-medium,
.wt__map .marker-cluster-large {
  background: none;
}

.wt__map .marker-cluster {
  left: -20px;
  top: -5px;
}

.wt__map .marker-cluster div {
  background-color: rgba(110, 110, 110, 0.7);
  color: white;
  font-weight: 200;
  width: 24px;
  height: 24px;
  padding-top: 4px;
}

.wt__map .site-cluster .cluster-tip {
  left: 30px;
  top: 1px;
}

.wt__map .site-cluster div {
  font-weight: 400;
  width: 26px;
  height: 26px;
  padding-top: 5px;
  position: absolute;
  top: -10px;
  z-index: 2;
}

.wt__map .marker-cluster div span {
  line-height: 24px;
}

.wt__map .cluster-tip {
  position: absolute;
  left: 27px;
  top: 2px;
  font-size: 12px;
  border-radius: 5px;
  padding: 0 7px;
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  /*text-shadow: rgba(247, 247, 247, .8) 1px 0px 0px, rgba(247, 247, 247, .8) 0.540302px 0.841471px 0px, rgba(247, 247, 247, .8) -0.416147px 0.909297px 0px, rgba(247, 247, 247, .8) -0.989992px 0.14112px 0px, rgba(247, 247, 247, .8) -0.653644px -0.756802px 0px, rgba(247, 247, 247, .8) 0.283662px -0.958924px 0px, rgba(247, 247, 247, .8) 0.96017px -0.279415px 0px;*/
}

.wt__map .leaflet-control-layers-toggle {
  width: 32px;
  height: 32px;
}

.wt__map .leaflet-top {
  top: 38px;
}

.wt__map .leaflet-right {
  margin-right: 0px;
}

.wt__map .leaflet-control-layers,
.wt__map .leaflet-control-zoom,
.wt__map .leaflet-bar,
.wt__map .leaflet-control-fullscreen {
  margin: 0;
  background-color: white !important;
  border: none;
  -webkit-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  transform: translateX(-270px);
  transition: transform 0.5s ease;
  border-radius: 0 !important;
}

.wt__map .leaflet-control-fullscreen {
  display: none;
}

.wt__map .closed-panel .leaflet-control-fullscreen {
  display: block;
}

.wt__map .leaflet-control-layers,
.wt__map .leaflet-bar {
  box-shadow: none;
}

.wt__map .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.wt__map .leaflet-control-zoom,
.wt__map .leaflet-control-fullscreen {
  width: 32px;
}

.wt__map .leaflet-control-fullscreen a {
  line-height: 30px;
  margin: 2px 2px 0 2px;
}

.wt__map .leaflet-control-zoom-in,
.wt__map .leaflet-control-zoom-out {
  background-color: white !important;
}

.wt__map .leaflet-control-fullscreen {
  border-radius: 5px 5px 0 0 !important;
}

.wt__map .leaflet-control-layers {
  border-radius: 0 0 5px 5px !important;
}

.wt__map .closed-panel .leaflet-control-fullscreen,
.wt__map .closed-panel .leaflet-control-layers,
.wt__map .closed-panel .leaflet-control-zoom {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.wt__map .leaflet-control-fullscreen,
.wt__map .leaflet-control-zoom-in,
.wt__map .leaflet-control-zoom-out {
  color: #444 !important;
  font-weight: 200;
  line-height: 24px !important;
}

/*End Leaflet Map*/

/*Filter Panels*/

#exceptions-toggle > i,
.wt__filter-section > h4 > i {
  display: inline-block;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

#exceptions-toggle.expanded > i,
.wt__filter-section.expanded > h4 > i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.wt__filter-section > .wt__list-wrapper {
  transition: all 0.5s ease;
  overflow: hidden;
  max-height: 0;
}

.wt__filter-section > .wt__list-wrapper > ul {
  transition: transform 0.5s ease;
  transform: translateY(-100%);
}

.wt__filter-section.expanded > .wt__list-wrapper {
  max-height: 15000px;
}

.wt__filter-section.expanded > .wt__list-wrapper > ul {
  transform: translateY(0);
}

.wt__filter-section div > ul > li .site-highlight {
  padding: 0 3px;
}

/* .wt__sub-filters>li.on-map>label>.site-highlight,
.wt__filter-section>div>ul>li.on-map>label>.site-highlight {
  background-color: rgba(0, 148, 208, 0.2);
  border-radius: 3px;
} */

.wt__panel.wt__filter-panel {
  z-index: 3;
  position: relative;
  margin: 0;
  width: 185px;
  padding-top: 1px;
}

.wt__panel.wt__filter-panel h4,
.wt__panel.wt__filter-panel label {
  font-size: 12px;
}

.wt__panel.wt__filter-panel .wt__zone-name label {
  font-size: 11px;
}

.wt__inventory-panel .wt__checkbox,
.wt__panel.wt__filter-panel .wt__checkbox {
  padding-left: 20px;
  line-height: 1.3em;
}

ul.wt__sub-filters {
  margin: 0 0 0 20px;
}

.wt__panel.wt__assets-panel {
  /* width: 175px !important; */
  /* display: none; */
  padding-top: 1px;
  z-index: 0;
  /*-webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);*/
  min-height: 175px;
  position: absolute;
  left: 175px;
}

.wt__panel.wt__detail-panel {
  z-index: 3000;
  transition: transform 0.5s ease;
  position: absolute;
  left: auto;
  right: 0;
  margin: 0;
  width: 270px;
  height: 100%;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.wt__panel.wt__detail-panel.expanded {
  width: 400px;
}

.wt__value {
  font-weight: 200;
}

.wt__detail-panel.hideFilter {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.wt__panel.wt__detail-panel p {
  margin-bottom: 7px;
}

.wt__panel.wt__assets-panel li {
  line-height: 2em;
  color: #575757;
  padding: 0 5px;
  cursor: pointer;
  margin: 1px 0;
}

.wt__asset-list li a.highlight-link,
.wt__panel.wt__assets-panel li.has-position {
  color: #0094d0;
}

.wt__panel.wt__assets-panel ui-grid-cell-contents,
.wt__asset-list li a.highlight-link,
.wt__panel.wt__assets-panel li {
  border-radius: 3px;
}

.wt__panel.wt__assets-panel li.selected,
.wt__panel.wt__assets-panel li:hover {
  background-color: #999;
  color: white;
}

.wt__panel.wt__assets-panel li.has-position:hover {
  background-color: #84cce7;
  background-color: #6dbcef;
  color: white;
}

.wt__asset-list li:hover a.highlight-link,
.wt__panel.wt__assets-panel li.has-position.selected {
  background-color: #0094d0;
  color: white;
}

.wt__panel {
  height: 100%;
  box-sizing: border-box;
  width: 175px;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  padding: 1px 0px 0 10px;
  -webkit-box-shadow: 0 0 2px 0 rgba(178, 178, 178, 0.5);
  -moz-box-shadow: 0 0 2px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 2px 0 rgba(178, 178, 178, 0.5);
  position: absolute;
  transition: transform 0.4s ease;
}

.wt__filter-panels-container {
  height: 100%;
  z-index: 4000;
  transition: transform 0.4s ease;
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.wt__filter-panels-container.hideFilter {
  transform: translateX(-100%);
}

.wt_shipment_dashboard .wt__filter-panels-container {
  width: 200px;
}

.wt__panel form,
.wt__panel input {
  width: 100%;
}

.wt__panel label {
  margin-left: 0px;
}

.wt__detail-panel label {
  margin-left: 0px;
  color: #383838;
  font-weight: bolder;
  margin-bottom: 3px;
}

.wt__filter-table-wrapper {
  position: relative;
  /*height: 640px;*/
  max-height: 800px;
  height: calc(100vh - 225px);
  border-radius: 5px;
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  overflow: hidden;
}

.cl-inventory-list .wt__filter-table-wrapper {
  height: calc(100vh - 180px);
}
.wt__filter-panel {
  z-index: 2;
  border-right: 1px solid #eee;
  padding: 0 0 0 15px;
  background: white;
  flex-shrink: 0;
  flex-grow: 0;
}

.wt__filter-panel .btn {
  margin: 8px 4px;
  padding: 0;
}

.wt__filter-panel .add-btn {
  width: 16px;
  height: 16px;
  line-height: 0.25em;
}

.wt__filter-panel .add-btn .fa {
  color: white;
  font-size: 10px;
}

.wt__filter-panel .edit-btn {
  color: #888;
  margin-top: 5px;
  background: none;
}

.wt__filter-panel .h6 {
  margin-right: 20px;
  font-weight: bold;
}

.wt__filter-panel h6 {
  margin: 20px 20px 7px 0px;
}

/*End Filter Panel*/

/*Assets panel*/
.wt__asset-name {
  display: inline-block;
  width: 82%;
  line-height: 2em;
}

.wt__unselect-asset i {
  display: inline-block;
  margin: 0;
  width: 0;
  opacity: 0;
  transition: width 0.25s ease;
  position: relative;
  z-index: 5;
}

.selected .wt__unselect-asset i {
  margin-right: 5px;
  width: 10%;
  opacity: 1;
}

.wt__assets-panel .wt__btn-group {
  margin-top: 4px;
}

.wt__assets-panel .wt__btn-group button {
  padding: 0px 4px;
  margin: 0;
  border-radius: 2px;
  color: #0094d0;
}

.wt__panel h5 {
  font-size: 10px;
  font-weight: 400;
}

.wt__panel li {
  list-style: none;
  font-weight: 400;
}

.wt__assets-panel.hideFilter {
  /* -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px); */
  display: none;
}

.wt__assets-panel-content {
  height: 100%;
  opacity: 1;
  overflow: hidden;
  transition: opacity 0.5s ease;
}

.wt__assets-panel.hideFilter .wt__assets-panel-content {
  opacity: 0;
}

/*End Assets panel*/

.wt__slide-panels {
  width: 300%;
  position: relative;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  transition: left 0.5s ease;
}

.wt__slide-panel {
  width: calc(33% - 10px);
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.wt__inventory-subnav {
  position: relative;
  margin: 20px 10px 0 10px;
}

.wt__inventory-subnav .wt__btn-group {
  display: inline-block;
}

.wt__edit-category-panel .wt__btn-group button.wt__btn,
.wt__inventory-subnav .wt__btn-group a button.wt__btn {
  background: #e6e6e6;
  color: #0094d0;
  height: 22px;
  font-size: 13px !important;
  line-height: 16px;
  padding: 2px 14px;
  margin: 0 -3px 0 0;
  border-radius: 0;
  width: auto;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(213, 213, 213, 0.5);
}

.wt__edit-category-panel .wt__btn-group button.wt__btn:first-child,
  /*.wt__locator-buttons .wt__btn-group button.wt__btn:first-child,*/
.wt__inventory-subnav .wt__btn-group a:first-child button.wt__btn {
  border-radius: 5px 0 0 5px;
}

.wt__edit-category-panel .wt__btn-group button.wt__btn:last-child,
  /*.wt__locator-buttons .wt__btn-group button.wt__btn:last-child,*/
.wt__inventory-subnav .wt__btn-group a:last-child button.wt__btn {
  border-radius: 0 5px 5px 0;
}

.wt__edit-category-panel .wt__btn-group button.wt__btn.selected,
.wt__edit-category-panel .wt__btn-group button.wt__btn:hover,
  /*.wt__locator-buttons .wt__btn-group button.wt__btn.selected,*/
  /*.wt__locator-buttons .wt__btn-group button.wt__btn:hover .wt__inventory-subnav .wt__btn-group a button.wt__btn.selected,*/
.wt__inventory-subnav .wt__btn-group a button.wt__btn:hover {
  color: white;
  background: #0094d0;
}

.wt__edit-category-panel .label {
  display: inline-block;
}

.cat-edit-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  /*height: calc(100vh - 420px);*/
  height: calc(100% - 200px);
  width: 100%;
  padding-right: 10px;
}

.wt__panel-body {
  overflow-x: hidden;
  min-height: 600px;
}
.lease_dashboard.panel, .lease_dashboard .panel{
  border: 0;
  box-shadow: none;
}
.lease_dashboard .wt__header-row {
  margin-bottom: 0;
}
.lease-list>.panel-body {
  padding-bottom: 0;
}
.lease-filter .cl-datetimepicker .input-group .date-picker {
  padding-left: 26px !important;
}
.lease-filter.wt__filter-panel {
  padding-left: 10px !important;
}

.wt__panel-body.panel {
  margin-bottom: 10px;
}

.wt__inventory-panel ul {
  margin-left: 5px;
}

.wt__inventory-panel .wt__radio input {
  margin-right: 5px;
}

/*Buttons*/

.cancel-btn {
  border: 0px;
  padding: 5px 9px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  display: block;
  z-index: 9;
}

.cancel-btn:focus {
  outline-width: 0px;
}

.cancel-btn span {
  font-size: 16px;
}

/*Custom Radio buttons*/

.wt__custom-radio ul li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.wt__custom-radio ul li {
  position: relative;
  cursor: pointer;
}

.wt__custom-radio ul li label {
  left: 25px;
  cursor: pointer;
  position: relative;
}

.wt__custom-radio ul li .check {
  display: block;
  position: absolute;
  top: 0;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  height: 17px;
  width: 17px;
  z-index: 5;
  transition: border 0.25s ease;
  -webkit-transition: border 0.25s ease;
}

.wt__custom-radio ul li.selected .check,
.wt__custom-radio ul li:hover .check {
  border: 5px solid #e9a824;
}

.wt__custom-radio ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.wt__custom-radio input[type="radio"]:checked ~ .check {
  border: 5px solid #e9a824;
}

.wt__custom-radio input[type="radio"]:checked ~ .check::before {
  background: #e9a824;
}

.wt__custom-radio input[type="radio"]:checked ~ label {
  color: #e9a824;
}

/*Panel tabs*/

.wt__clear-all {
  position: absolute;
  right: 27px;
  top: 7px;
  cursor: pointer;
}

.wt__clear-all.disable a, .disable a {
  transition: opacity 0.5s ease;
  opacity: 0.3;
  pointer-events: none;
}

.wt__clear-all a:hover {
  text-decoration: underline;
}

.wt__close-panel {
  position: absolute;
  right: 7px;
  top: 7px;
  cursor: pointer;
}

.wt__close-panel .fa:hover {
  color: #6dbcef;
}

.wt__open-panel {
  padding: 0;
  position: absolute;
  right: -17px;
  left: auto;
  top: 5px;
  cursor: pointer;
  padding: 4px;
  border-radius: 0 2px 2px 0;
  -webkit-box-shadow: 0 0 2px 0 rgba(178, 178, 178, 0.5);
  -moz-box-shadow: 0 0 2px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 2px 0 rgba(178, 178, 178, 0.5);
  display: none;
  transition: right 0.4s ease;
}

.wt__assets-panel .wt__open-panel {
  top: 35px;
}

.mapping-admin .wt__assets-panel .wt__open-panel {
  right: -29px;
}

.wt__detail-panel .wt__open-panel {
  left: 0;
  right: auto;
  opacity: 0;
}

.wt__detail-panel.hideFilter .wt__open-panel {
  left: -18px;
  right: auto;
  opacity: 1;
}

.wt__open-panel.extended {
  right: -192px;
}

.wt__open-panel.wt__hide-tab {
  right: 0px;
}

.wt__detail-panel h4.title {
  margin-bottom: 20px;
}

.hideFilter > .wt__open-panel {
  display: block;
}


.wt__open-panel:hover .fa {
  color: #6dbcef;
}

.wt__hide {
  display: none;
  opacity: 0;
}

/*End panel tabs*/

/*Panel Search*/

.wt__search-form label {
  display: none;
}

.wt__search-form .form-group {
  width: 65%;
}

.wt__search-form input.form-control {
  width: 100%;
}

.wt__search-form .form-control {
  padding: 1px 5px;
  font-size: 12px;
}

.form-control,
.wt__search-form .form-control,
.wt__form .form-control {
  height: 28px;
  line-height: 28px;
}

select.form-control {
  padding: 0 12px;
}

.wt__search-form .wt__btn-group {
  display: inline-block;
  margin: 0 0 0 3px;
}

.wt__search-form .wt__btn-group i {
  display: inline-block;
  margin: 0 0 0 3px;
}

.wt__detail-panel-content .wt__checkbox {
  padding-left: 10px;
  margin-left: 0;
}

label.wt__checkbox {
  font-weight: 500;
}

label.wt__checkbox.wt__zone-name {
  font-weight: 400;
  font-size: 11px;
}

.wt__detail-panel-content .wt__flex-list li {
  /*line-height: 2.4em;*/
  padding: 0.5em 0;
}

.wt__detail-panel-content .wt__flex-list li span {
  line-height: 1.2em;
}

.wt__detail-panel-content button.wt__btn-sm {
  padding: 0 0 !important;
  margin: 3px;
  background-color: #0094d0;
  background: linear-gradient(180deg, #00aff6 0%, #0094d0 100%);
  color: white;
  border-radius: 3px;
  height: 28px;
  line-height: 28px;
  width: 30px;
}

.wt__search-form button.wt__btn-sm {
  padding: 0 4px !important;
}

/*Map settings widget*/

.wt__map-settings i {
  margin: 2px 4px;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

#wt__monitor .wt__map-settings-container {
  position: absolute;
  top: 68px;
  right: 18px;
}

#wt__monitor .wt__map-settings {
  width: 300px;
  margin-left: auto;
  position: absolute;
  top: 0px;
  right: 17px;
}

#wt__monitor.intransit .wt__map-settings {
  top: 5px;
}

#shipment-grid .wt__map-settings {
  position: absolute;
  top: 43px;
  right: 25px;
}

.wt__map-settings .refresh-interval-spinner {
  margin-top: 0;
}

.refresh-interval-slider-component {
  margin-right: 20px;
}

.refresh-interval-spinner.wt__pos-abs {
  position: absolute;
  top: -55px;
  right: 5px;
}

.refresh-interval-spinner.wt__pos-abs #wt__refreshRangeSlider {
  margin-right: 25px;
}

.history.refresh-interval-spinner.wt__pos-abs {
  top: 72px;
  right: 20px;
  /*width: 550px;*/
}

#wt__location-container .refresh-interval-slider-component .wt__map-settings,
#wt__monitor .refresh-interval-slider-component .wt__map-settings {
  width: 365px;
}

#cl-shipment-report .refresh-interval-slider-component .wt__map-settings {
  width: calc(100% + 40px);
}

#wt__location-container #wt__refreshRangeSlider {
  margin-right: 30px;
}

#wt__monitor .refresh-interval-spinner {
  position: relative;
  top: -5px;
  right: 0px;
}

#wt__monitor .refresh-interval-spinner.monitor-dashboard-spinner   {
  right: 25px;
  top: -15px;
  min-width: 30px;
}

.wt__map-settings i.wt__pulse,
i.wt__pulse {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#wt__refreshRangeSlider {
  width: 100%;
  margin-right: 5px;
  margin-left: auto;
  position: absolute;
  z-index: 10;
  right: 25px;
  top: -4px;
  align-items: center;
  transition: all 0.5s ease;
  -webkit-transform: translateY(11px);
  -ms-transform: translateY(11px);
  transform: translateY(11px);
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
}

#wt__refreshRangeSlider .close-button,
#wt__refreshRangeSlider .wt__refresh-toggle,
#wt__refreshRangeSlider .wt__flex-row {
  opacity: 0;
  transition: opacity 0.5s ease;
}

#wt__refreshRangeSlider .close-button {
  margin-top: 8px;
}

#wt__refreshRangeSlider.showSlider .close-button,
#wt__refreshRangeSlider.showSlider .wt__refresh-toggle,
#wt__refreshRangeSlider.showSlider .wt__flex-row {
  opacity: 1;
}

#wt__refreshRangeSlider.showSlider {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  opacity: 1;
}

#wt__refreshRangeSlider .wt__label {
  line-height: 1em;
  margin: 0 10px;
  cursor: pointer;
}

#wt__refreshRangeSlider .wt__slider-readout {
  position: relative;
  text-align: center;
  margin-bottom: 0px;
  margin-left: 50px;
  opacity: 1;
}

#wt__refreshRangeSlider .close-button {
  transition: opacity 0.5s ease;
  opacity: 0;
}

#wt__refreshRangeSlider .close-button:hover {
  color: #6dbcef;
}

#wt__refreshRangeSlider.showSlider .close-button {
  opacity: 1;
}

.wt__slider-container {
  position: relative;
}

/*Bootstrap tooltip */

.blue-tooltip + .tooltip > .tooltip-inner {
  background-color: #0094d0;
}

.blue-tooltip + .tooltip.bottom > .tooltip-arrow {
  border-bottom-color: #0094d0;
}

.blue-tooltip + .tooltip.right > .tooltip-arrow {
  border-right-color: #0094d0;
}

.white-tooltip + .tooltip > .tooltip-inner {
  background-color: #fff;
  color: #444;
  -moz-box-shadow: 0 0 1px 0.5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 1px 0.5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1px 0.5px rgba(0, 0, 0, 0.4);
}

.white-tooltip + .tooltip.bottom > .tooltip-arrow {
  border-bottom-color: #fff;
}

.white-tooltip + .tooltip.right > .tooltip-arrow {
  border-right-color: #fff;
}

/*Bootstrap-toggle*/

#wt__refreshRangeSlider .checkbox {
  position: relative;
  top: 0;
  margin: 0;
}

#wt__refreshRangeSlider .checkbox .btn.btn-primary {
  border-radius: 50%;
  background-color: #0094d0;
}

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
  border-radius: 20px;
}

.toggle.ios .toggle-handle {
  border-radius: 20px;
}

/*Buttons*/
button.wt__btn {
  color: white;
  border-radius: 3px;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
  font-weight: 100;
  /*font-size: 14px !important;*/
}

.wt__btn.wt__flex-button {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wt__btn {
  cursor: pointer;
  opacity: 1;
}

.wt__loading,
.wt__btn.wt__loading {
  opacity: 0.75;
  cursor: progress;
}

/*Bootstrap overrides*/

.btn-primary,
a.btn-primary,
button.btn-primary {
  background: rgba(147, 206, 222, 1);
  background: linear-gradient(
    to bottom,
    rgba(147, 206, 222, 1) 0%,
    rgba(0, 148, 208, 1) 38%,
    rgba(0, 162, 228, 1) 100%
  );
  border: none;
}

a.btn-primary {
  border-radius: 4px;
}

.btn-primary:hover {
  background: rgba(147, 206, 222, 1);
  background: -moz-linear-gradient(
    top,
    rgba(147, 206, 222, 1) 0%,
    rgba(0, 148, 208, 0.9) 38%,
    rgba(0, 162, 228, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(147, 206, 222, 1)),
    color-stop(38%, rgba(0, 148, 208, 0.9)),
    color-stop(100%, rgba(0, 162, 228, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(147, 206, 222, 1) 0%,
    rgba(0, 148, 208, 0.9) 38%,
    rgba(0, 162, 228, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(147, 206, 222, 1) 0%,
    rgba(0, 148, 208, 0.9) 38%,
    rgba(0, 162, 228, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(147, 206, 222, 1) 0%,
    rgba(0, 148, 208, 0.9) 38%,
    rgba(0, 162, 228, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(147, 206, 222, 1) 0%,
    rgba(0, 148, 208, 0.9) 38%,
    rgba(0, 162, 228, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93cede', endColorstr='#00a2e4', GradientType=0);
  border: none;
}

.btn-link {
  cursor: pointer;
}

/* .btn-link,
.btn-link:focus {
  color: #0094d0;
} */

.btn-link.disabled {
  color: #a6a6a6;
  cursor: not-allowed;
}

.btn-link.disabled .fa,
.cursor-not-allowed {
  cursor: not-allowed;
}

.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.visited,
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

/* Slider  */

.wt__slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 1px;
  /* Specified height */
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  cursor: pointer;
}

/* Mouse-over effects */

.wt__slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.wt__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 6px;
  /* Set a specific slider handle width */
  height: 14px;
  /* Slider handle height */
  background: #0094d0;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 0 2px 2px 0;
}

.wt__slider::-moz-range-thumb {
  width: 6px;
  /* Set a specific slider handle width */
  height: 14px;
  /* Slider handle height */
  background: #0094d0;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 0 2px 2px 0;
}

/*DatePicker*/

.cl-datetimepicker .input-group .input-group-addon .icon-calendar,
.cl-datetimepicker .glyphicon {
  position: absolute;
  left: 10px;
  z-index: 2;
  pointer-events: none;
}

#wt__location-container .cl-datetimepicker .glyphicon {
  z-index: 2;
}

.cl-datetimepicker .glyphicon {
  margin-top: 5px;
}

.cl-datetimepicker:hover .glyphicon {
  color: #0094d0;
}

/*Notifications*/

.notifications-heading {
  text-transform: capitalize;
  font-size: 16px;
}

.dropdown-menu.notification_block {
  right: -22px;
  width: 250px;
}

.dropdown-menu.notification_block.alert_block {
  width: 320px;
}

.dropdown-menu.notification_block.cs_block {
  width: 232px;
}

.notification_block .fa-circle {
  font-size: 10px;
  position: relative;
  top: -3px;
  margin-right: 8px;
}

.notification_block .message-text {
  font-size: 14px;
  line-height: 17px;
}

.notification_block .fa-gear {
  color: #a4a4a4;
}

/*Loaders*/
.wt__loader {
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
}

.wt__bottom-loader {
  bottom: 0;
}

.wt__loader i {
  /* color: #0094d0; */
  opacity: 0.25;
  position: relative;
  margin: auto;
}

.wt__loader.wt__metrics-loader {
  top: 120px;
  font-size: 48px;
}

.wt__image-loading {
  opacity: 0.1;
}

.wt__info-cards .wt__loader {
  margin-top: 10px;
}

.wt__info-cards .wt__loader.tenancy {
  margin-top: 20px;
}

.wt__loader.wt__metrics-loader i {
  z-index: 10;
}

.wt__loader-container {
  display: block;
  position: absolute;
  text-align: center;
  z-index: 333;
  width: 100%;
  height: 100%;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
}

.wt__beacon-loader {
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 50%;
  position: relative;
  margin: auto;
}

.route-progress > .wt__beacon-loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -11px;
  left: -8px;
}

.wt__beacon-loader:before,
.wt__beacon-loader:after {
  content: "";
  display: inline-block;
  border: 0.2em solid #0094d0;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: beacon 2s linear 1;
  animation: beacon 2s linear 1;
  opacity: 0;
}

.route-progress > .wt__beacon-loader:before,
.route-progress > .wt__beacon-loader:after {
  border: 0.5em solid rgba(0, 148, 208, 0.35);
  -webkit-animation: beacon 4s infinite;
  animation: beacon 4s infinite;
  animation-delay: 0s;
  opacity: 0;
  z-index: 0;
}

.wt__beacon-loader:before {
  animation-delay: 1s;
}

.wt__beacon-loader:after {
  animation-delay: 0s;
}

@-webkit-keyframes beacon {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes beacon {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.wt__no-data-message {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 10px 0px;
  flex-flow: row wrap;
}

.wt__no-data-message div {
  width: 100%;
  align-self: center;
}

#wt__metrics-container .wt__no-data-message {
  height: 80%;
  margin: 0 -52px;
}

.wt__detail-panel-content.wt__panel-loading {
  opacity: 0.5;
}

.wt__asset-summary.wt__loader {
  margin: 100px 10px;
}

.wt__asset-summary.wt__loader i {
  font-size: 120px;
}

/*End loaders*/

.wt__dropdown-divider {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.wt__detail-panel-content {
  -webkit-transition: opacity 0.65s ease;
  -moz-transition: opacity 0.65s ease;
  -ms-transition: opacity 0.65s ease;
  -o-transition: opacity 0.65s ease;
  transition: opacity 0.65s ease;
  opacity: 1;
  height: calc(100% - 80px);
}

.summary-panel {
  z-index: 4000;
  display: block;
  position: relative;
}

/*Custom checkbox*/

.wt__checkbox {
  /*display: block;*/
  line-height: 1em;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  align-content: space-between;
}

.wt__checkbox.inline-checkbox {
  display: inline-block;
  margin-left: 5px;
}

.wt__checkbox:hover {
  color: #6dbcef;
}

.dropdown-menu .wt__checkbox span {
  padding: 2px 0 0 0;
}

/* Hide the browser's default checkbox */

.wt__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */

.cust-grid .ui-grid-selection-row-header-buttons {
  background-color: #f5fbff;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
}
.cl-assets .cust-grid .cl-grid-row-child {
  background-color: #edf4f9 !important;
  font-weight: bold;
}
.cl-assets .cust-grid .cl-grid-row-child.cl-grid-child-indentation .ui-grid-cell-contents{
  padding-left:10px;
}
.cl-assets .cl-grid-row-parent .ui-grid-cell-contents{
  display:none;
}
.cl-grid.cust-grid .ui-grid-selection-row-header-buttons {
  border-radius: 50% !important;
}

.cl-grid.cust-grid .ui-grid-header .ui-grid-selection-row-header-buttons {
  visibility: hidden;
}

.cl-grid.cust-grid .ui-grid-header-cell .ui-grid-cell-contents {
  padding: 4px;
}

.wt__checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid #c7c7c7;
  background-color: #f5fbff;
  border-radius: 2px;
}

.map-mode .wt__checkbox .checkmark {
  opacity: 0.3;
}

.wt__checkbox .checkbox-name {
  /* margin-left: 3px; */
  color: #323232;
}

.wt__filter-count {
  margin-left: 3px;
}

.wt__widgets-settings {
  margin-bottom: 20px;
}

.wt__widgets-settings .checkbox {
  line-height: 2em;
}

.wt__widgets-settings .checkmark {
  padding: 7px;
  border-radius: 2px;
  border: 1px solid #bbb;
}

/*Settings subscriptions*/

.blue-circle-button {
  display: inline-flex;
  border-radius: 50%;
  box-sizing: border-box;
  height: 21px;
  width: 21px;
  padding: 3px;
  margin-top: 4px;
  border-width: 1px;
  border-style: solid;
}

.blue-circle-button[aria-expanded="true"] {
  color: white;
  border: 1px solid #0094d0;
  background-color: #2eb0df;
}

.edit-user-dropdown {
  position: absolute;
  top: 30px;
  left: -180px;
  width: 400px;
  height: 318px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.edit-user-dropdown .wt__scroll-container {
  padding-bottom: 5px;
  height: calc(100% - 10px);
}

.edit-user-dropdown.wt__dropdown.dropdown-menu:before {
  left: 182px;
}

.edit-user-dropdown.wt__dropdown.dropdown-menu:after {
  left: 183px;
}

.edit-user-dropdown .wt__flex-row {
  justify-content: flex-start;
}

.wt__user-pic {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.wt__toggle-button {
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  stroke-width: 2px;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 12px;
}

.wt__toggle-button.selected {
  border: 3px solid #a4e364;
  color: #a4e364;
}

.wt__toggle-button > span {
  padding: 3px 0;
}

.wt__flex-row.no-grow > span {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0 0 0 0;
  align-self: center;
}

/* On mouse-over, add a grey background color */

.wt__checkbox:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add background color */

.wt__checkbox input:checked ~ .checkmark {
  background-color: #e9a824;
}

.wt__widgets-settings .wt__checkbox input:checked ~ .checkmark {
  background-color: #ddd;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.wt__checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.wt__checkbox .checkmark:after {
  left: 5px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.wt__widgets-settings .wt__checkbox .checkmark:after {
  border: solid #999;
  width: 7px;
  height: 7px;
  left: 4px;
  top: 4px;
  border-radius: 50%;
}

.wt__settings-list {
  margin: 30px 5px 0px 5px;
}

.wt__settings-list li {
  line-height: 1.2em;
  list-style: none;
}

.wt__dot {
  height: 7px;
  width: 7px;
  margin-right: 7px;
  margin-bottom: 1px;
  display: inline-block;
  border-radius: 50%;
}

.wt__full-frame {
  /*width: 1400px;*/
  left: 0;
  position: relative;
  width: 100%;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  -webkit-transition: left 0.85s ease;
  -moz-transition: left 0.85s ease;
  -ms-transition: left 0.85s ease;
  -o-transition: left 0.85s ease;
  transition: left 0.85s ease;
}

/*KPI dropdowns*/

.wt__more-info .fa {
  position: absolute;
  right: 2px;
  top: 2px;
}

.wt__more-info:hover .fa {
  color: #6dbcef;
}

.btn-group.dropdown {
  position: relative;
  /* box-shadow: 0 1px 2px 0 rgba(157, 157, 157, 0.5); */
}

.btn-group.dropdown.wt__dropdown-group {
  position: absolute;
  right: 5px;
  top: 5px;
}

.btn-group.dropdown .dropdown-toggle {
  position: absolute;
  display: block;
  height: 30px;
  width: 40px;
  cursor: pointer;
  z-index: 2;
  right: -5px;
  top: -5px;
  /*background: pink;*/
}

.btn-group.dropdown.wt__info-dropdown .dropdown-toggle {
  width: 60px;
  right: -15px;
}

.wt__hamburger-dropdown:before,
.wt__dropdown.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: "";
}

.wt__hamburger-dropdown:after,
.wt__dropdown.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: "";
}

.wt__dropdown.wt__box {
  padding: 10px 10px 40px 10px;
  width: 188px;
  left: -38px;
  top: 10px;
  border-radius: 7px;
}

.wt__dropdown-group .wt__dropdown.wt__box {
  left: 175px;
  top: 12px;
  padding: 10px 10px 40px 10px;
  width: 188px;
  border-radius: 7px;
}

.wt__info-card .wt__dropdown-group .wt__dropdown.wt__box {
  left: 165px;
  top: 15px;
}

.wt__info-card {
  position: relative;
}

.wt__info-card-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-group.wt__dropdown-left .wt__dropdown.wt__box {
  left: auto;
  right: 188px;
  top: 10px;
}

.wt__dropdown-group.wt__dropdown-left .wt__dropdown.wt__box {
  left: auto;
  right: -25px;
}

.wt__dropdown-left .wt__dropdown.dropdown-menu:before {
  left: auto;
  right: 13px;
}

.wt__dropdown-left .wt__dropdown.dropdown-menu:after {
  left: auto;
  right: 14px;
}

.wt__box.wt__dropdown .title {
  text-align: center;
}

.wt__box.wt__dropdown h4 {
  font-size: 12px;
}

.wt__box.wt__dropdown .form-control {
  font-size: 12px;
  height: 25px;
}

.wt__box.wt__dropdown .category-select {
  text-transform: capitalize;
}

.wt__box.wt__dropdown hr {
  margin-top: 0;
  margin-bottom: 5px;
}

.wt__box.wt__dropdown .wt__btn-group {
  text-align: center;
}

.wt__box.wt__dropdown .wt__btn-group button {
}

.wt__box.wt__dropdown button.wt__btn-sm {
  padding: 2px 8px;
  font-size: 11px !important;
  line-height: 11px;
  margin: 0 2px 0 0;
  border-radius: 3px;
}

.wt__dropdown button.wt__btn-sm:hover,
.wt__dropdown button.wt__btn-sm.selected {
  background: linear-gradient(180deg, #00aff6 0%, #0094d0 100%);
}

.wt__dropdown button.btn-sm:last-child {
  margin-right: 0;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.wt__dropdown .wt__col-33 {
  margin-right: 5px;
}

/*Metrics page*/

#wt__metrics-container {
  margin-top: 60px;
}

#wt__metrics-page {
  position: relative;
  overflow: hidden;
}

#wt__metrics-page .wt__header-row {
  margin: 0;
}

#wt__metrics-page .page-title {
  z-index: 200;
}

#wt__metrics-page .page-title span {
  margin: 0 5px;
  color: #0094d0 !important;
  cursor: pointer;
}

#wt__metrics-page .page-title span.selected {
  border-bottom: 3px solid #0094d0;
  color: #575757 !important;
}

/*D3 components*/

.d3-tip {
  line-height: 1;
  font-weight: 200;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(66, 66, 66, 0.25);
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
}

.d3-tip text {
  fill: #555;
}

.d3-tip:before {
  position: absolute;
  left: calc(50% - 10px);
  bottom: -10px;
  display: inline-block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
  border-top-color: rgba(96, 96, 96, 0.25);
  content: "";
}

.d3-tip:after {
  position: absolute;
  left: calc(50% - 10px) !important;
  bottom: -10px;
  display: inline-block;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  content: "";
}

/* Style northward tooltips differently */

.d3-tip.n:after {
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}

.wt__stacked-bar-chart {
  height: 100%;
}

.wt__stacked-horizontal-bar-chart {
  transform: rotate(90deg);
  height: 100%;
  position: relative;
  margin-top: 30px;
}

.wt__large-chart-container .wt__stacked-bar-chart {
  margin: 86px -25px 0 -25px;
}

svg.wt__liquid-gauge {
  position: relative;
  margin-top: 5px;
}

.wt__donut-chart {
  position: relative;
  text-align: center;
  display: block;
  margin: 20px auto;
  height: 100%;
}

.wt__donut-chart path {
  pointer-events: all;
  z-index: 11111;
}

.wt__donut-chart text {
  pointer-events: none;
}

.wt__donut-chart path:hover {
  /*fill: tomato;*/
  stroke-width: 4px;
}

.wt__gauge {
  width: 120px;
}

.nv-groups path {
  stroke-width: 2px;
  stroke-linecap: round;
  shape-rendering: geometricPrecision;
}

.wt__datepicker.cl-datetimepicker {
  padding: 0 !important;
}

.wt__datepicker.cl-datetimepicker .input-group .date-picker {
  font-size: 12px;
  height: 26px;
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background: linear-gradient(180deg, #f2f2f2 0%, #d4d4d4 100%);
  -webkit-box-shadow: inset 0 2px 0 0 #ffffff, 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 2px 0 0 #ffffff, 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 0 0 #ffffff, 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.wt__flat-datepicker.cl-datetimepicker .input-group .date-picker {
  font-size: 12px;
  height: 26px;
  width: 100%;
  border-color: #e7e7e7 !important;
  border-radius: 3px;
  background: none;
}

.wt__flat-datepicker.cl-datetimepicker {
  padding-left: 0 !important;
  /*padding-right: 10px;*/
  margin-right: 10px;
}

.wt__flat-datepicker.cl-datetimepicker .glyphicon {
  margin-top: 3px;
}

.wt__form-control {
  height: 26px;
  border: 1px solid #a4a4a4;
  border-radius: 3px;
}

/*D3 adjustments*/

.wt__info-card .nv-axislabel {
  transform: rotate(270deg) translateY(50px) translateX(-5px);
  font-weight: 400;
}

/*Site wide adjustments*/

/*NVD3 Graphs*/

.nvd3 text {
  font-weight: 300;
  font-size: 11px;
}

.nvtooltip.xy-tooltip {
  border: 1px solid rgba(66, 66, 66, 0.25);
  -moz-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  -webkit-box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);
  box-shadow: 0 0 4px 0 rgba(178, 178, 178, 0.5);

  background-color: white;
  color: #575757;
  border-radius: 8px;
  font-weight: 200;
}

#breadcrumb_title {
  letter-spacing: 1.5px;
}

.btn:focus {
  outline: none;
}

.wt__custom-dropdown {
  font-weight: 200;
  width: 100%;
  height: 26px;
  margin-top: 3px;
  overflow: hidden;
  background: url("../images/dropdown_arrow.png") no-repeat right #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.wt__location-graph .wt__custom-dropdown {
  width: 80%;
}

/*.wt__nav-dropdown {
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    height: 26px;
    margin-top: 3px;
    overflow: hidden;
    color: white;
}

.wt__nav-dropdown select {
    background-color: #0094D0;

}*/

/*Custom dropdown*/

.wt__custom-dropdown select {
  background: transparent;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 26px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.wt__overlay-count-readouts {
  position: absolute;
  pointer-events: none;
}

.wt__box.wt__info-card .readout h3 {
  margin: 10px 0 3px 0;
}

.wt__multichart-container {
  position: absolute;
}

.wt__multibar-chart {
  text-align: center;
}

.wt__multibar-chart .chart rect {
  stroke: white;
}

.wt__multibar-chart .bar.negative {
  fill: tomato;
}

.wt__multibar-chart .axis text {
  font: 10px sans-serif;
}

.wt__multibar-chart .axis path,
.wt__multibar-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.ui-grid {
    min-height: 300px;
    max-height: 600px;
}*/

.reports-grid.ui-grid {
  min-height: 300px;
  max-height: 300px;
}

.wt__loc-history-asset-list .ui-grid {
  min-height: 365px;
  max-height: 365px;
}

.show-password-toggle {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 8px;
  font-size: 18px;
}

.wt__list,
.wt__list li,
.wt__list-wrapper li {
  list-style: none;
}

.wt__list-wrapper li {
  display: block;
}

.wt__list ul {
  margin: 5px 20px;
}

/*Asset summary bottom buttons*/
.wt__bottom-buttons {
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  background: #48666f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #48666f 0%, #6f7275 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #48666f 0%, #6f7275 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #48666f 0%, #6f7275 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48666f', endColorstr='#6f7275', GradientType=0);
  /* IE6-9 */
}

.wt__bottom-buttons div,
.wt__bottom-buttons a {
  width: 50%;
}

.wt__bottom-buttons button {
  padding: 0 10px;
  text-align: left;
  width: 100%;
  border-radius: 0;
  font-weight: 200;
  border-width: 0px;
  border-right: 1px solid white;
  background: #48666f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #48666f 0%, #6f7275 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #48666f 0%, #6f7275 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #48666f 0%, #6f7275 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48666f', endColorstr='#6f7275', GradientType=0);
  /* IE6-9 */
}

.wt__bottom-buttons button.selected,
.wt__bottom-buttons button:hover {
  background: #0094d0;
  outline: none;
}

.wt__bottom-buttons button.last-button {
  text-align: right;
  border: none;
}

/*End Asset summary bottom buttons*/

/* Hamburger styles */
#wt__hamburger {
  padding: 3px 6px;
  border-radius: 6px;
  text-align: center;
  font-size: 10px;
}

#wt__hamburger #nav-icon3 {
  margin: 2px auto 0 auto;
}

/*End Hamburger styles*/

/* Watch tower assets grid style start here*/

.wt__asset_grid_container {
  padding-right: 0px;
  padding-bottom: 0px;
  height: 100%;
}

.wt__asset_grid .ui-grid-canvas {
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.wt__asset_grid.ui-grid {
  border: 0px;
  height: 100%;
}

.wt__asset_grid .ui-grid-cell-contents {
  border-radius: 3px;
  cursor: pointer;
  text-overflow: ellipsis;
}

.wt__asset_grid .ui-grid-header {
  display: none;
}

.wt__asset_grid .ui-grid-viewport {
  overflow-x: hidden !important;
  /*height: 570px !important;*/
}

.wt__asset_grid .ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #fff;
}

.wt__asset_grid .ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #fff;
}



.wt__asset_grid .ui-grid-cell-contents span:last-child {
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transform: translateX(0);
  display: inline;
  margin-left: 3px;
}

.wt__asset_grid .ui-grid-row-selected .ui-grid-cell-contents span:last-child {
  transform: translateX(5px);
}

.wt__asset_grid .ui-grid-row-selected .ui-grid-cell-contents,
.wt__asset_grid .ui-grid-cell-contents:hover {
  background-color: #999;
  color: #fff;
}

.wt__asset_grid .ui-grid-row-selected .ui-grid-cell-contents.has-position {
  border-radius: 3px;
  color: #fff;
}

.wt__asset_grid .ui-grid-cell-contents .wt__unselect-asset i {
  margin-right: 2px;
}

.wt__asset_grid .ui-grid-cell-contents i {
  /*margin-right: 5px;*/
}

.wt__asset_grid .ui-grid-cell-contents span {
  /*margin-left: 3px;*/
  margin-top: 1px;
  display: inline-block;
}

/* Watch tower assets grid style end here*/

.ui-grid-row .ui-grid-cell.path-found {
  border: 1px solid #138d75;
  background-color: #a3e4d7 !important;
}

.ui-grid-row .ui-grid-cell.path-not-found {
  border: 1px solid #a93226;
  background-color: #fadbd8 !important;
}

.file-uploader {
  position: relative;
}

.file-uploader input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.file-uploader .label {
  font-size: 1em;
}

.btn:disabled {
  /*opacity: 0.65; */
  cursor: not-allowed !important;
}

a.disabled,
.wt__disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
  opacity: 0.75 !important;
}

.wt__resizer {
  cursor: pointer;
  cursor: -webkit-grab;
  font-size: 0.8em;
  padding: 0px 2px;
  position: absolute;
  margin: auto;
  text-align: center;
  width: 60px;
  left: calc(50% - 30px);
  border-radius: 0 0 5px 5px;
  border-width: 1px;
  border-style: solid;
  border-top: none;
}

.wt__resizer i {
  transform: scaleX(5);
}

.wt__resizer.vertical {
  transform: rotate(-90deg);
  left: auto;
  right: -37px;
  top: 200px;
}

/* Actions bar/Asset Inventory page */

.wt__grid .grid {
  height: 70vh !important;
}

.wt__actions-bar.mb20,
.wt__inventory-actions-bar.mb20 {
  margin-bottom: 0px;
}

.wt__actions-bar,
.wt__inventory-actions-bar {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.wt__inventory-actions-bar .grid-page-title {
  display: none;
}

.wt__actions-bar.actions-disabled,
.wt__inventory-actions-bar.actions-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.wt__actions-bar .add-btn,
.wt__inventory-actions-bar .add-btn {
  position: absolute;
  /*top: 47px;*/
  top: 0px;
  right: 50px;
  z-index: 2;
  height: 40px;
  width: 40px;
  padding: 10px;
}

.wt__actions-bar .add-btn span.fa,
.wt__inventory-actions-bar .add-btn span.fa {
  font-size: 22px;
}

.wt__action-btn {
  position: absolute;
  right: 30px;
  top: -10px;
  z-index: 3;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.wt__action-btn-br {
  position: absolute;
  right: 15px;
  top: -25px;
  z-index: 3;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.wt__action-btn span {
  font-size: 22px;
}

/* End Actions bar/Asset Inventory page */

/*Actions bar in grid*/
.wt__filter-table-wrapper.wt__actions-grid {
  overflow: visible;
}

.wt__filter-table-wrapper.wt__actions-grid .wt__panel {
  height: calc(100% - 10px);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.wt__filter-table-wrapper.wt__actions-grid .wt__filter-panel {
  background: none;
}

.wt__filter-table-wrapper.wt__actions-grid .grid-page-title {
  display: none;
}

.user-grid .wt__filter-table-wrapper.wt__actions-grid h4.grid-page-title {
  display: block;
}
.user-grid .wt__filter-table-wrapper.wt__actions-grid h4.grid-page-title .seperator-sl {
  display: none;
}

.wt__filter-table-wrapper.wt__actions-grid .action-bar {
  margin-left: 0px;
}

.wt__filter-table-wrapper.wt__actions-grid .action-bar input {
  height: 30px;
  margin-top: 2px;
}

.wt__filter-table-wrapper.wt__actions-grid .add-btn {
  width: 40px;
  height: 40px;
  position: relative;
  top: -30px;
}

.wt__filter-table-wrapper.wt__actions-grid .add-btn span {
  font-size: 22px;
  margin: 3px;
}

.wt__filter-table-wrapper.wt__actions-grid .cust-grid .ui-grid {
  min-height: 100% !important;
  box-shadow: none;
  width: 98%;
}

#wt__inventory-grid.cust-grid .ui-grid-header-cell {
  height: 28px;
}

.ui-grid-menu-button .ui-grid-icon-container {
  margin-top: 4px;
  margin-left: 1px;
}

.wt__filter-table-wrapper .ui-grid-viewport {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.wt__filter-table-wrapper.wt__actions-grid
.cust-grid
.ui-grid-pinned-container.ui-grid-pinned-container-left
.ui-grid-cell:last-child,
.wt__filter-table-wrapper.wt__actions-grid .ui-grid-header,
.wt__filter-table-wrapper.wt__actions-grid .cust-grid .ui-grid-cell {
  border-bottom: none !important;
}

.wt__reports-table-wrapper
.cust-grid
.ui-grid-pinned-container.ui-grid-pinned-container-left
.ui-grid-cell:last-child,
.wt__reports-table-wrapper .ui-grid-header,
.wt__reports-table-wrapper .cust-grid .ui-grid-cell {
  border-bottom: none !important;
}

.wt__reports-table-wrapper .cust-grid .ui-grid {
  box-shadow: none;
}

.wt__reports-table-wrapper .single-grid .ui-grid {
  height: calc(100vh - 300px);
  min-height: 250px;
}

.wt__reports-table-wrapper .ui-grid-menu-button {
  background: none;
  border: none;
  position: absolute;
  right: 80px;
  top: -38px;
}

.wt__reports-table-wrapper.hide-export .ui-grid-menu-button {
  display: none;
}

.wt__reports-table-wrapper .ui-grid-menu-button i {
  opacity: 0;
}

.wt__reports-table-wrapper .ui-grid-menu-button:before {
  content: "\f019";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  text-decoration: none;
  color: #989898;
  position: absolute;
  top: 2px;
  left: -5px;
}

.wt__reports-table-wrapper .ui-grid-menu-button:after {
  content: "export";
  font-weight: normal;
  font-style: normal;
  color: #989898;
  margin: 0px 0px 0px 10px;
  position: absolute;
  text-decoration: none;
  top: 2px;
  left: 15px;
}

.hide-resizer .ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
  border-right: none;
}

.wt__reports-table-wrapper.hide-checkboxes
.ui-grid-pinned-container.ui-grid-pinned-container-left {
  display: none;
}

/* End Actions bar in grid*/

.highlight-table {
  background-color: rgba(189, 219, 243, 0.4);
  border-radius: 3px;
  padding: 5px;
}

.wt__disable {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.wt__form input.ng-invalid.ng-touched {
  border: 1px solid #fa787e;
}

.wt__form input.ng-valid.ng-touched {
  border: 1px solid #84cce7;
}

.wt__form ul {
  list-style: none;
}

.wt__custom-radio label,
.wt__form label {
  font-weight: 500;
}

.wt__util-btn {
  border: none;
  margin-right: 10px;
}

.wt__util-btn:disabled {
  background: linear-gradient(180deg, #f2f2f2 0%, #a5a5a5 100%);
}

.wt__left-stripe {
  flex-basis: 20px;
  margin-left: -15px;
}

.wt__arrow-icon {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.wt__step {
  padding: 10px;
}

.wt__step h4 {
  font-size: 18px;
}

.wt__step-active .wt__arrow-icon {
  background: #2eb0df;
}

.wt__step-completed .wt__arrow-icon {
  background: #c4b715;
}

/*Form input*/

.wt__input {
  background: none;
  border: none;
  font-size: 16px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/*Table*/

.wt__table.table {
  margin-bottom: 0;
}

.wt__table.table > tbody > tr,
.wt__table.table > tbody > tr > td {
  border: none;
}

.wt__table.table > tbody > tr.header {
  border-bottom: 1px solid #eee;
  height: 56px;
}

.wt__table.table > tbody > tr.header th {
  padding-top: 25px;
}

.wt__table.table > tbody > tr > th {
  padding-left: 25px;
}

.wt__table.table > tbody > tr > td {
  padding: 10px 0 0 25px;
  width: 25%;
}

.wt__table.table > tbody > tr > td.wt__space-buttons {
  min-width: 250px;
}

.wt__category-image {
  -webkit-background-size: contain;
  background-size: contain;
  width: 220px;
  height: 220px;
  position: absolute;
  top: 49px;
  margin: 10px;
}

.ui-grid-cell-contents-25 {
  display: grid;
  /*grid-auto-columns: max-content;*/
  width: 25%;
  /* IE Solution */
  display: -ms-grid;
  /*-ms-grid-columns: max-content;*/
}

.wt__edit-category-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
}

.wt__edit-category-wrapper .wt__flex-row{
  padding-left: 6px;
}

.wt__category-grid .cust-grid .ui-grid {
  max-height: 150px;
}

/*resizer directive*/

.wt__resizer {
  cursor: pointer;
  cursor: -webkit-grab;
  font-size: 0.8em;
  padding: 0px 2px;
  position: absolute;
  margin: auto;
  text-align: center;
  width: 60px;
  left: calc(50% - 30px);
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.wt__resizer i {
  transform: scaleX(5);
}

.wt__resizer.vertical {
  transform: rotate(-90deg);
  left: auto;
  right: -37px;
  top: 200px;
}

/* Endresizer directive*/

.strip {
  display: inline-block;
  position: absolute;
  width: 16px;
  right: 0;
  top: 0;
  margin-top: 25px;
  padding-right: 2px;
}

.strip:not(:first-child) .strip-container {
  border-right: 1px dotted #bbb;
  /* border-left: .5px dotted lightgrey; */
}

.strip-container {
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 18px;
  -webkit-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.strip-container div {
  font-size: 22px;
  margin: 0px;
  padding: 0;
  line-height: 22px;
  height: 24px;
}

.readout-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
  height: 24px;
  width: 24px;
  min-width: 28px;
  top: 4px;
  left: 0px;
  /* border: 0.5px solid rgba(128, 128, 128, 0.15); */
  -webkit-box-shadow: inset 0.5px 0.5px 0.5px 0.5px rgba(41, 41, 41, 0.25);
  -moz-box-shadow: inset 0.5px 0.5px 0.5px 0.5px rgba(41, 41, 41, 0.25);
  box-shadow: inset 0.5px 0.5px 0.5px 0.5px rgba(41, 41, 41, 0.25);
  border-radius: 5px;
  -webkit-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
  background: #e8f0f4;
  /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #e8f0f4 0%,
    #ffffff 25%,
    #eff4f7 72%,
    #e3eff7 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #e8f0f4 0%,
    #ffffff 25%,
    #eff4f7 72%,
    #e3eff7 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #e8f0f4 0%,
    #ffffff 25%,
    #eff4f7 72%,
    #e3eff7 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8f0f4', endColorstr='#e3eff7', GradientType=0);
  /* IE6-9 */
}

.readout-container.critical {
  background: #f9d9d9;
  /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #f9d9d9 0%,
    #ffffff 37%,
    #ffeded 72%,
    #ffd6d6 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #f9d9d9 0%,
    #ffffff 37%,
    #ffeded 72%,
    #ffd6d6 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #f9d9d9 0%,
    #ffffff 37%,
    #ffeded 72%,
    #ffd6d6 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9d9d9', endColorstr='#ffd6d6', GradientType=0);
  /* IE6-9 */
}

.readout-container.warning {
  background: #fff4d8;
  /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #fff4d8 0%,
    #ffffff 37%,
    #fff9ea 72%,
    #fff4d6 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #fff4d8 0%,
    #ffffff 37%,
    #fff9ea 72%,
    #fff4d6 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #fff4d8 0%,
    #ffffff 37%,
    #fff9ea 72%,
    #fff4d6 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4d8', endColorstr='#fff4d6', GradientType=0);
  /* IE6-9 */
}

.info-card-units {
  position: absolute;
  top: 4px;
  margin-left: 1px;
  font-size: 18px;
}

.infocard-alert {
  position: absolute;
  right: 9px;
  top: -2px;
}

.single-refresh-button {
  position: absolute;
  right: 70px;
  top: 15px;
}

.p-20 {
  padding: 20px;
}

.p-lr-20 {
  padding: 0px 20px;
}

.p-lr-40 {
  padding: 0px 40px;
}

.mb-8 {
  margin-bottom: 8px;
}
.mt-8 {
  margin-top: 8px;
}

.ml-8, .ml8 {
  margin-left: 8px;
}

/* bigger checkbox */
.wt__checkbox.wt__checkbox-lg .checkmark {
  height: 24px;
  width: 24px;
}

.wt__checkbox.wt__checkbox-lg .checkmark:after {
  top: 3px;
  left: 8px;
  width: 6px;
  height: 14px;
}

.wt_flex-space {
  justify-content: space-between;
}
.safe2go.grid-alert-list {
  grid-template-columns: 40% minmax(80px, 30%) 30%;
}

.side-panel-close {
  position: absolute;
  top: -30px;
  right: 0px;
  z-index: 9;
}
.cl_policy_details_container{
  overflow: inherit !important;
  z-index: 99 !important;
}
.cl_policy_details_container .side-panel-close {
  position: absolute;
  top: 0px;
  right: 14px;
}
.side-panel-close > button {
  width: 40px;
  height: 40px;
}
.user-profile-name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  text-align: center;
  margin: 10px auto;
}

/* customer request pane */
#customer-support-pane .ui-select-placeholder {
  left: 12px;
  font-size: 12px;
  opacity: 0.5;
}

.map-delay-refresh {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  padding: 4px 2px;
  z-index: 9999;
}

.action-resolved {
  color: #002D74 !important;
}
.no-pointer:hover {
  cursor: default !important;
}
.action-resolved:hover{
  cursor: pointer;
}
.alerts-resolved-modal-container{
  min-height: 100px;
  display: inline-block;
  width: 100%;
}
.alerts-resolved-modal-container h4{
  margin-bottom: 15px;
}
.alert-resolved-details-footer .btn{
  margin-bottom: 15px;
}
.notification-badge{
  right: 0px !important;
}
.link-returnall {
  margin-left: 10px;
}
.link-returnall:hover{
  cursor: pointer;
}
/* context icons styles */
.icons-context img {
  width: 16px;
  height: 16px;
  margin-right: 2px;
}
.icons-context .form-action-color{
  font-size: inherit !important;
  width: 20px;
  height: 20px;
}
.cl-custom-action-section{
  display: inline-block;
  width: 100%;
}
.cl-custom-action-section button{
  font-size: 12px !important;
  padding: 4px 8px;
}
.context-grid{
  display: inline-block;
  width: 100%;
}
.position-inherit{
  position: inherit !important;
}
/* custom-select box position */
.custom-ui-select-position ul.ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu{
  top: inherit !important;
}

.custom-tooltip-width .tooltip-inner {
  white-space: break-spaces;
  word-break: break-all;
}

.cl-context-grid .cl-context-grid-list {
  background-color: #f4f4f4;
  margin-bottom: 1px;
  padding: 2px 8px;
  align-items: center;
}
.cl-context-grid{
  width: 100%;
}
.cl-context-grid-width{
  display: grid;
  grid-gap: 10px 0px;
  grid-template-columns: 74% 26%;
}
.cl-add-btn-asset-category{
  margin-top: 0px !important;
  margin-left: 2px !important;
}
.cl-zone-text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95px;
  display: inline-block;
}
.cl-context-pagination {
  max-height: 200px;
  overflow: auto;
}
.cl-context-pagination-footer span {
  color: #7d7d7d;
  font-size: 12px;
  display: inline-block;
  padding: 5px 10px;
}
.cl-context-pagination-footer span:hover {
  cursor: pointer;
}
.custom-export-btn{
  position: absolute;
  right: 90px;
  top: 10px;
}
.custom-export-btn .action-btn{
  background: linear-gradient(180deg, #00aff6 0%, #0094d0 100%) !important;
  color: #fff;
}
.custom-export-dropdown{
  padding: 10px;
  min-width: 160px;
}
.custom-export-dropdown li{
  border-bottom: 0px solid #d8d8d8 !important;
}
.custom-export-dropdown > li > a{
  font-size: 13px;
}
.custom-panel-edit-icon{
  color: #169dd2;
  font-size: 14px;
  margin-left: 10px;
}
.custom-panel-edit-icon .disable-actionbutton.fa{
  color: #a6a6a6 !important;
}
#custom-ruleset-gridid .ui-grid-cell-contents.info-selected{
  background-color: #0094d0;
    color: #fff;
    border-radius: 3px;
    padding: 2px 2px 3px 2px;
    height: 24px;
    margin-top: 3px;
}

.share-tenant {
  padding: 0px 10px;
  margin: 0px 4px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
/* composite-shipments styles*/

.cl-tracking-wizard-ul {
  overflow: hidden;
  color: #455A64;
  padding-left: 0px;
}

.cl-tracking-wizard-ul li {
    color: #fff;
    list-style: none;
    margin-right: 10px;
    position: relative;
    margin-right: 10px !important;
    flex: 0 0 6%;
}
.cl-tracking-wizard-ul li span {
  width: 22px;
  height: 22px;
  background: #b7b7b7;
  border-radius: 50%;
  line-height: 21px;
  display: inline-block;
  color: #fff;
}
.cl-tracking-wizard-ul li .fa {
  color: #666;
  position: absolute;
  right: -12px;
  top: 5px;
}
.cl-tracking-wizard-ul li.cl-lastshipment .fa{
  display: none;
}
.cl-tracking-wizard-ul li.active span, .shipment-circle.active {
  background-color: #f5a623 !important;
}
.cl-tracking-wizard-ul li.completed span, .shipment-circle.completed {
  background-color: #bbc92f !important;
}
.cl-tracking-wizard-ul li.readytostart span,.cl-tracking-wizard-ul li.draft span,.shipment-circle.draft,.shipment-circle.readytostart {
  background-color: #b7b7b7 !important;
}
.cl-tracking-wizard-ul li span:hover{
  cursor: pointer;
}
.cl-tracking-wizard-ul li.draft a {
  pointer-events: none;
}
.cl-tracking-wizard-scroll{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.cl-tracking-wizard-ul a.link-disable{
  pointer-events: none;
}
.cl-ps-relative{
  position: relative;
}
.cl-tracking-wizard-position ul{
  position: absolute;
  width: 80%;
  left: 30%;
}

.cl-custom-tracking-grid .custom-col-4,.cl-custom-tracking-grid .custom-col-7  {
  width: 38.333333%;
}
.cl-custom-tracking-grid .custom-col-1 {
  width: 23.3334%;
}

/* composite shipment styles */
.cl-compositeshipment-details{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.cl-compositeshipment-details .cl-composite-cards{
  width: 26%;
  min-width: 26%;
  min-height: 140px;
  padding: 10px 10px 20px 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgb(178 178 178 / 50%);
  margin-right: 15px;
  margin-bottom: 10px;
  border: 1px solid transparent;
}
.cl-compositeshipment-details .cl-composite-cards:hover, .cl-composite-cards.cl-card-active {
  border: 1px solid #00aff6;
  cursor: pointer;
}
.cl-compositeshipment-details .cl-composite-cards h4{
  margin-top: 5px;
  color: #757575;
  font-size: 16px;
  font-weight: 600;
  display: flex;
}
.cl-compositeshipment-details .cl-composite-cards h4 .shipment-circle{
  width: 22px;
  height: 22px;
  background-color: #979797;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-right: 5px;
}
.cl-compositeshipment-details .cl-composite-cards ul{
 list-style: none;
 padding: 0px;
 margin: 0px;
}
.cl-compositeshipment-details .cl-composite-cards ul li{
  width: 100%;
  display: flex;
}
.cl-compositeshipment-details .cl-composite-cards ul li .header-property{
  width: 40%;
  font-size: 14px;
  font-weight: bold;
  color: #757575;
}
.cl-compositeshipment-details .cl-composite-cards ul li .value{
  width: 60%;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
}

.cl-compositeshipment-details::-webkit-scrollbar,.cl-details-overflow::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.cl-compositeshipment-details::-webkit-scrollbar-track,.cl-details-overflow::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.cl-compositeshipment-details::-webkit-scrollbar-thumb,.cl-details-overflow::-webkit-scrollbar-thumb {
  background-color: rgb(106 106 106 / 62%);
  outline: 1px solid lightgrey;
  border-radius: 3px;
}

.wt__filter-section > .cl-expand-wrapper {
  transition: all 0.5s ease;
  overflow: hidden;
  min-height: 0;
}

.wt__filter-section.expanded > .cl-expand-wrapper {
  min-height: 150px;
}


.cl-btn-link{
  background-color: transparent;
  border: 0px solid;
  color: #7d7d7d;
  padding: 2px 5px;
  font-size: 14px !important;
}
.cl-btn-edit{
  color: #0094D0;
}
.cl-btn-cancel:focus,.cl-btn-cancel:active,.cl-btn-cancel:hover{
  color:#7d7d7d;
  background-color: transparent;
}
.cl-btn-edit:hover,.cl-btn-edit:focus,.cl-btn-edit:active{
  color: #72ceea;
  background-color: transparent;
}
.cl-updated-text{
  font-style: italic;
  font-size: 10px;
  color:#7d7d7d;
}
.cl-details-overflow{
  max-height: 50px;
  overflow-y: auto;
}
.cl-main-notes{
  border: 1px solid #a4a4a4;
  padding: 5px;
}
.cl-overflowy-auto{
  overflow-y : auto;
}
.cl-custom-grid {
  width: 100%;
  grid-template-columns: minmax(110px, 110px) minmax(110px, 80%) !important;
  align-items: start;
  height: auto;
  margin-bottom: 5px;
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
pre .json-value { color: green; }
pre .json-key { color: red; }


.password-validation {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 10px;
}

.password-validation li {
    line-height: 1.5em;
    list-style: none;
}

.custom-sftp-user-add-btn {
  position: absolute;
  right: 15px;
  top: 15px;
}

.custom-sftp-user-add-btn .popover .arrow {
  margin-left: 91px !important;
}

.toggle-update-password {
  right: 20px;
  top: 5px;
  position: absolute;
  z-index: 2;
  color: #a4a4a4;
  font-size: 18px;
  cursor: pointer;
}
