<div id="leftNavDropdownWrapper">
  <div id="leftNavDropdown" class="btn-group dropdown ">
    <div class="dropdown-toggle" (click)="openLeftNav()" data-toggle="dropdown" id="leftNavDropdownMenu">
    </div>
    <div id="wt__hamburger" class="color-white header_hamburger">
      <div id="nav-icon3" class="pointer" [ngClass]="{'open' : !showBars}">
        <span class="background-white"></span>
        <span class="background-white"></span>
        <span class="background-white"></span>
        <span class="background-white"></span>
      </div>
      MENU
    </div>
    <div id="left-nav-bar" class="wt__box background-white wt__hamburger-dropdown dropdown-menu dropdown-menu-right background-white color-333" role="menu"
         aria-labelledby="leftNavDropdownMenu">
      <ul class="level1">
        <li>
          <ul class="level2 collapse in">
            <li *ngFor="let nav of navRoutes; index as i" class="nav-link-color" (click)="changeRoute(nav.path)">
              <span>
              <div [ngClass]='nav.config?.icon' class="icon-color color-38 border-38"></div>
              </span>
              <div *ngIf="nav.config?.settings.pageTitleKey">{{nav.config?.settings?.pageTitleKey | translate}}</div>
              <div *ngIf="!nav.config?.settings.pageTitleKey && nav.config?.translateKey">{{nav.config?.settings?.translateKey | translate}}</div>
              <div *ngIf="!nav.config?.settings.pageTitleKey && !nav.config?.translateKey">{{nav.config?.settings?.content}}</div>
            </li>
          </ul>
        </li>
      </ul>
      <section *ngIf="otherApps && otherApps.length">
        <div class="nav-footer primary-action-color" *ngIf="otherApps.length === 1">
          <a [href]="otherApps[0].url" class="color-white">Switch to {{otherApps[0].name}}</a>
        </div>
        <div *ngIf="otherApps.length > 1">
          <div class="nav-multiapp-footer border-bottom-a9">
            <span class="background-white">Apps</span>
          </div>
          <div class="wt__flex-row wt-wrap nav-app-wrapper">
            <div *ngFor="let app of otherApps" class="nav-app">
              <a [href]="app.url" [textContent]="app.name"></a>
            </div>
          </div>
        </div>

      </section>

    </div>
  </div>
</div>
