<span class="clui-search-textbox">
  <form class="clui-search-textbox-form" name="searchIndoor" #searchForm (ngSubmit)="fnDoSearch(value)">
       <div class="input-group">
            <input type="text" [(ngModel)]="value" name="searchText" class="form-control clui-search-field border-white color-white" placeholder="Search..."/>
            <span (click)="fnSearchCleared()"
                  class="input-group-addon border-white color-white"><span class="fa fa-times"></span></span>
       </div>
  </form>
</span>
