.clui-search-textbox {
  z-index: 1;
  position: relative;
  top: 5px;
}

.clui-search-textbox .clui-search-textbox-form,
.clui-search-textbox .clui-search-textbox-form .fa {
  background-color: #fff;
  color: #555 !important;
  border-radius: 5px;
}

.clui-search-textbox .clui-search-textbox-form .input-group {
  width: 100%
}

.clui-search-textbox .clui-search-textbox-form input.clui-search-field {
  border: 0;
  box-shadow: none;
  width: 100%;
  padding-right: 0;
  color: #555 !important;
}
