<!-- HORIZONTAL TOP BAR -->
<div id="secondarynav" class="wt__nobg">
  <div class="nav-width-1400">
    <div id="breadcrumb_title"
      class="color-55"
      [ngClass]="SHELL_MODE != SEARCH_MODE ? sidebarbehaviour.breadcrumbClass : 'col-md-9 col-sm-6 col-xs-7'"
      style="display: flex;">
      <span id="back_button" class='fa fa-chevron-left' (click)="exitSearch()"
        *ngIf="sidebarbehaviour.showBack || SHELL_MODE == SEARCH_MODE"></span>
      <span (innerHTML)="bclabel" *ngIf="!doTranslate" class="spanEllipses" (title)="bclabel"></span>

      <span *ngIf="doTranslate" [ngClass]="{'wristband': doTranslate}" class="spanEllipses"
        (title)="bclabel"> {{ bclabel | translate }}</span> <!--TODO fix the title here-->
    </div>

    <div class="col-md-6 col-sm-6 col-xs-5 wt__ta-center"
      *ngIf="!(limitedAccessUser || !sidebarbehaviour.showSubmenu || SHELL_MODE == SEARCH_MODE)">
      <div class="navbar_button_container responsive_nav"
        id="navbar_button_container_{{bclabel.replace(' ','').toLowerCase()}}" *ngIf="CURRENT_USER">
        <div class="navbar_current_display hidden-sm-up"><span class="navbar_current_display_text"></span><i
          class="fa fa-chevron-down"></i></div>
        <ul class="navbar_item_container">
          <li *ngFor="let r of navRoutes" [ngClass]="{'active active-nav-bar': isCurrent(r)}" class="navbar-button">
            <!-- <a *ngIf="!r.translateKey" [ngClass]="{'active-nav-bar': isCurrent(r)}" (href)="'#' + (r.originalPath | paramReplace : r.settings)" [innerHTML]="r.settings.content"></a>
            <a *ngIf="r.translateKey" [ngClass]="{'active-nav-bar': isCurrent(r)}" (href)="'#'+ (r.originalPath | paramReplace : r.settings)">{{r.translateKey | translate}}</a> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
