<div class="wt__super-header background-brown color-white">
  <div class="nav-width-1400">
    <div class=" wt__flex-row " *ngIf="showAdminNav()">
      <div class="wt__col-33">
        <a class="color-white" *ngIf="showReturnLink()" href="/cloudos/logout/proxy">Return To All Tenants</a>
      </div>
      <h5 class="wt__col-33 wt__center-text wt__capitalize">{{tenantName}}</h5>
      <div class="wt__col-33 wt__flex-end">
        <h5 class="mr10">viewing as: {{user.name}}</h5>
      </div>
    </div>
  </div>
</div>
