<!-- HEADER MENU -->
<div class="main-scroll" *ngIf="isBootstrapDone">
  <div class="width-1400 background-f8 app-bg">
    <super-admin-nav id="super-admin-nav" *ngIf="showAdminNav()"></super-admin-nav>
    <div id="top-nav-container" [ngClass]="{'admin-mode':showAdminNav()}" *ngIf="!headless" class="wt__posf">
      <top-nav></top-nav>
    </div>
    <!-- SUB NAVBAR -->
    <div id="secondary-nav-container" [ngClass]="{'admin-mode':showAdminNav()}" *ngIf="!headless"
         class="wt__posf background-f8">
      <side-bar></side-bar>
    </div>
    <div class="main-container" [ngClass]="{'admin-mode':showAdminNav()}">
      <!-- MAIN CONTENT -->
      <div [ngClass]="SHELL_MODE == CONTENT_MODE? 'shell-visible':'shell-hidden'"
        id="main-content">
        <router-outlet></router-outlet>
      </div>
      <!-- LOADER -->
      <div class="loader" *ngIf="isLoading" [ngClass]="isLeftNavBar?'l226':'l0'" (click)="closeLeftNav()">
        <div class="spinner" [ngClass]="isLeftNavBar?'ma40':'ma'"></div>
      </div>
      <!-- CSS BRANDING ELEMENT -->
      <dynamic-theme-css></dynamic-theme-css>
    </div>
  </div>
</div>
