<div id="header" class="vcenter gradient-header border-bottom-black" [ngClass]='{"is-intransit": isInTransit }'>
  <div class="nav-width-1400 wt__flex-row wt__posr">
    <app-left-side-nav *ngIf="!notificationOnly" class="wt__pin-left t0"></app-left-side-nav>
    <div *ngIf="!tagLine" id="logo" [ngClass]="poweredBy?'with-cl-logo':''" class="header-banner-wrapper text-center">
      <div [ngStyle]="{'background-image':'url('+logoURL+')'}">
        <a (click)="logoClicked()" class="pull-left"></a>
      </div>
    </div>
    <div *ngIf="tagLine" [ngClass]="poweredBy?'with-cl-logo':''" class="header-banner-wrapper cl-no-padding">
      <section class="ml30 text-left pl0">
        <img (src)="logoURL" class="img-responsive h40 cursor-pointer" (click)="logoClicked()" />
      </section>
      <section class="text-right fs20 color-white pl0 pt5 hidden-sm hidden-xs">
        <span id="app-tagline-holder" class="gradient-header" (innerHTML)="tagLine"></span>
      </section>
      <section class="col-sm-5 text-right fs14 pr0 pl0 color-white pt10 hidden-md hidden-lg" (innerHTML)="tagLine">
      </section>
    </div>

    <div class="wt__icon-tray"
      [ngClass]="{'three-icon-tray': hasCustomerSupportAccess, 'has-search-icon': !isInTransit, 'icon-wrap-abs': !tagLine}">
      <div *ngIf="!isInTransit" id="search_bar" [ngClass]="{'show-search':showSearchBar}">
        <app-search-box (value)="searchObject.query"></app-search-box>
      </div>
      <span *ngIf="!isInTransit" [ngClass]="{'search-icon-submit-mode': showSearchBar}"
        class="fa fa-search fa-2x color-white pos-rel" (click)="searchClicked(searchObject.query)">
      </span>
      <!-- <customer-support *ngIf="hasCustomerSupportAccess" subject-loading="subjectLoading" subjects="subjects">
      </customer-support> -->
      <span>
        <!-- <top-notifications *ngIf="!notificationOnly"></topnotifications> -->
      </span>

      <!-- Login -->
      <div class="btn-group mt2">
        <div id="user_name" class="dropdown-toggle" data-toggle="dropdown">
          <span class="fa fa-user-circle-o fa-2x user_icon color-white header-icon-color" (click)="toggleLoggedInUser()"></span>
          <div id="user_img" class="hidden-xs" *ngIf="loggedInUser.getUser().profilePicURL"
            [ngStyle]="{'background-image':'url('+ loggedInUser.getUser().profilePicURL+')'}"
            (click)="toggleLoggedInUser()"></div>
        </div>
        <ul class="dropdown-menu dropdown-menu-right mt8 pt0 menu-profile profile-pull-down" role="menu"
          aria-labelledby="dropdownMenu">
          <h5 class="notifications-heading color-38 user-profile-name" data-toggle="tooltip" data-placement="right"
            (title)="loggedInUser.getUser().name">{{ loggedInUser.getUser().name }}
          </h5>
          <li class="mt10">
            <a class="clAnchor nav-link-color" href="#/user/myprofile" tabindex="-1">
              <span class="fa fa-user-circle-o icon-color color-38  pl7"></span>My Profile</a>
          </li>
          <li (click)="openPasswdChange(null)" *ngIf="!isFedaratedUser">
            <a class="clAnchor nav-link-color" tabindex="-1">
              <span class="fa fa-lock icon-color color-38 "></span>Update Password</a>
          </li>
          <li>
            <a class="clAnchor nav-link-color" tabindex="-1" href="logout">
              <span class="fa fa-sign-out icon-color color-38 "></span>Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="build-info build-info-color" *ngIf="showBuildInfo">
    <i class="fa fa-info-circle" (title)="buildLabel"></i>
  </div>
</div>
